[2019-04-25 04:26] t496971418 commented on #480
I have the same question.🧐

[2019-04-25 04:29] t496971418 commented on #480
![WX20190425-122710](https://user-images.githubusercontent.com/25219343/56709801-cc5c6880-6755-11e9-8172-71b1a5ac91c6.png)

[2019-04-26 17:53] macrigiuseppe commented on #480
This was fixed and release in 1.0.0-1 version

[2019-04-26 17:53] #480 closed

[2019-04-26 18:00] macrigiuseppe commented on #474
hey @snehabhapkar,
you are missing a middleware component in your app __react-palm__. Without such component file uploading will not work

Please check this link for references: https://github.com/uber/kepler.gl/blob/master/examples/demo-app/src/store.js#L37

[2019-04-26 18:07] macrigiuseppe commented on #477
completed

[2019-04-26 18:07] #477 closed

[2019-04-26 18:08] #476 closed

[2019-04-26 18:08] macrigiuseppe commented on #476
not a bug

[2019-04-26 18:11] macrigiuseppe commented on #475
@ShaneDeconinck We are gonna look into this feature

[2019-04-26 18:12] macrigiuseppe commented on #475
@heshan0131 add a height domain slider to allow to set also the minimum value

[2019-04-26 18:14] macrigiuseppe commented on #473
@dash-alex would you wanna to work on this feature and collaborate with us?

[2019-04-26 18:16] macrigiuseppe commented on #471
We will look into this after upgrading kepler to deck.gl v7

[2019-04-26 18:17] macrigiuseppe commented on #468
@macrigiuseppe try to reproduce the issue on windows

[2019-04-26 18:25] macrigiuseppe commented on #177
@stevepepple we are in the process to upgrade to deck.gl 6.4 and we will fix it

[2019-04-26 21:31] macrigiuseppe commented on #324
when trying the above file, kepler.gl will crash and show the following in the console:
<img width="1792" alt="Screen Shot 2019-04-26 at 2 30 18 PM" src="https://user-images.githubusercontent.com/2554552/56837615-e8343d00-682f-11e9-9e72-6e1ef018ed1d.png">

[2019-04-28 23:17] snehabhapkar commented on #474
hey @macrigiuseppe,
Thanks for the solution! My bad I missed it.
Now it is working as expected hence closing the issue.

[2019-04-28 23:17] #474 closed

[2019-04-29 03:00] grobins commented on #481
Or give a variable in terms of frames per second?
QGIS Time manager allows for frame display time, fps, and a window in which to include points.

[2019-04-29 07:23] mayteio commented on #370
Any further to this? I'd love to use kepler's data management and easy layering to create a story map but I need Trips layer.

[2019-04-30 05:50] mayteio opened #492 "View state transitions"
**Is your feature request related to a problem? Please describe.**
Kepler's data-management is extremely optimised and far better than anything we can roll ourselves. We'd love to use Kepler's data and layer management to handle several datasets we load into a story map, however, the story requires view state transitions as described in [deck.gl's](https://github.com/uber/deck.gl/blob/master/docs/

[2019-04-30 06:08] abhayap commented on #481
+1

[2019-04-30 12:37] TrantorM opened #493 "Data-driven styling with expressions"
[Mapbox GL JS expressions](https://docs.mapbox.com/help/tutorials/mapbox-gl-js-expressions/) is a very nice way to do data-driven styling based on custom data properties and zoom level. In my case I need it to draw a choropleth map based on a calculation that uses multiple properties.

Do you plan to introduce expressions in the future? I couldn't find any remarks in the roadmap regarding this.

D

[2019-04-30 23:56] macrigiuseppe commented on #468
@djouallah I found the root cause of the issue, some of the asset header links are timing out and blocking the rest of the browser flow.
I provided a fix in #488
As soon as the branch will be merged i will publish a new version of our demo site with the enahnced export functionality

[2019-05-01 00:29] macrigiuseppe commented on #324
@chintanp i checked your files and it looks your files don't contain actual lat/long coordinates ([ 795609.717250004410744, 618963.649000003933907, 0.0 ]); unfortunately Kepler.gl is only able to handle lat/long coordinates

[2019-05-01 00:29] #324 closed

[2019-05-01 14:17] itamar-otonomo opened #495 "Add a ruler tool - enable manual distance measurenment"
As I zoom in and out of the map, there is no way to measure the distance between two points or even get an idea of the scale of the current position.

It would be great if there would be an indication of current scale. A real win would be a measuring tool, that would enable the user to measure distance between arbitrary locations on the map

[2019-05-01 14:24] itamar-otonomo opened #496 "Add bookmark feature"
When I want to impress my friends and foes (co-workers) with some brilliant geospatial data representation, It is really difficult for me to orchestrate the fast movement between pre-set locations.

I am ashamed to admit that the best method I found is to save multiple files, each with the same data and config, but in a different zoom and starting position. Whenever I want to jump to a different e

[2019-05-01 18:27] heshan0131 commented on #493
Hi @TrantorM I understand your use case. Personally I find the expression like `10, ['/', ['-', 2017, ['number', ['get', 'Constructi'], 2017]], 30],`  in data-driven styles little hard to understand.  They have their limitations of course because everything needs to be folded into a JSON

We are planning to add support to edit the underlying dataset using the big table editor. Something like Carto

[2019-05-01 18:29] heshan0131 commented on #495
👍 Could be a fan weekend project for me

[2019-05-01 18:31] heshan0131 commented on #492
@chrisgervang is working on a view transition UI that can be imported  by kepler.gl~

[2019-05-01 19:08] heshan0131 commented on #492
That said, if you are using kepler.gl in your own app, you can still dispatch `updateMap` action to kepler.gl reducer add the `FlyToInterpolator` to payload

I create a `view-transition` example to demo it. You can find it here. Pretty easy to do
https://github.com/uber/kepler.gl/blob/view-transition-example/examples/view-transition/src/app.js

![view-transition](https://user-images.githubusercont

[2019-05-01 20:22] macrigiuseppe commented on #460
travis-ci could be an alternative option

[2019-05-01 20:31] chrisgervang commented on #492
I’m currently trying to learn more about how people would like to use the editor, and have a couple questions.

Would you like to be able to playback a couple view state transitions, as if it were like a short video?

Or maybe, would you like to manually trigger transitions as part of a love presentation?

If you are hoping to use it in another way, I’d like to know too. Thanks!

[2019-05-01 22:20] #468 closed

[2019-05-02 14:25] TrantorM commented on #493
Hi @heshan0131 Thx for the response. I am very excited about the advances in data manipulation (especially in joining) and data-driven styling.

Some thoughts on the topic:
- For my use case I want to use two selectors that chose two properties and calculate the ratio of them, which is the base for the choropleth. With e.g. 12 columns, there are 66 combinations, or 132 considering the inverse rati

[2019-05-02 18:58] #485 closed

[2019-05-02 21:18] heshan0131 opened #497 "[Feat] More label control for point layer"
- Allow adding multiple labels per layer based on different fields
- Add option to align label vertically: `top`  `center` `bottom`
- Allow offset label by the radius of the point

[2019-05-02 21:21] heshan0131 commented on #496
I think you are asking for this:
https://github.com/uber/kepler.gl/issues/492

[2019-05-03 17:51] #482 closed

[2019-05-03 18:16] macrigiuseppe opened #498 "Provide UI feedback for operations"
**Is your feature request related to a problem? Please describe.**
Currently Kepler.gl doesn't provide a UI feedback when operations are successful or failed.

**Describe the solution you'd like**
When operations (list below) are performed, Kepler.gl should display a notification message providing information about the outcome of the operation along with details if necessary.

Operations:
- Upload

[2019-05-03 20:55] macrigiuseppe opened #499 "Reduce Bundle Size (v1.0.0-2)"
**Is your feature request related to a problem? Please describe.**
Based on the current size evaluation:
- https://bundlephobia.com/result?p=kepler.gl@1.0.0-2

Kepler.gl is using some heavy libraries that we should evaluate to replace/remove to reduce the package size.

Libraries to evaluate:

| Library |  %  | (KB) | Alternatives | Reduce of | Issue |
|--------|----|------|-------------|---------

[2019-05-06 01:46] macrigiuseppe commented on #478
Closed since no feedback was provided in more than two weeks

[2019-05-06 01:46] #478 closed

[2019-05-06 01:48] macrigiuseppe commented on #439
closing this because no activity in the past two weeks. Please re-open if necessary.

[2019-05-06 01:48] #439 closed

[2019-05-06 01:49] macrigiuseppe commented on #446
Closing because implemented in #482

[2019-05-06 01:49] #446 closed

[2019-05-07 00:25] djouallah commented on #468
@macrigiuseppe  great works, it is very fast now, thank you

[2019-05-07 19:26] sidPhoenix17 opened #503 "Layer movement by dragging doesn't give expected layer positioning"
**Describe the bug**
The layers of points/polygons do not move as expected on dragging. If I want to move the issue at top to another position, dragging it to the relevant position makes some other layers move but that layer still remains at the top, making the order more unorganized.

**To Reproduce**
Steps to reproduce the behavior:
1. Have atleast 4-5 layers added into the map from multiple fil

[2019-05-08 08:08] patofw opened #504 "Get coordinates of the mouse pointer"
It's hard to locate yourself in the map without having the coordinates displayed with the pointer.
I consider it to be a great enhancement as it would open the door for new use cases, specially in navigation.
I've seen this feature in many Mapbox apps and was wondering if anyone knows how to incorporate it in Kepler.

Here is a Mapbox example on how to do it:
https://docs.mapbox.com/mapbox-gl-js/e

[2019-05-08 11:02] bragilev opened #505 "Override default settings"
Hi
I want to override the default style with :
    "mapStyle": {
      "styleType": "customStyle",
      "topLayerGroups": {},
      "visibleLayerGroups": {
        "label": true,
        "road": true,
        "border": false,
        "building": true,
        "water": true,
        "land": true
      },
      "mapStyles": { "customStyle": {
        "id": "customStyle",
        "label": "GAP",

[2019-05-09 17:27] macrigiuseppe commented on #505
Hello @bragilev,
If I understand correctly you want to __add__ a new mapstyle to the existing ones, correct?

In any case, would you be able to provide a repo with your code so we can look at it and provide better support?

thank you

[2019-05-09 17:31] macrigiuseppe commented on #503
Hi @sidPhoenix17 ,
would you be able to provide a repo and data to reproduce your issue?

Thank you

[2019-05-09 17:33] macrigiuseppe commented on #458
Closing this since it was merged into master

[2019-05-09 17:33] #458 closed

[2019-05-09 17:37] macrigiuseppe commented on #473
I am gonna close this one since we didn't receive any feedback

[2019-05-09 17:37] #473 closed

[2019-05-09 17:38] macrigiuseppe commented on #32
I am gonna close this one since it is really old. Feel free to re-open

[2019-05-09 17:38] #32 closed

[2019-05-09 17:41] macrigiuseppe commented on #39
The new line is this: https://github.com/keplergl/kepler.gl/blob/master/src/processors/data-processor.js#L368

[2019-05-09 20:38] macrigiuseppe commented on #36
Closing because duplicated

[2019-05-09 20:38] #36 closed

[2019-05-09 20:38] macrigiuseppe commented on #35
Closing because duplicated

[2019-05-09 20:38] #35 closed

[2019-05-09 20:38] macrigiuseppe commented on #53
Closing because duplicated

[2019-05-09 20:38] #53 closed

[2019-05-09 20:38] macrigiuseppe commented on #52
Closing because duplicated

[2019-05-09 20:38] #52 closed

[2019-05-09 20:40] macrigiuseppe commented on #54
Closing because of no interest

[2019-05-09 20:40] #54 closed

[2019-05-09 20:40] macrigiuseppe commented on #55
Closing because duplicated

[2019-05-09 20:40] #55 closed

[2019-05-09 20:41] macrigiuseppe commented on #82
Closing because of no interest

[2019-05-09 20:41] #82 closed

[2019-05-09 20:41] macrigiuseppe commented on #86
Closing because fixed

[2019-05-09 20:41] #86 closed

[2019-05-09 20:41] macrigiuseppe commented on #87
Closing because duplicated

[2019-05-09 20:41] #87 closed

[2019-05-09 20:45] macrigiuseppe commented on #46
Closing because of lack of interests

[2019-05-09 20:45] #46 closed

[2019-05-09 20:47] macrigiuseppe commented on #22
Closing

[2019-05-09 20:47] #22 closed

[2019-05-09 20:48] macrigiuseppe commented on #111
we will be able to take a look at this after upgrading to deck.gl v7

[2019-05-09 20:48] macrigiuseppe commented on #103
mentioned in #498

[2019-05-09 20:50] macrigiuseppe commented on #123
closing because duplicate of #399

[2019-05-09 20:50] #123 closed

[2019-05-09 20:55] macrigiuseppe commented on #85
We are gonna look into implementing data connectors along with examples to show their abilities

[2019-05-09 20:56] macrigiuseppe commented on #128
Closing

[2019-05-09 20:56] #128 closed

[2019-05-09 20:58] macrigiuseppe commented on #135
fp64 is currently supported out of the box in kepler.gl, does your issue still exist?

[2019-05-09 20:58] macrigiuseppe commented on #145
closing

[2019-05-09 20:58] #145 closed

[2019-05-09 20:58] #144 closed

[2019-05-09 20:59] #140 closed

[2019-05-10 06:44] sidPhoenix17 commented on #503
Hi,
To replicate this issue, please open this map - https://kepler.gl/demo/map?mapUrl=https://dl.dropboxusercontent.com/s/kxb7ld5qsds29c1/keplergl_mzf9wf.json
I created this map by adding couple of additional layers on top of the nyctrips demo mapview.

Current order of layers is: new_layer - pickup - line view - dropoff - arc

When I tried to move it to a new order (say: line view - arc - new_lay

[2019-05-11 07:39] akuckartz commented on #53
Another duplicate was also closed as a duplicate. Where is the original?

[2019-05-12 08:05] bragilev commented on #505
Hi
I want to start a Kepler application with my custom map style and it works
as expected, I see the only "GAP" map style instead the "Dark".
But then the "Map Layers" section disappears. What I need to add in the
configuration file to maintain this section ?
Please see the current snippet of the "mapStyle" configuration :

"mapStyle": {
  "styleType": "customStyle",
  "topLayerGroups": {
  },
  "

[2019-05-13 01:24] macrigiuseppe commented on #505
In order to help we need to be able to reproduce your use case to understand whether it's a bug or a different feature.
Can you please create a demo repo to reproduce your issue and describe all steps to do so?

Thank you.

[2019-05-13 01:29] macrigiuseppe commented on #503
hello @sidPhoenix17 , I tried your map and it seems working, see below

![issues-503](https://user-images.githubusercontent.com/2554552/57590955-c0a5cb80-74e3-11e9-9e38-9f5a28a22fd2.gif)

Would you mind creating a video with the nyc taxi map and try to replicate the issue so it will be easier to reproduce it on my side.

[2019-05-13 06:04] sidPhoenix17 commented on #503
Hi, the issue is visible in your screen recording that you have attached as well. The problem that I am facing, is not in the map but in the navigation drawer w.r.t re-positioning layers in a desired order.
As I can see in your video as well:
1. In one of your attempts, you try to move "drop-off" from position 3 to position 2 but it ends up moving to position 4.
2. In another of your attempts, you

[2019-05-13 06:22] macrigiuseppe commented on #503
I see the issue. The behavior is definitely wrong.

[2019-05-13 14:00] bragilev commented on #505
Hi
I shared the project : https://github.com/bragilev/kepler.
It's mostly the template from vis.academy example (
https://vis.academy/#/kepler.gl/setup).
In addition I added style.json file, it is located on tile server with
mbtile file.
Actually, you will not be able to access the server and load the
application, but maybe just looking the code and the configuration will be
enough.

Thanks

On Mo

[2019-05-13 19:44] #137 closed

[2019-05-13 19:45] heshan0131 opened #507 "Upgrade to deck.gl v6.4"

[2019-05-13 19:46] heshan0131 commented on #177
#507

[2019-05-14 09:02] jofri99 opened #508 "Mapbox NavigationControl is buggy"
**Describe the bug**
When I add the navigation control of mapbox to kepler and use it, it don't work like expected. See Screenshots.

**To Reproduce**
Steps to reproduce the behavior:
In app.js
1. get the Mapboxref
2. import NavigationControl from mapbox-gl
3. call `map.addControl(new NavigationControl(), 'top-left');` in a mapboxref function

**Expected behavior**
Zooming and routating without th

[2019-05-14 12:52] patofw commented on #508
Can you please tell me how you added the NavigationControl function ?

[2019-05-14 23:14] macrigiuseppe commented on #503
This is now fixed in master and deployed on our Kepler.gl website.
It will also be part of next Kepler release

[2019-05-14 23:14] #503 closed

[2019-05-15 07:07] Julpebble opened #510 "Hook up with Live Google Sheet"
Hello Kepler Folks,

First of all, congratulations on this amazing job. I'm really not expert when it comes to programming... but I love to learn & play on my own...

Here is my very first GitHub request... 8-)

- My goal is pretty simple: create a connection between Kepler.gl & a google sheet (where I stored my locations), maybe this feature would be of interest to others kepler map lovers...

-

[2019-05-15 12:46] MSOANCAH opened #511 "how can we lower the graphics of kepler.gl"
I have installed kepler in my system, After loading data its becoming too slow. I think because of heavy graphics its happening. Can we somehow reduce the graphics so that i can use it in my system.
Thanks

[2019-05-16 21:07] macrigiuseppe commented on #507
Implemented and be available for next release

[2019-05-17 08:17] jofri99 commented on #508
Like described above. I update to 1.0.0-2 and then used getMapboxRef like described in the demo app.
Then I imported ScaleControl from mapbox-gl and added it with sth like this: `map.addControl(new NavigationControl(), 'top-left');`

[2019-05-17 18:15] briantcl commented on #481
closing this as this is being completed.

[2019-05-17 18:15] #481 closed

[2019-05-18 19:18] macrigiuseppe commented on #460
Implement netlify integration

[2019-05-20 04:35] robert-claypool commented on #406
I could probably implement this, however I need Kepler to show custom tiles in addition to the standard base map.

My use case is to show (1) an already available base map such as Mapbox Muted Night and (2) map tiles from a custom tile server layered on top. The custom tiles aren't really a "base map". They are reference layers such as electric power lines, transformers, and poles.

If I issue a P

[2019-05-20 05:56] sidPhoenix17 opened #517 "Visualisation of points erroneous if radius_range_min is set to 0."
**Describe the bug**
If I select the visualisation as "Point" and fix the radius range from a radius_min to radius_max basis a specific column, then if radius_min = 0 , the points with lowest score end up having extremely large radius. But if I set radius_min=0.1, then the points with lowest score are sized relatively.

**To Reproduce**
To reproduce this behaviour, I have created a map with my own

[2019-05-20 07:38] murari-goswami commented on #331
Any date for release ?

[2019-05-20 19:32] MosheMalin opened #518 "What can be passed in query string to kelper? can I pass csv and config?"
I am able to open kepler with data set by using the query string ?mapurl=<my_url_of_data>.csv
I can also use json, but I need to use csv (it's a dynamic request that provides the data in run time, and the csv produces much smaller response).

So, with csv - can I also provide configuration? can I have multiple layers in the csv ?

Thank you!
Moshe

[2019-05-20 23:02] heshan0131 opened #519 "[Bug] text label position off when map is particular zoomed in or out"
Running the demo, I noticed the distance between label and point changes based on the zoom level but is odd when map is particular zoomed in or out. See pictures below:

__Zoomed In__
<img width="1392" alt="Screenshot 2019-05-17 21 35 13" src="https://user-images.githubusercontent.com/2554552/57964566-161b1780-78ec-11e9-80fc-53e6fbc9bd3e.png">

__Zoomed Out__
<img width="1392" alt="Screenshot 2019

[2019-05-21 05:49] sidPhoenix17 opened #522 "Jupyter: Keplergl map not saving to html"
**Describe the bug**
Whenever I am trying to save a map to html from my jupyter notebook, there is an error as shown below:
[code]
I am using this documentation to https://github.com/keplergl/kepler.gl/tree/keplergl-jupyter/bindings/keplergl-jupyter

**To Reproduce**
Steps to reproduce the behavior:
1. While I first faced this issue when I was trying to save a kepler map with a decent chunk of dat

[2019-05-21 09:04] tusheet commented on #389
Hi Shan He,
Wondering on the updates on this and if there have been any changes to the expected timelines for Milestone 2: Geo Operations.

Regards,
Tusheet

[2019-05-21 09:25] tusheet opened #523 "Data Preview does not show all columns"
**Describe the bug**
The data preview shows only a few columns irrespective of how many columns are there in the data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kepler.gl/demo/earthquakes
2. Click on 'Show data tables' in the layers tab
3. Scroll to the left, you can only see till column 'Gap'. Close the data preview
4. Go to the Interactions tab
5. Click on Add Tool Tip

[2019-05-21 12:11] MarshallChen opened #524 "Cluster layer goes blank"
**Describe the bug**
As said the `Cluster Layer` goes blank when zoom out at small zoom level, the official demo can reproduce.

Change the `earthquakes` demo point layer to cluster
![image](https://user-images.githubusercontent.com/1115805/58094923-5e944700-7c04-11e9-9e4f-bb81d77f68ca.png)

 Then zoom out.
![image](https://user-images.githubusercontent.com/1115805/58094946-6d7af980-7c04-11e9-9163

[2019-05-21 12:25] MarshallChen commented on #524
Figure out that ClusterLayers's  setState can avoid it, but I don't think it's the right way. Any help?
[code]

[2019-05-22 13:05] jayliu50 commented on #510
Use the demo app as your reference (and perhaps even starting point). It pulls in csv as well.

<https://github.com/keplergl/kepler.gl/tree/master/examples/demo-app>
<https://github.com/keplergl/kepler.gl/blob/master/examples/demo-app/src/actions.js>

The url you use would probably be obtained using something like this
<https://stackoverflow.com/questions/33713084/download-link-for-google-spreadsh

[2019-05-22 19:25] heshan0131 commented on #406
Sounds good. Before implementation, we usually write an RFC (Request For Comment), stating implementation details so that people have an idea of the related engineering details. You can append the RFC by replying in this thread

[2019-05-23 14:03] patofw commented on #504
Any updates?

[2019-05-23 23:57] 1701413420 opened #526 "[Help]: Height Based On dont work for me"
Hi,
Im trying to add the height of a polygon based on a property as shown here.
![image](https://user-images.githubusercontent.com/31360909/58293469-3a16a700-7d8b-11e9-800a-9ad5a7949952.png)
But it does not work for me, I have the following dataset:
![image](https://user-images.githubusercontent.com/31360909/58293537-6cc09f80-7d8b-11e9-8d16-1aecca154f0e.png)
This is the configuration that I add to

[2019-05-24 09:09] hariprasadBB opened #527 "."

[2019-05-24 09:10] #527 closed

[2019-05-24 11:14] homme commented on #406
Could this be generalised further so that the UI can be used to swap out the base map completely? I.e Mapbox Muted Night is the default but you can add other basemaps with the option of toggling visibility on any of those basemap layers.

[2019-05-24 20:41] cekali commented on #406
My use case is nearly identical to @robert-claypool's. I would need the ability to add several tile layers on top of the base layer. I am currently using TileServer GL, incase that information helps.

[2019-05-27 07:52] geoHeil opened #529 "can no longer start the local development webserver"
On the latest tag (1.0.0) I can no longer start the development webserver:

[code]

[2019-05-28 02:11] heshan0131 commented on #529
Hi Please `rm -r node_modules && yarn --ignore-engines` in the root dir, then `cd examples/demo-app` run the same command again.

[2019-05-28 02:14] heshan0131 commented on #526
Can you open the data table next to the dataset name on top of the layer panel and make sure `requests` is indeed an `integer` field? Sometimes when your data contains none integer value (string), kepler.gl will determine it is not an integer field. Let me know

[2019-05-28 02:20] heshan0131 commented on #524
hmm, it doesn't seem to happen here,  are you on the latest kepler.gl?
<img width="1394" alt="Screen Shot 2019-05-27 at 7 19 59 PM" src="https://user-images.githubusercontent.com/3605556/58446178-87a95180-80b4-11e9-9784-8741fc1c43ce.png">

[2019-05-28 02:59] 1701413420 commented on #526
Hi, I already solved the problem, thank you!!!

[2019-05-28 02:59] #526 closed

[2019-05-28 03:00] MarshallChen commented on #524
Yes the version number in screenshot is `1.0.0-2`. which is https://kepler.gl/demo/earthquakes.
As I said you have to change it to **Cluster** layer. Layer in your capture is Point layer am I right?

[2019-05-28 03:10] MarshallChen commented on #524
![image](https://media.giphy.com/media/U3ms0LiYwWcpRrPVjZ/giphy.gif)
I made a gif

[2019-05-28 05:54] heshan0131 commented on #524
My bad, you were talking about the cluster layer, yea I was able to reproduce this, will investigate

[2019-05-28 06:58] geoHeil commented on #529
Strange. No, this doesn't resolve the issue:

[code]

[2019-05-28 07:55] heshan0131 commented on #529
looking at demo-app/package.json.
[code]

[2019-05-28 11:32] gcoimbra opened #530 "Question"

[2019-05-28 11:32] #530 closed

[2019-05-28 13:20] geoHeil commented on #529
This also did not help. However, I deleted the whole kepler.gl folder and re-cloned. This finally worked.

[2019-05-28 13:20] #529 closed

[2019-05-29 01:20] heshan0131 commented on #406
if you are using kepler.gl in your own app, kepler.gl actually supports custom vector map tiles under-the-hood.  **As long as your map styles is using [Mapbox GL Style Specification](https://docs.mapbox.com/mapbox-gl-js/style-spec/)**

To do that, pass in `mapStyles` as an array to `KeplerGl`.
`layerGroups` properties are used to toggle layer visibilities in the map layers panel.
A working example

[2019-05-29 01:23] heshan0131 commented on #406
However, if you want to add custom map tiles through an UI in the kepler.gl app, you are right, we need to modify the currently add custom map popup ui a little bit to allow adding custom vector tiles

[2019-05-29 13:31] alex-arp opened #531 "Layer Legend By Color does not show the different categories anymore"
**Describe the bug**
When coloring a geo-object according to a certain variable, kepler.gl used to show a legend of the color scheme corresponding to categories/buckets of values from the variable.

This is not the case anymore.

The issue arised when using .geojson data and in Google Chrome browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to StrokeColor
2. Click on StrokColor Bas

[2019-05-29 16:21] heshan0131 commented on #531
Verified bug. Fix will come soon

[2019-05-30 12:16] vararp25 commented on #176
@aakim26
I have embed kepler.gl locally and want to fetch data directly from database which is not stored locally. I am new to react.js so having difficulty to resolve it. So can you tell me how can i fetch it from database directly.

[2019-05-30 22:13] activatedgeek opened #532 "Saving Kepler Config JSON without dataset"
**Is your feature request related to a problem? Please describe.**

When saving the Kepler Config as a JSON, it also exports my CSV data in the JSON. For potentially large CSVs as compared to small configurations, this becomes prohibitive as I try to make reproducible map configurations.

**Describe the solution you'd like**

In the "Export Map" menu, it would be great to have a flag which does no

[2019-05-30 23:25] 1-tmdc opened #533 "Custom Legend and population calculations"
The data that I work with requires population calculations in order be uniform but it can a hassle to create a separate column with manual calculations each time I want to view the configuration (e.g., per 1000 people, percentages or prevalence). Additionally, it's near impossible to customize and label the color scale, ranges, and legend the way I need it. It becomes harder to create standardized

[2019-05-31 18:15] heshan0131 opened #534 "Upgrade to deck.gl 7"

[2019-05-31 18:19] heshan0131 opened #535 "Improve image export error handling"

[2019-05-31 18:38] #497 closed

[2019-05-31 18:40] chrisirhc commented on #460
Done via #516 and #525

[2019-05-31 18:40] #460 closed

[2019-05-31 18:44] chrisirhc commented on #484
Was able to reproduce this today on kepler.gl.
![highlight](https://user-images.githubusercontent.com/132584/58727517-72287600-8399-11e9-9e3d-b5ba8b45a674.gif)

Moving this back to "Bug".

[2019-05-31 18:49] chrisirhc commented on #507
Completed via #456

[2019-05-31 18:49] #507 closed

[2019-05-31 18:50] Harrisandwich opened #536 "Docs/Examples for how addLayer works"
**Is your feature request related to a problem? Please describe.**
There are examples provided on how to update the map config as well as add a new dataset, but it's not really clear what the props look like for `addLayer`. So if we want to add mutiple layers for a dataset, how could one go about it?

**Describe the solution you'd like**
Some more dev focused examples and tutorials on how to add,

[2019-05-31 18:55] gcoimbra opened #537 "Polygon colors are not being update when weightField changes."
Is there a way for it to preserve the original dataset?

[2019-05-31 18:59] gcoimbra commented on #537
In a custom layer based on geojson-layer and heatmap-layer, I have a custom getFillColor that works only when the layer is added but not when I change the weightField.

Is there any trigger that I'm missing somewhere?

[2019-05-31 19:02] gcoimbra commented on #343
I also have this problem. Is there any update on how we can use addDataToMap without replacing the old dataset?

[2019-05-31 19:02] chrisirhc commented on #425
Done via #501

[2019-05-31 19:02] #425 closed

[2019-05-31 19:05] #307 closed

[2019-06-01 05:03] sleepybjr opened #539 "Export Image Refreshing Without Heatmap Layer"
**Describe the bug**
When clicking on "Export Image", the preview image constantly refreshes without loading the heatmap layer onto it. When I am able to click download, there is no heatmap layer visible on the image.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload latitude/longitude data.
2. Add a new heatmap layer using that data.
3. Reduce radius to < 6.
4. Select Export Image.
5.

[2019-06-03 21:01] buroa opened #541 "UPDATE_MAP"
I'm trying to listen on the update map action. During it, I update the map. How do I stop this from an infinite loop?

[code]

[2019-06-05 21:19] briantcl opened #542 "Summarizing the point data within the newly drawn polygon"
pending info to be added based on the design

[2019-06-07 00:06] heshan0131 commented on #541
You should store a hash table to check which tile has been loaded into kepler, if data at `x,y,z` is already loaded into kepler. simply return `state`

[2019-06-07 00:25] heshan0131 commented on #536
@Harrisandwich I agree the API is missing when it comes to how to programmatically interact with layers and filters in kepler.gl. Although the necessary function is exported is there, we just have to surface it in our API design.

currently `addLayer` only add an empty layer without a specific type, you can pass in `label`, `color` `columns`, `isVisible: true`, to set a type to it you will have to

[2019-06-07 00:30] heshan0131 commented on #533
Adding custom label for the legend should be easy and covered by #399.
What do you mean by `configurations of scales`? If we support manually input range for each color class like QGIS, would that be enough?

[2019-06-07 00:31] heshan0131 commented on #523
@macrigiuseppe seems like the modal changes broke the data table horizontal scrolling

[2019-06-07 00:33] heshan0131 commented on #532
![Screen Shot 2019-06-06 at 5 32 08 PM](https://user-images.githubusercontent.com/3605556/59074608-0c4c5a80-8881-11e9-92a3-3a0445bc4619.png)

you can copy the config from the input box.
We use to support export config only, but people say they don't know what to do with it. We can add that back if copy from input box is not convenient in some caes?

[2019-06-07 00:39] heshan0131 commented on #522
@sidPhoenix17 `save_to_html()` works when data is loaded. Add you try add some data to it and test it out? Anyhow I am working on fixing more issues with the package. the newest release should address that

[2019-06-07 06:28] heshan0131 commented on #522
also just published `keplergl_jupyter=0.1.0a4` updated user guides at
https://github.com/keplergl/kepler.gl/blob/keplergl-jupyter/docs/keplergl-jupyter/user-guide.md

[2019-06-07 06:39] sidPhoenix17 commented on #522
It is not working even when the data is loaded onto the map and same error was shown even in that case. Let me update to the latest version, go through the user guide and get back to you on the behaviour!

Thank you !

[2019-06-07 12:27] sidPhoenix17 commented on #522
Hi,
Using the updated version, the issue of being unable to save the map still persists (Even with data added to the maps). I made the following change in save_to_html function in the keplergl_jupyter.py file and I was able to save the file:

Original
[code]
Updated:
[code]

The html file does have all the data saved but it is now not opening on the browser. ([Attaching the html file for your refe

[2019-06-07 14:43] activatedgeek commented on #532
It actually helps me keep the config from exploding. I have a dataset file and a config file which I load during runtime (`componentWillMount`).

But just to be clear, I might have missed it but this configuration does not have the data?

[2019-06-07 18:10] briantcl commented on #537
are you using deck.gl or kepler.gl when you see this issue? Can you also provide more detailed information and code snippet for us to reproduce this error?

[2019-06-07 18:12] briantcl commented on #535
https://github.com/keplergl/kepler.gl/pull/538

[2019-06-07 18:13] briantcl commented on #534
https://github.com/keplergl/kepler.gl/pull/544

[2019-06-07 18:17] heshan0131 commented on #532
yes, the configuration displayed in the input box does not have the data

[2019-06-07 18:20] heshan0131 commented on #524
Looks like this is inherited from the clustering algorithm in [supercluster](https://github.com/mapbox/supercluster) When zoom is at very low zoom level <4, and radius is relatively small, supercluster will return in 0 clusters

[2019-06-07 18:24] briantcl commented on #518
Can you clarify on what do you refer to as saving the config in a csv?

[2019-06-07 18:28] briantcl commented on #511
can you provide more information about what os system and browser version that you are using?

[2019-06-07 18:33] heshan0131 commented on #508
@Pessimistress how does react-map-gl handles internal Mapbox viewport update? Is it listening on the mapbox viewport change event as well?

[2019-06-07 18:35] Pessimistress commented on #508
@jofri99 You cannot use the native navigation control with React. Consider using https://uber.github.io/react-map-gl/#/Documentation/api-reference/navigation-control

[2019-06-07 20:02] heshan0131 commented on #508
Looks like this is something Kepler to add, started a PR, feel free to take it over, only left is to style the position properly based on side panel close and open
https://github.com/keplergl/kepler.gl/pull/545

[2019-06-07 20:13] heshan0131 commented on #522
Attaching the HTML helps, thanks. I found the problem, the GEOJSON data embedded in the HTML was not properly stringified. It's probably not a python version problem

[code]

[2019-06-07 20:53] heshan0131 commented on #504
Should be easy to do, all you need is latitude and longitude right? We can add a tooltip config to enable display mouse geo location. I will start a PR

[2019-06-07 21:58] heshan0131 opened #547 "[Bug] Geojson failure when property contains JS object"
**Describe the bug**

When are geojson contains js object in the property, Kepler failed to render it in tooltip and data table

**To Reproduce**
1. download geojson at https://transit.land/api/v1/operators/o-9q8y-sfmta.geojson?per_page=false
2. upload to kepler
3. fail to render immediately

**Expected behavior**
Parse js objects as a string

[2019-06-08 01:28] gcoimbra commented on #537
Hello @briantcl thanks for the reply. I was able to figure out the issue recently.
I was using just using the kepler.gl layer based on GeoJSON.
All I had to do was change, updateTriggers to this:
[code]

[2019-06-08 01:28] #537 closed

[2019-06-08 05:19] activatedgeek commented on #532
Perfect! Thank you. I think that's all I wanted.

[2019-06-08 05:19] #532 closed

[2019-06-10 08:46] emiliomartin84 commented on #331
Any update about the release date?

[2019-06-10 11:27] ddolheguy opened #548 "How to disable the "Add Data To Map" model?"
I'm playing around with Kepler (awesome too), and once data is loaded it works a treat, but is there a prop i can pass to not display the "Add Data To Map" dialogue?

It disappears once I load the data, but there is a quick flash which I'd like to remove?

[2019-06-10 15:51] patofw commented on #504
That would be perfect!!! Thanks

The pin could be useful as well.

[2019-06-11 13:32] vararp25 commented on #175
Hi @ChunhongZhao am trying to add TimeSlider to reduce the number of data points on screen. The setFilter method is not working for me can you share your code snippet?

[2019-06-12 09:19] derek-nascent commented on #351
Any progress on getting kepler working with the latest react-redux?  Need any help?

[2019-06-12 14:57] Harrisandwich commented on #536
Ahhhh, that makes sense. Thanks for the clarification!

[2019-06-12 15:00] Harrisandwich commented on #536
Quick question before we close this issue though. Is there a way to remove a layer for a dataset? Currently you can reset the config, but that would remove all of the layers added programatically correct? Is there a way to remove just one layer config for a dataset?

[2019-06-12 15:06] MosheMalin commented on #518
I meant to set the configuration information about the layers (like: setting colors, layer type, radius, etc. for the layer in the csv).
I assume it's not doable.
But this is less important now (for us...), as we switched to wrapping kepler with an application and we pass the info programatically.

[2019-06-12 16:42] macrigiuseppe commented on #351
@derek-nascent we are currently not focusing on react-redux upgrade. Please feel free to contribute with a pull request and we will be more than happy to review it

[2019-06-12 16:52] macrigiuseppe opened #553 "Replace react-data-grid with react-window"
As part of our package size investigation, we are going to replace react-data-grid with react-window to reduce bundle size and improve performance

More info: #499

[2019-06-12 17:00] macrigiuseppe commented on #523
I see the issue. I spent some time going back in time with git and check if the same issue appears with our previous implementation and i can see the same problem with our previous implementation when resizing the window.
Since I already planned on replacing react-data-grid (#499), the component used to display the table, I am gonna work on it and fix this bug.

Tracking the work here #553

[2019-06-12 18:17] heshan0131 commented on #548
Yes you can use [Custom Initial State](https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/advanced-usages/custom-initial-state.md), and change the default [`uiState`](https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/reducers/ui-state.md#initial_ui_state) by passing `uiState: {currentModal: null}`

[2019-06-12 18:20] heshan0131 commented on #177
Close as it's merged into `1.0.0`

[2019-06-12 18:20] #177 closed

[2019-06-12 18:22] heshan0131 commented on #167
close as this is merged with #282 into `^0.2.0`

[2019-06-12 18:22] #167 closed

[2019-06-12 18:23] heshan0131 commented on #268
close as #372 is merged into `^0.2.4`

[2019-06-12 18:23] #268 closed

[2019-06-12 18:36] heshan0131 commented on #85
We can create an example with node, PostgreSQL with RESTful API. There is a (post)[https://blog.logrocket.com/setting-up-a-restful-api-with-node-js-and-postgresql-d96d6fc892d8/] can be referred to

[2019-06-12 20:46] heshan0131 commented on #536
Yes, remove layer is actually just one call, since all you need is to click the trash can button in the UI, you can use [`removeLayer`](https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/actions/actions.md#removelayer) action and pass in the `idx`

[2019-06-13 06:06] MosheMalin commented on #389
Hi,
Is there maybe an update about this item? It's a really must..
If it's not close, how would you recommend to add something that draws polygons in the meanwhile?

[2019-06-13 14:18] murari-goswami commented on #331
Hi Briantcl, any update on the launch plan ?

[2019-06-13 19:37] Adel-J opened #555 "Use custom component"
I'm using kepler to visualization the data to clients so I put ui state to `uiState: {readOnly: true}` now there is no panel to control the maps and work perfect.

Now I want the clients to choose the map style for base such as dark, light and ..., so I created my component and add the 'MapStyleSelectorFactory' component to render inside my component so I get an error:
`Uncaught Invariant Violatio

[2019-06-14 00:33] activatedgeek opened #556 "Error loading Mapbox style"
**Describe the bug**

I just created added a Mapbox style to my account and made it public. The style URL is

[code]

It however does not load into Kepler.gl.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kepler.gl/demo/earthquakes (or any demo)
2. Click on 'Base Map' tab
3. Click on 'Add Map Style'
4. Use the above Mapbox style URL and add to the list.
4. See error in develo

[2019-06-14 02:26] ruvenguna opened #557 "Cannot install keplergl-jupyter 0.1.0a4"
There seems to be an issue when I try to install keplergl-jupyter. I ran `pip install keplergl-jupyter` in the anaconda prompt and got the following error.

![image](https://user-images.githubusercontent.com/40380329/59479187-9fdbe780-8e8e-11e9-81c7-665bffa56c4e.png)

There was also a `Failed building wheel for keplergl-jupyter` error.

Please let me know the right way to download and use this mod

[2019-06-14 04:34] 1chandu opened #558 "Cleanup: lightSettings calculations"
https://github.com/keplergl/kepler.gl/pull/544  removed setting `lightSettings` prop on layers when upgraded to deck.gl 7.  There might still be code that is computing this prop that can now be removed.

[2019-06-14 11:35] jofri99 commented on #508
Thank you for the response! But I don't think I have the knowledge atm to do that on my own. I'll just wait for your release.

[2019-06-14 18:11] macrigiuseppe commented on #534
done https://github.com/keplergl/kepler.gl/pull/544

[2019-06-14 18:11] #534 closed

[2019-06-14 18:12] briantcl commented on #328
update June 14, 2019 : done with GPU data filter steps: 1, 2, 3, 4, 5

[2019-06-16 07:39] 1995parham commented on #473
@macrigiuseppe I have time to write a .d.ts file for Kepler if you want to support typescripts.

[2019-06-16 20:17] ddolheguy commented on #548
Thanks so much

[2019-06-16 20:17] #548 closed

[2019-06-17 06:09] MarshallChen commented on #524
But supercluster official demo with Leaflet works well at very low zoom level.
![image](https://user-images.githubusercontent.com/1115805/59582029-75499300-9109-11e9-8f4e-2338b1f93cb2.png)

[2019-06-17 09:25] geoHeil opened #560 "Updating data is impossible"
After configuring a visualization I want to update the data.

Am I missing a replace data layer button? The only way forward seems to add a new file and then manually switch all layers over to the new file and then drop the old one. Is there a smoother workflow available? How can I replace the data contents of a layer simply like replacing a file in QGIS.

https://github.com/keplergl/kepler.gl/iss

[2019-06-17 15:19] ugniusch opened #561 "Date filter on H3 layer stoped working"
**Describe the bug**
After #544 was released adding date filter to H3 layer "hides" layer.

**To Reproduce**
Steps to reproduce the behavior:
1. Import `Data.csv` from
[Data.zip](https://github.com/keplergl/kepler.gl/files/3297645/Data.zip)
2. Add date filter (column `date`)
3. See error (layer rendering disappears)

**Expected behavior**
Layer is still rendered

**Desktop (please complete the fol

[2019-06-17 19:00] heshan0131 commented on #389
We will be working on this for the coming couple of weeks, still no eta yet.

What’s your specific use case?

On Wed, Jun 12, 2019 at 11:06 PM MosheMalin <notifications@github.com>
wrote:

[2019-06-17 19:39] MosheMalin commented on #389
Thanks.
The use case is quite simple (at least to describe..): Draw a polygon, get its coordinates. Also be able to delete it.
Obviously more options (like: move/edit/color/etc) would be nice, but the above is the minimal use case.

Moshe

[2019-06-17 20:07] matheusmonte commented on #547
@heshan0131  Can I work to solve this?

[2019-06-17 20:22] heshan0131 commented on #547
YES! my thinking is when read in geojson from files, stringify properties that contain object. You can dig into [`geojson-processor`](https://github.com/keplergl/kepler.gl/blob/master/src/processors/data-processor.js#L414-L454)

[2019-06-17 20:51] matheusmonte commented on #547
Sure, I will work on this. Maybe on Saturday I send a PR solving this. Thanks

[2019-06-17 22:20] macrigiuseppe commented on #389
Using https://github.com/uber/nebula.gl/pull/230/files#diff-3e8198e4d5858958a34a355103584bd1 to implement the new feature:

[2019-06-18 04:24] heshan0131 commented on #389
@macrigiuseppe please talk to @xintongxia about using `react-map-gl-draw`

https://github.com/uber/nebula.gl/blob/xx/react-map-gl-draw-rfc/dev-docs/RFCs/v1.0/react-map-gl-draw.md

[2019-06-18 04:37] Koushik95 opened #563 "info regarding keplergl-jupyter"
Hi, I'm exploring the python package of keplergl as given in the following link :-
https://pypi.org/project/keplergl-jupyter/

But I'm not able to find any documentation on its usage.
@heshan0131 - I was hoping you could help me with this?
Thanks

[2019-06-18 06:01] heshan0131 commented on #563
The official package is https://pypi.org/project/keplergl

[2019-06-18 06:02] Koushik95 commented on #563
yes @heshan0131 - I found this as well
but is there any link for its documentation?
if so can you provide it here?
Thanks

[2019-06-18 06:03] heshan0131 commented on #563
Docs at:
https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

I just landed it into master. We haven't officially announce it yet

[2019-06-18 06:05] Koushik95 commented on #563
ok thank you for your assistance @heshan0131

[2019-06-18 06:15] heshan0131 commented on #557
This seems to only happen in anaconda, found a similar issue here
https://github.com/htrc/HTRC-WorksetToolkit/issues/19

Possible fix is to remove the end `/` in [setup.py](https://github.com/keplergl/kepler.gl/blob/master/bindings/kepler.gl-jupyter/setup.py#L139)

[2019-06-18 18:14] matheusmonte commented on #547
Hi @heshan0131 , I solve this. You're right, the problem occurs in geojson-processor , so I add a check type in properties and bug crash is avoid, but I'm not sure if this result is correct, you can see the render result in this image.

![Screen Shot 2019-06-18 at 13 59 18](https://user-images.githubusercontent.com/5808206/59708709-53b4de00-91d3-11e9-9dc7-ecba4673673c.png)

[2019-06-18 18:16] macrigiuseppe commented on #389
@heshan0131 I already started implementing react-map-gl-draw in kepler. I will reach out to @thelinuxfoundation for questions.

[2019-06-18 18:17] matheusmonte commented on #547
The code is in PR #564

[2019-06-18 18:48] cschlessinger commented on #539
Hi! Wondering if there's an ETA for the fix?

[2019-06-18 20:18] macrigiuseppe commented on #499
V1.1.0
- https://bundlephobia.com/result?p=kepler.gl@1.1.0

Libraries to evaluate:

| Library |  %  | Alternatives | Reduce of | Issue |
|--------|----|-------------|-----------|-------|
| react-data-grid | 6.1 | [react-window](https://github.com/bvaughn/react-window) | | #553  |
| moment| 7.9 |   [date-fns](https://github.com/oysterprotocol/webnode/pull/116)  | |
| react-vis | 7.6 |  ad hoc | |
|

[2019-06-19 12:52] GIShoj opened #565 "Kepler.gl isn't visualiing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-06-19 12:56] GIShoj commented on #565
I just tried to vizzualize a dataset on the website and it's not working. It's a simple point dataset in a geojson format.

Shouldn't it be working. I would like to install Kepler on a lokal server, if  I can make it work.

[Aalder.zip](https://github.com/keplergl/kepler.gl/files/3306165/Aalder.zip)

[2019-06-19 17:37] #563 closed

[2019-06-19 17:41] heshan0131 commented on #565
@GIShoj kepler.gl accepts geojson coordinates in web mercator projection. that is latitude [-90, 90] and longitude [-180, 180]. Yours is
`{ "geometry": { "type": "Point", "coordinates": [ 711385.82, 6167667.82 ] } }`

[2019-06-19 17:49] #565 closed

[2019-06-20 12:19] sidPhoenix17 commented on #522
Hi,
Sorry for the late reply here - somehow I missed the reply notification.
In 0.1.0.a4, after making the change as mentioned above, the save_to_html functionality is working and I'm able to save the file!
Thank you!

[2019-06-20 13:37] bissou opened #566 "demo error"
**Describe the bug**
I can not change the data source in Demo of kepler

**To Reproduce**
Steps to reproduce the behavior:
Upload 2 sources of data
Add layer
change the data source
error : can not

**Expected behavior**
changing the file source.

[2019-06-20 15:59] bragilev commented on #389
Hi
Maybe you can suggest some workaround how to use the react-map-gl-draw in kepler ? And what is your estimation for the official release that will contain this feature ?
Thanks

[2019-06-20 16:45] ohld commented on #397
Any updates on this?

[2019-06-20 20:50] macrigiuseppe commented on #389
We are currently working on this. We don't have a precise estimate for this feature to go out

[2019-06-21 18:10] macrigiuseppe commented on #560
It's not possible right now, in the future when we will introduce the layer duplication you will be able to do so.

[2019-06-21 18:15] macrigiuseppe commented on #555
Hey @Adel-J , would you mind including your MapStyleSelectorFactory component code in your issue so we will be able to provide better support.

Thank you

[2019-06-21 18:16] macrigiuseppe commented on #541
No response. If you still have questions feel free to re-open this one.

[2019-06-21 18:16] #541 closed

[2019-06-21 18:17] macrigiuseppe commented on #536
Closing for no activity

[2019-06-21 18:17] #536 closed

[2019-06-21 18:19] macrigiuseppe commented on #522
Closing because no issue

[2019-06-21 18:19] #522 closed

[2019-06-21 18:21] macrigiuseppe commented on #524
@akre54 Can you look into this please?

Thank you

[2019-06-21 18:23] macrigiuseppe commented on #504
Completed

[2019-06-21 18:23] #504 closed

[2019-06-21 18:24] #518 closed

[2019-06-21 18:24] #511 closed

[2019-06-21 18:27] #103 closed

[2019-06-22 04:17] sidPhoenix17 commented on #522
I meant - the issue/error **still exists** but if I make the below code change in keplergl_jupyter.py save_to_html() function, then the issue is resolved:
Original
`
with open(file_name,'w') as f:
`
Updated:
`
with open(file_name,'wb') as f:
`

[2019-06-22 05:21] #560 closed

[2019-06-22 14:04] akre54 commented on #524
TLDR: https://github.com/mapbox/supercluster/issues/86

----

Ok I tracked down the issue. At low zoom levels it's possible for `geoViewport.bounds` to return a minimum longitude that is < -180 or > 180, resulting in a bounding box where the minimum is larger than the maximum.

So for example:
[code]

A simple fix for this is to clamp the longitude to between -180 and 180, as [Supercluster already

[2019-06-24 09:59] Koushik95 opened #570 "keplergl python package not working in jupyterlab"
Hi @heshan0131 ,

After following your updated documentation, I tried running keplergl python package in jupyterlabs and the respective widgets were not showing. I'm able to install the package but when I try the following command :-

map = keplergl.KeplerGl()

I get the following console msg :-
Could not instantiate widget
Error: Could not create a model.
    at promiseRejection (utils.js:125)
Ex

[2019-06-24 19:04] macrigiuseppe opened #571 "Transducers"
**Is your feature request related to a problem? Please describe.**
Investigate if using Transducers can improve data processing capabilities and performances.

**Describe the solution you'd like**
Resources:
- https://medium.com/@roman01la/understanding-transducers-in-javascript-3500d3bd9624
- https://medium.com/front-end-weekly/rxjs-transducers-vs-method-chaining-performance-87561cf4ce65

Thinkin

[2019-06-24 22:28] Adel-J commented on #555
Thanks Macrì for your help.
Just to note it is work when inject the component but I don't want the whole side panel I want to use it in custom component.
I know the Redux retrieve the state for active side panel and trying to get it for MapStyleSelectorFactory but I couldn't.

[code]

[code]

[2019-06-25 00:23] heshan0131 commented on #570
I updated the package name, The correct package should be `keplergl`
It is though not available on JupyterLabs yet. One step at a time

[2019-06-25 00:24] heshan0131 commented on #557
@ruvenguna can you try install `keplergl==0.1.0a6` in anaconda?

[2019-06-25 05:02] Koushik95 commented on #570
okay, do you have any ETA on when it will be ready on jupyterlabs - @heshan0131 ?

[2019-06-25 05:19] heshan0131 commented on #570
I am not very familiar with JupyerLabs and how to install widgets in it. After some reading, it seems I have to publish an extension just for JupyterLabs?

[2019-06-25 11:06] derek-nascent opened #573 "KeplerGlSchema.load can't reload output from KeplerGlSchema.save"
**Describe the bug**
saving-loading-w-schema.md reads like the way to persist a map's state across sessions is to call KeplerGlSchema.getDatasetToSave or KeplerGlSchema.save which internally calls KeplerGlSchema.getDatasetToSave. With the result of that function call in hand, the suggested solution is to stash that json blob in a db until needed and then feed it back to KeplerGlSchema.load. In my

[2019-06-25 12:19] bragilev commented on #365
Hi
We are using kepler.gl 1.1.0 and we are missing the feature "Load map using a URL".
On which release version it will be added ?

Thanks

[2019-06-25 23:04] heshan0131 opened #575 "[Important!] Git history has been rewritten. Reset Master"
**We had to rewrite git history to fix a vulnerability in our repo, all remote branches have been deleted**

**If you haven't pulled from kepler.gl master in the past week, life is good, no worries.**

**If you are hard working people, and pulled from master after Jun 17th 2019, you need to follow these steps to fix your local copy**

1. If you don't have any local changes that you would like to p

[2019-06-25 23:47] heshan0131 opened #576 "[Bug][Jupyter Widget] Missing Tooltips in Notebooks"
**Describe the bug**
Tooltips are not showing in notebooks

**Expected behavior**
Should show tooltips

[2019-06-26 03:48] chrisgervang commented on #399
I’d like to recommend react-color as a nice picker component :)

https://casesandberg.github.io/react-color/

[2019-06-26 08:29] darribas opened #579 "[Bug][Jupyter Widget] Python 3 compatibility?"
**Describe the bug**
Jupyter widget for Kepler does not seem to work under Python 3

**To Reproduce**
Steps to reproduce the behavior:
1. Using the following `Dockerfile`

[code]
The `darribas/gds:2.0` image is based on the Jupyter docker stacks, you can see versions installed [here](https://github.com/darribas/gds_env/blob/master/stack_py.txt).

2. Build the image

[code]

3. Launch JupyterLab th

[2019-06-26 08:43] darribas commented on #579
Further inspecting, it seems to point to a bug on [L.56](https://github.com/keplergl/kepler.gl/blob/master/bindings/kepler.gl-jupyter/keplergl/keplergl.py#L56)?

[2019-06-26 09:00] ruvenguna opened #580 "Blank page when share public URL is selected [Bug]"
**Describe the bug**
The page goes blank everytime I try to share a public URL. I select the upload to dropbox option, then it goes blank. I am using google chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Upload any dataset or use available dataset
2. Click on share public URL

**Expected behavior**
Create a link with a URL to share map

**Desktop (please complete the following inform

[2019-06-26 10:25] 1995parham opened #581 "Layer configuration"
I use Kepler to demonstrate the information that is gathered from API. I want to configure its layer when I pushing the data using `addDataToMap`. I have used the following code and I want to know is it standard? or there is any documentation on it?

[code]

[2019-06-26 12:32] amir-ghasemi commented on #579
Replacing` print data` with `print(data)` resolved the issue.

[2019-06-26 15:21] darribas commented on #579
In case it's of help, I've issued a patch with the fix over at #582 @heshan0131

[2019-06-26 18:09] d-wasserman commented on #579
When should we expect this in the pip installation?

[2019-06-26 18:44] suciokhan opened #583 "[Bug][Jupyter Widget] Map Does Not Display"
**Describe the bug**
Unable to render KeplerGL map in Jupyter-lab version 0.35.6 and Python 3.6.8. As per the example, I set KeplerGl(height=500) to a variable & call that variable, but neither an image nor error message is displayed.

**To Reproduce**
Steps to reproduce the behavior:
# Behaves as expected
1. from keplergl import KeplerGl

# Prints URL to user guide
2. map = KeplerGl(height=400)

[2019-06-26 18:51] suciokhan commented on #583
Whoops wrong button

[2019-06-26 19:23] macrigiuseppe commented on #365
Hi @bragilev,
loading through URL is not part of Kepler.gl but you can find it in our demo app example.

The example provides information on how to customize Kepler.gl in order to provide the url fetching capability

[2019-06-27 02:09] dash-alex commented on #583
same problem here, and with some other error info
![image](https://user-images.githubusercontent.com/46229829/60227899-8e013800-98c3-11e9-9de6-61e05b6e40a5.png)

[2019-06-27 02:18] d-wasserman opened #586 "[Bug][Jupyter Widget] Data Stops Rendering after Additional Styling"
**Describe the bug**
I am seeing the following behavior:

- Geodataframe (point file) gets a second layer added classified as a polygon, even though one is specified.
- Heatmaps seem to the be only layer configuration that seems to work (but the classifications are the issue). Data appears in the legend, but not the map.
- Points initially appear, but when styled they fall off the map. It is very

[2019-06-27 09:55] heshan0131 commented on #583
@dash-alex Are you running it in JupyterLab or Jupyter Notebook?

[2019-06-27 10:02] dash-alex commented on #583
Jupyter Notebook

[2019-06-27 10:18] heshan0131 commented on #586
in step 5. How did you style the point? Did you click in the side panel or call `jobsGL.config()` with python. What exact style did you apply?

[2019-06-27 10:24] heshan0131 commented on #581
@1995parham we recommend using the map config json directly copied from [Export map as json](https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/k-save-and-export.md#export-json-map) instead of composing it from scratch.

You can first call `addDataToMap` passing the data only, style layers. Then copy the map config json  out to be passed to this action

[2019-06-27 10:36] heshan0131 commented on #573
@derek-nascent
`KeplerGLSchema.save` returns a single json blob `{datasets: [], config: {}, info: {}}`,
`KeplerGLSchema.load` takes in `datasets` and `config` as 2 arguments `KeplerGLSchema.load(datasets, config)`. Did you directly pass the saved json blob to `load`? That might be the problem

[2019-06-27 10:56] suciokhan commented on #583
Ah- JupyterLab- good to know. Thanks very much for clarifying.

[2019-06-27 11:01] derek-nascent commented on #573
Thanks for the response!

I think so.  When I am saving my state I am saving it to the store as a single object via this action (findView is my map's id)

[code]

Then I try to reload by destructuring that object and then passing the result to load.  I console.log them and they both have values.

[code]

I was able to keep step through the code for about an hour, but then work priorities and stuff

[2019-06-27 13:15] 1995parham commented on #581
@heshan0131 Thanks for your time and response. So first I load the map data then export it as JSON and use the provided configuration for update the map configuration in my application?

[2019-06-27 14:48] d-wasserman commented on #586
Hi @heshan0131,

Side panel edits. I tried hexbin, point, polygon, grid, heatmap, and cluster. In all attempts, only heatmap symbolized.

Using a different environment at home, this morning, I have full functionality. I can even load pickled configurations and apply them. This makes me think it is not an os issue. I don't have some of the UDST libraries (pandana/urbanaccess) in this environment, b

[2019-06-27 14:54] heshan0131 commented on #581
You don't even need to click to exoprt the map, just need to copy the json blob from the input box. That's your map config right there.

![image](https://user-images.githubusercontent.com/3605556/60276476-8c7a4480-98b0-11e9-94ca-7e9bfde8041e.png)

Just need to make sure your `dataset.info.id` doesn't change

[2019-06-27 14:57] heshan0131 commented on #586
Interesting. If you can reproduce previews error, try open javascript console and see if any error appears there. Please take a screenshot if there is any and paste in this thread.

[2019-06-27 14:58] d-wasserman commented on #586
Good idea. I will follow up later.

[2019-06-27 15:02] heshan0131 commented on #580
@ruvenguna
could you please open your javascript console ()and send us a screenshot of any error there? We can not reproduce this on our end.
To open js console in chrome: View > Developer > Javascript Console
Thanks

[2019-06-27 15:04] 1995parham commented on #581
@heshan0131 I am so grateful for your help

[2019-06-27 15:09] #581 closed

[2019-06-27 15:12] heshan0131 commented on #531
This should be fixed, please verify and reopen if there is any thing else

<img width="808" alt="Screen Shot 2019-06-27 at 8 11 06 AM" src="https://user-images.githubusercontent.com/3605556/60277842-335fe000-98b3-11e9-890d-092b7cfa1c29.png">

[2019-06-27 15:12] #531 closed

[2019-06-27 15:14] heshan0131 commented on #547
This is fixed, please reopen if this is anything else needed
Special thanks to @matheusmonte

[2019-06-27 15:14] #547 closed

[2019-06-27 15:24] heshan0131 commented on #517
This should be fixed, I see these 2 maps now. Looks correct to me.

Closing this issue, please reopen if there is anything else

<img width="727" alt="Screen Shot 2019-06-27 at 8 23 30 AM" src="https://user-images.githubusercontent.com/3605556/60278760-de24ce00-98b4-11e9-87f5-0abbd5d51af0.png">
<img width="624" alt="Screen Shot 2019-06-27 at 8 23 18 AM" src="https://user-images.githubusercontent.c

[2019-06-27 15:24] #517 closed

[2019-06-27 15:30] heshan0131 commented on #505
Hi @bragilev
You can refer to [this file](https://github.com/keplergl/kepler.gl/blob/master/src/constants/default-settings.js#L147-L183) to assign `layerGroups` to your map style

`slug` is the `id` and `label` of each layer group. `filter` is a filter function based on `layer.id` in you  `style.layers`. You probably just need to slightly adjust the regex to match your layer's naming convention.

[2019-06-27 15:39] heshan0131 commented on #583
Bu @dash-alex you are using Jupyter Notebook and still see console error? Can you describe how you are running it? which version of `ipywidgets` is installed in your environment?

[2019-06-27 16:09] heshan0131 commented on #171
Closing it for now, please reopen if there is any further development

[2019-06-27 16:09] #171 closed

[2019-06-27 16:10] heshan0131 commented on #508
thanks 🙏 I will get to it when i get a chance

[2019-06-27 16:59] d-wasserman commented on #586
For a brief moment, i was able to style points, but after a second it fell off. When I changed to another style same errors started to appear. When looking at the JS console, I see 212 errors that change in number with setting changes. Screen shot attached.

Read out of one of them:

    at MutationObserver.<anonymous> (content_script_bundle.js:16)
utils.js:37 Loading extension: jupyter-js-widgets

[2019-06-27 19:21] shabalin opened #588 "[Bug] Error appears in browser console when scroll Data Table"
Describe the bug

`bundle.js:85 Uncaught TypeError: n._root.querySelector is not a function` appears multiple times in console when scroll in Data Preview Modal

To Reproduce
Steps to reproduce the behavior:

Go to https://kepler.gl/demo/earthquakes
Click on  the dataset name
Modal window with dataset preview table is opened
Scroll down, check dev console output.
Expected behavior
no errors should

[2019-06-27 22:00] kathrine-swe commented on #583
Dropping a plug: It would be really awesome if you guys made the extension for JupyterLab.

[2019-06-28 02:12] ruvenguna commented on #580
Here are the screenshots from the error console. Actually, this is a new problem. I was able to export the maps prior to the date I posted this issue. However, now it keeps producing a blank screen. Please advise me on how I can fix it. Thank you.

![Error Screen 2](https://user-images.githubusercontent.com/40380329/60312194-f36d2b80-998c-11e9-9ffe-567db98e61d6.png)
![Error screen 1](https://user-

[2019-06-28 02:25] ruvenguna commented on #580
After viewing the error files, I realized that my dropbox is full. However, how can I sign out of dropbox on the Kepler app?

![Error screen 1](https://user-images.githubusercontent.com/40380329/60312640-a8ecae80-998e-11e9-9257-1a2c75676833.png)
![Error Screen 2](https://user-images.githubusercontent.com/40380329/60312641-a8ecae80-998e-11e9-8b3a-52aa3b6228f5.png)

[2019-06-28 02:56] dash-alex commented on #583
@heshan0131
[code]
![image](https://user-images.githubusercontent.com/46229829/60313909-5c57a200-9993-11e9-9d87-26cd1e475a00.png)

[2019-06-28 13:21] heshan0131 commented on #579
python3 fixes are released with 0.1.0a7. closing for now

[2019-06-28 13:21] #579 closed

[2019-06-28 18:07] briantcl commented on #389
update: June 28
- done with the integration
- pending improvements in the UX in selecting and editing polygon based on limitations in react-map-gl draw

[2019-06-28 19:54] sn3fru commented on #387
Could we have the roadmap updated?
I know this is an unimportant demand compared to the development of new features, but having an upgraded roadmap will help hundreds (or thousands) of people program when the features we need will come in the future.
@heshan0131

[2019-06-28 21:59] adityamangal410 commented on #583
@heshan0131 I am seeing the same issue in jupyter notebook too (not lab) -

![image](https://user-images.githubusercontent.com/2669510/60373512-45c24280-99b5-11e9-8050-783f110acae4.png)

[2019-06-29 04:21] matheusmonte commented on #566
Hi,

Thanks for your issue. Can you provide more information about this? I can't reproduce locally

Which version you're using?
What is your platform?
If web version, some error is throws in browser console?

Thanks

[2019-06-29 04:25] matheusmonte commented on #519
Hi @heshan0131

Can I try to solve this issue?

[2019-06-29 19:50] a2q commented on #583
I have the same problem, empty display
keplergl 0.1.0a6
ipywidgets 7.4.2
jupyter    1.0.0
Python 3.6.7
windows 10

[2019-06-30 17:34] HLiuUS opened #592 "Saved HTML file keeps flashing when opening with browser"
**Describe the bug**
When the map contains a filter, the map keeps flashing when opened with a browser

**To Reproduce**
Steps to reproduce the behavior:
1. Created a map within Jupyter Notebook
2. Add a filter
3. Call .save_to_html method to save to HTML

**Environment (please complete the following information):**
 - Python version: python3
 - keplergl Widget version:
[test-fake1.zip](https://gi

[2019-07-01 10:37] ohld commented on #583
The same for me on the bleeding edge jupyter notebook, python3.7, mac os

[2019-07-01 10:39] ohld commented on #583
In Jupyter console log I can see this error:
[code]

[2019-07-01 11:06] ohld commented on #583
And my browser's console log is:
![image](https://user-images.githubusercontent.com/5613295/60431843-6da9e400-9c09-11e9-843c-51b51170d9b3.png)

[2019-07-01 12:29] jofri99 opened #593 "Display Mapbox layer above kepler layer"
**Is your feature request related to a problem? Please describe.**
I'm currently displaying the direction of driving with an extra layer with the mapbox reference:
![picKepler](https://user-images.githubusercontent.com/31164173/60436070-8a471b80-9c0b-11e9-8466-a151b7310b56.png)
The problem is that the layer with the arrows is always below the kepler gl segments. As a workaround I reduced the opaci

[2019-07-01 15:56] bragilev commented on #505
Hi
Thanks you for the response. Adding new styles was the easy part, but I
needed to remove the default styles like "dark". So I did it as follow :

if (keplerGl.map.mapStyle.mapStyles["dark"]) delete
keplerGl.map.mapStyle.mapStyles["dark"];
if (keplerGl.map.mapStyle.mapStyles["light"]) delete
keplerGl.map.mapStyle.mapStyles["light"];
if (keplerGl.map.mapStyle.mapStyles["muted"])  delete
keplerGl.

[2019-07-01 16:10] bragilev commented on #389
Hi
We found a workaround for using polygon in kepler.gl by integration map.gl
component and kepler.gl component with the same mapbox reference.
In KeplerGL "getMapboxRef={(mapbox, index) => this._getMapboxRef(mapbox,
index)}" gave us the reference to mapbox.
In MapGL "<MapGL  {...this.state.mapbox.props}" gave us the desired
connection between the two components.
And using z-index we succeeded to

[2019-07-01 22:57] chintanp commented on #331
Are there plans to support Jupyter lab? I am able to test it with jupyter notebook and it works. :)

[2019-07-01 23:53] matheusmonte commented on #499
Hi @macrigiuseppe

Can I help with this?

[2019-07-02 04:40] Koushik95 commented on #570
@heshan0131 - Yes, a new extension has to be published for jupyterlabs. Can you tell me the status of this?

[2019-07-02 08:41] troboukis opened #594 "Can't export images kepler.gl [Bug]"
**Describe the bug**
The images exported from kepler.gl, don't show the data. Are empty.

**Screenshots**
<img width="1279" alt="Screenshot 2019-07-02 at 11 37 20" src="https://user-images.githubusercontent.com/39416082/60497724-144fbc80-9cbe-11e9-9e17-89648da121b2.png">

**Desktop (please complete the following information):**
 - OS: 10.14.5
 - Browser Chrome
 - Version 75.0.3770.100

[2019-07-02 08:47] troboukis commented on #594
It works with Firefox, but not with Chrome.

[2019-07-02 16:12] wasauce commented on #331
FYI - https://medium.com/vis-gl/introducing-kepler-gl-for-jupyter-f72d41659fbf - I hadn't seen this and was thinking it wasn't released yet. Very exciting! Thank you!

[2019-07-02 17:37] saulshanabrook commented on #331
I have [hacked together](https://github.com/saulshanabrook/kepler.gl/commit/9a908b3292b01f0bd21ea739c742bea75fe7e216) some JupyterLab support. There is currently a JuptyerLab plugin in this repo, but it isn't being built currently, as far as I can tell.

To use this with JupyterLab 1.0:

[code]

It seems to work OK:

[code]

<img width="965" alt="Screen Shot 2019-07-02 at 1 34 20 PM" src="https://

[2019-07-02 18:08] macrigiuseppe commented on #499
Of course, which task would you like to take on?

thank you,
Giuseppe

[2019-07-02 18:36] macrigiuseppe commented on #389
This feature is still a work in progress. We will provide updates.

[2019-07-02 20:16] matheusmonte commented on #499
@macrigiuseppe

What do you think is priority ?

If all have the same priority, Can I work in remove moment.js and substitute by date-fns?

[2019-07-03 10:31] jon19911 commented on #495
Any update on how this is going? :) my current method is very time consuming/imprecise

[2019-07-04 12:59] wwymak opened #596 "[Bug] local app crashes if geojson is not in epsg 4326"
**Describe the bug**
If I upload a geojson with a crs that is not epsg 4326 to the demo app (running on my local) the app crashes (ie only a white screen)

**To Reproduce**
Steps to reproduce the behavior:
1. run the demo app
2. upload a geojson saved with a epsg other than 4326
3. app crashes (white screen of death...)

**Expected behavior**
It would warn me that my data is not in the correct for

[2019-07-04 15:59] Harrisandwich opened #597 "Instructions on MapboxLayerGL"
**Describe the solution you'd like**
Instructions on the usage of the MapboxLayerGL layer within kepler

**Describe alternatives you've considered**
Currently there is no efficient layer type for rendering MVT layers. I'm currently using the mapbox map ref to render tile layers, but I would like the state of these layers to be managed by the kepler redux store. I noticed a MapboxLayerGL layer clas

[2019-07-05 12:02] derek-nascent commented on #505
FWIW, I'd like to do the same thing and remove the DEFAULT_MAP_STYLES.  I'll try this work around for now.

[2019-07-05 17:58] derek-nascent commented on #505
Hey I just solved this problem using a custom Reducer that I pass to my store.  Should have thought of this originally. Hope this helps @bragilev

[code]

[2019-07-05 20:20] macrigiuseppe commented on #499
Please go ahead with moment and data-fns task.

Thank you

[2019-07-05 22:33] marigibara opened #598 "Can't start development server"
Following steps for local development after `yarn --ignore-engines` got this:

    [1/4] Resolving packages...
    [2/4] Fetching packages...
    info fsevents@1.2.9: The platform "win32" is incompatible with this module.
    info "fsevents@1.2.9" is an optional dependency and failed compatibility check. Excluding it from installation.
    [3/4] Linking dependencies...
    warning " > react-palm@2

[2019-07-06 03:47] hkittylover commented on #593
Hello, may I know how you did the arrows implementation? I would like to explore that. Is that a part of mapbox?

[2019-07-07 05:23] matheusmonte commented on #598
Hi @marigibara

Thanks for your issue, I tried to reproduce here and didn't happens. Are you following this [link](https://github.com/keplergl/kepler.gl/blob/master/contributing/DEVELOPERS.md)?

Can you provide more information about your configuration, by your errors message, looks is some permission problem in your local folder or something like this.

I hope hear from you soon.

[2019-07-08 15:26] marigibara commented on #598
Following this tutorial, gotta this error and just stopped trying.
Now I tried again until `npm start` and, even with this error, it works.

I'm closing this issue.
Thanks for your response.

[2019-07-08 15:28] #598 closed

[2019-07-08 22:42] d-wasserman commented on #181
Geometric interval would be a great one to have too. It handles skewed distributions a little better relative to Jenks.

[2019-07-09 09:02] Stephane-Thales opened #602 "save_to_html - Object of type 'Timestamp' is not JSON serializable"
Within jupyter using the save_to_html function of the keplergl map produce the error:
"Object of type 'Timestamp' is not JSON serializable"
The data loaded do contain two datetime64[ns] fields.

Environement :
 - Python version: 3.6.8
 - keplergl Widget version: 0.1.0a7

[2019-07-09 20:04] heshan0131 commented on #397
@yanhann10 will start to work on this starting today, estimated delivery would be mid August

[2019-07-10 09:53] vladimir-kondratenko opened #603 "Changing of histogram-bars color [Bug]"
**Describe the bug**
Judging by the source code, the color of the active histogram-bar is changed using the variable `activeColor` of theme. But changing of this variable doesn't change anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Load a data to the map
2. Add time range filter
3. Provide you'r own theme to the kepler's instance with `activeColor` variable
4. See the default col

[2019-07-10 11:05] bragilev commented on #505
Good! It's more clean solution...
Thank you

On Fri, Jul 5, 2019 at 8:58 PM Derek Strickland <notifications@github.com>
wrote:

[2019-07-11 07:44] bragilev commented on #343
Hi
In this way I succeeded to add a new dataset and to retain the previous one
            const config = this.getMapConfig();
            config.config = nycConfig;
            this.props.dispatch(addDataToMap({datasets: dataset, config}));

[2019-07-11 08:06] bragilev commented on #365
Hi
I added a new button by overriding PanelTitleFactory to add loading dynamic layers through URL functionality.
But I have a problem when I remove a dataset using delete basket and after it I try to add it in the same way, the dataset loaded with no configuration. I dispatch addDataToMap in following way :
            const dataset = {
                data,
                info: {

[2019-07-11 18:12] guyts commented on #596
Exact same issue here.

OS: Win 10 Home
Browser: Chrome 75.0.3770.100
Python 3.7 (Anaconda 4.7.5)

After converting the crs to 4326 with geopandas, map is loaded properly.

[2019-07-12 01:52] 6156450 commented on #397
very cool

[2019-07-12 08:26] trietphan94 opened #605 "Load dynamic data with the dynamic kepler.gl configuration"
I store the Kepler.gl configuration as a template. I already have Kepler.gl data from the server and I want to synchronize the data and configuration above. But it seems the data and configuration are different about `id`. Do we have a way to synchronize them? Thanks.

[2019-07-12 08:30] GennyGeo commented on #557
Hi @heshan0131 ,
I'm trying to install keplergl for jupyter on Windows OS and  I'm facing the following problem:

`DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
Collecting keplergl
  Using cached https://files.pythonhosted.org/packag

[2019-07-12 09:19] bskrt opened #606 "Control 3D lighting settings"
*Is there any way of controlling the 3D lighting effects?*
I've been looking into source and found the ``DEFAULT_LIGHT_SETTINGS`` var but editing those values don't seem to have any effect on the lighting of e.g. hexbin columns.

*Additional question:*
if ``DEFAULT_LIGHT_SETTINGS`` should change the lighting effects, how would I edit the ``DEFAULT_LIGHT_SETTINGS`` from my App.js.
Let's say if I wo

[2019-07-12 10:49] etherruzo commented on #583
Same issue. KeplerGL widget map does not display in jupyter notebook:

ipywidgets==7.5.0
jupyter-client==5.3.0
jupyter-core==4.5.0
keplergl==0.1.0a7
python 3.7.3

[2019-07-12 18:11] heshan0131 commented on #389
https://github.com/uber/nebula.gl/pull/254.

[2019-07-12 18:13] heshan0131 commented on #339
Waiting for UCF and Tableau to sign legal documents, target publish in 2 weeks

[2019-07-12 21:26] heshan0131 commented on #605
Do you know what `dataId` is in your config template? If you saved the dataId, you can call `addDataToMap` passing the same id and data from the server

[code]

[2019-07-12 21:36] heshan0131 commented on #603
You are right, the `theme` used on histogram bar is not from the `theme` context, but from directly import `theme` object (https://github.com/keplergl/kepler.gl/blob/master/src/components/common/range-plot.js#L31). That's why changing the theme passed to `KeplerGl` prop did not affect the bars. I will make a PR to

[2019-07-12 22:30] heshan0131 commented on #606
After upgrade to deck.gl 7, lighting is automatically set by deck. kepler.gl's light setting is not used anymore. The default lights are (2 directional lights)[https://github.com/uber/deck.gl/blob/4ab8461bb6378c7d68b9525a232150121a7c7e9e/modules/core/src/effects/lighting/lighting-effect.js#L6]

If you want to control the light, you will need to set light effect to `Deck.gl` and material in `Layer`

[2019-07-12 23:02] heshan0131 commented on #597
@Harrisandwich Most of kepler.gl's layers except the heatmap layer is Deck.gl layer. We are actually planning to replace heatmap with a deck.gl Native heatmap layer.

In your case, however, you want to render Mapbox Layer but use kepler.gl's layer config UI to control it? Will you be building it as a custom kepler.gl layer? If so, you can always take a look at kepler's [heatmap layer](https://gith

[2019-07-12 23:05] heshan0131 commented on #602
Are you passing the `datetime64[ns] fields` inside a dataframe? Can you paste code snippet on how you passed the data to kepler?

To make it work for now, You can try convert it into a string. kepler.gl will detect string as a `time` type

[2019-07-12 23:12] heshan0131 commented on #593
Are you using a custom mapbox style which contains the arrows layer? If so kepler.gl auto detect layer groups from your custom mapbox style and allow you to move certain layer group on top of kepler gl layer:

![Screen Shot 2019-07-12 at 4 07 01 PM](https://user-images.githubusercontent.com/3605556/61162768-1cc6a500-a4bf-11e9-808c-4bd4b0d01ecd.png)

The layer group kepler.gl tries to detect are ar

[2019-07-13 16:43] heshan0131 commented on #580
@macrigiuseppe ?

[2019-07-13 17:38] jofri99 commented on #593
Thanks for your responses. I'll try it on monday and give you a feedback then :)

[2019-07-13 22:16] macrigiuseppe opened #608 "Dropbox logoout"
**Is your feature request related to a problem? Please describe.**
Currently users are not able to logout from Dropbox account after they have performed a successful login.

Implement a UI feature to log users out of Dropbox by deleting the dropbox token in their localstorage

[2019-07-13 22:16] macrigiuseppe commented on #580
There is no current feature in Kepler.gl to logout users from their dropbox account but you can perform the following:

![delete-mapbox-token](https://user-images.githubusercontent.com/2554552/61177052-dabe6180-a599-11e9-9935-60afcb704f34.gif)

Kepler.gl store dropbox into the browser local storage using the key __dropbox__, if you delete the entry from your browser, you will no longer be logged i

[2019-07-14 07:41] vladimir-kondratenko commented on #603
Thanks. Sorry to bother with such small issue, I wanted to create PR by myself but I have strange problems with dev setup.

[2019-07-15 02:04] Stephane-Thales commented on #602
Hi,
Yes I'm using pandas and passing the data in a dataframe

Here is the part where I load the data :

[code]

Then I apply a previously saved config

[code]

the dataframe dtypes return :

[code]

the config file is attached here :
[configKepler.json.txt](https://github.com/keplergl/kepler.gl/files/3390652/configKepler.json.txt)

Following your recomendations, I've converted to str before loadin

[2019-07-15 07:20] hkittylover commented on #593
HI @heshan0131

Thank you for answering my question. I would also like to ask a follow-up question. Is it possible for a mapbox layer to be between 2 kepler layer? Like making the label and roads layer be between the point and arc layer as seen below.

![image](https://user-images.githubusercontent.com/16951634/61200434-eb92e280-a713-11e9-9405-e93de300609f.png)

[2019-07-15 07:26] jofri99 commented on #593
@heshan0131 So I tried it, but it don't work like expected. So here is what I done:
I added the layer with the mapboxref like this:
[code]
then in the sidebar I pressed the button next to water. But only the water layer is moving up, my arrow layer is untouched:
![grafik](https://user-images.githubusercontent.com/31164173/61200656-7955da00-a6e2-11e9-90d2-b29148dc9c3b.png)

[2019-07-15 08:33] x670 opened #609 "Ability to use more than 2 digits after decimal point in parameters everywhere it is available"
Here in screenshot opacity=0.01, but is too big according to data. It will be more useful if user can set Opacity to 0.05 or 0.01. If there is fundamental restriction (from 0 to 255 points of alpha, for ex), then it would use maximum resolution of this parameter. That should be available not only for opacity.
![изображение](https://user-images.githubusercontent.com/29977642/61201288-bb841900-a6ec-

[2019-07-15 08:39] x670 opened #610 "Slider-input usability changes"
Hello!
I have two proposals for slider-input-value field:

**Make minimum slider-input width wider by 15% and adaptive to digits count**
Now width of range sliders is 50 px
![изображение](https://user-images.githubusercontent.com/29977642/61203035-e7ee6400-a6f1-11e9-9791-62f36bf5511e.png)
Setting it to 60-70 px will  improve usability of slider inputs in most cases. For another cases  it should in

[2019-07-15 19:33] derek-nascent commented on #176
Is this going to re-render the tiles each time from the beginning or progressively add new data? My scenario is such that a 200mb dataset might be small. I'd like to be able to stream in the dataset in chunks and add them to the map as they become available, but not force a full re-render of the tiles each time I add a new chunk.

[2019-07-16 12:17] derek-nascent opened #612 "Community Server"
Is there a community Dischord server or something like that? I'd love to be able to interact with the community in real time.

[2019-07-16 14:56] bragilev commented on #365
I found a workaround. It looks like there is an issue with "visState" "layerToBeMerged" array.
After I delete a dataset, the appropriate layer is removed from the array.
And then I dispatch "addDataToMap" the layer is missing and there is no correlation between dataset and configuration.
The solution was to update the "layerToBeMerged" array before despatching the action.

[2019-07-16 14:57] bskrt opened #613 "Deck.gl Column Layer"
Having access to the deck.gl column layer would nice.
In some cases you don't want to use point aggregation in a specific area but just visualize a column at a certain coordinate with the height based on a certain value.

Afaik this isn't available at the moment?

[2019-07-16 15:11] bskrt commented on #606
Thanks for the info @heshan0131. I'm not all that proficient in react, so how would I implement your suggestions, specifically " you will need to set light effect to Deck.gl and material in Layer"?

I get how I would have to set lighting in a deck.gl project, but not how to access those settings in kepler.
Right now, I would just hardcode the default settings in de deck.gl module, but that doesn't

[2019-07-17 05:29] djouallah opened #614 "don't show null for labels if there is no data"
i have 65K points, but I want to show labels only for some points, kepler show null if there is no labels, which is problematic
![image](https://user-images.githubusercontent.com/12554469/61349492-ab646900-a8a7-11e9-84e4-a1c37996f3f5.png)

[2019-07-17 16:53] macrigiuseppe opened #615 "Solve security Github Warnings"
We need to solve: https://github.com/keplergl/kepler.gl/network/alerts

[2019-07-17 17:45] MosheMalin opened #616 "Custom tooltip"
Is there a way to get an handle to the event that raises the tooltip, in order to provide a custom tooltip instead?
Alternatively, is there a way to add html elements to the tooltip or to otherwise customize it?

Thanks!

[2019-07-18 12:42] kunalganglani commented on #616
+1

[2019-07-18 16:10] Harrisandwich commented on #343
I'm having this issues as well. Adding a new dataset with any config or options causes it to replace all prevously added datasets with the new one.

[2019-07-18 18:56] Harrisandwich opened #617 "[Bug] Data Source picker always disabled"
**Describe the bug**
The layer data source picker is always disabled

**Expected behavior**
The data source picker should be visible and enabled when there are multiple datasets

**Additional context**
It seems that the data source picker is always disabled because of this check `layer.type && config.columns`. Since most layers have required columns, it's not possible to change the data source for

[2019-07-19 10:12] ajinkabeer commented on #343
@bragilev
How did you pass the new dataset? I am in a similar situation. I created a new dataset named dataset2 and assigned `config.config = nycConfig` like you did.It doesn't work.Could you please explain to me how you did it?

[code]
`    this.props.dispatch(addDataToMap({ datasets: dataset2, config }));
`

[2019-07-19 11:26] gcoimbra commented on #343
@ajinkabeer
I was able to do it deleting the config version like @rfockema. If it helps...

[2019-07-19 11:31] ajinkabeer commented on #343
@gcoimbra
Can you please post the code?

[2019-07-19 11:42] bragilev commented on #343
You need to define two different layers with two different data_ids in your
configuration file

On Fri, Jul 19, 2019, 1:12 PM Ajin Kabeer <notifications@github.com> wrote:

[2019-07-19 14:16] bskrt commented on #617
Noticed this too a while back, it's not always disabled though; If you have multiple datasets loaded and create a new layer, *you can't select the dataset once you have selected a layer type*. Though, if you press the 3 dots to expand the layer menu (before selecting a layer type), you will be able to select any loaded dataset.

I do totally agree that this feels like a bug, and it should be possi

[2019-07-19 14:19] bskrt commented on #616
Related to this, some more clarifications on how to use the ``onLayerClick, onMapClick, ...`` visStateActions would be nice.

[2019-07-19 14:40] Harrisandwich commented on #617
@bskrt Oh! Hot dang! You just saved me half a day of trying to figure out a work around hahaha

Though changing the dataset after layer type selection would work better with the flow. You don't see the field until you've selected a layer type and are mapping data fields. I worry that like myself, users will encounter this and assume the feature is broken.

[2019-07-19 14:43] bskrt commented on #617
Ha! Glad I could help :)

Yup, totally agree. Actually it would make more sense if you first have to select a dataset and then a layer type, or at least just have the first step expanded in the first place.

[2019-07-19 17:40] heshan0131 commented on #616
You can replace `MapPopoverFactory` to implement your own tooltip. Here is the source code https://github.com/keplergl/kepler.gl/blob/master/src/components/map/map-popover.js#L84

[2019-07-19 17:41] heshan0131 commented on #614
I will look into this

[2019-07-19 17:43] heshan0131 commented on #613
you are right, column is only used in the aggregation layers. You can, however, implement a custom layer. The docs is not complete yet. But you can take a look at this PR https://github.com/keplergl/kepler.gl/pull/540

[2019-07-19 17:44] heshan0131 commented on #612
We have a slack room for core developers and some beta testing users. Would you like to join that?

[2019-07-19 17:45] heshan0131 commented on #610
I believe this is only on windows? are you using firefox or chrome?

[2019-07-19 17:48] heshan0131 commented on #609
For usability, We have to set the breaks somewhere. But I agree giving people more freedom to set their own value is important. Maybe we should allow input any value in slider as long as it's within the range

[2019-07-19 17:50] heshan0131 commented on #606
yea, let me look into providing a prop on KeplerGl for you to import light settings.

This deck.gl guide explains how to set light effect in deck.gl and its layers
https://github.com/uber/deck.gl/blob/master/docs/developer-guide/using-lighting.md

[2019-07-19 17:52] heshan0131 commented on #594
We will try to reproduce it. @troboukis Can you paste your map config and a smaller set of data?

[2019-07-19 17:59] heshan0131 commented on #588
will reopen #562 to address this

[2019-07-19 18:03] heshan0131 commented on #176
This is a bigger effort we will tackle later, to support data streaming in, and not update the entire dataset

[2019-07-19 18:22] Harrisandwich commented on #343
I found another way around for those looking for something that doesn't require passing the original config directly.

Here I'm creating a custom reducer, meant to be an alternative to the `updateVisDataUpdater`
It calls the original, and then puts all the stuff I still want back into the returned state
[code]

So if you want something similar, create a new reducer like above, then create an actio

[2019-07-19 22:26] heshan0131 commented on #343
Added `keepExistingConfig` to options to allow keeping old datasets and config layers

https://github.com/keplergl/kepler.gl/pull/619

[2019-07-19 23:21] heshan0131 commented on #593
Ah i see, you are adding arrow layer using mapboxgl api after obtaining the mapbox object using `getMapboxRef`

kepler.gl doesn't track individual mapbox layers added via mapboxgl api. what it does track is the custom map style object added using the Add Map Style button or loadMapStyles action.

Which means your arrow layer has to be built into the map style and added to kepler.gl using `loadMapS

[2019-07-20 05:18] victorfgs commented on #557
just had the same issue on Windows 10 here @GennyGeo
solved by:
- installing [shapely](https://www.lfd.uci.edu/~gohlke/pythonlibs/#shapely) manually;
- installing [gdal](https://www.lfd.uci.edu/~gohlke/pythonlibs/#gdal) manually
- installing [fiona](https://www.lfd.uci.edu/~gohlke/pythonlibs/#fiona) manually

hope you can make it work too ;)

[2019-07-20 12:21] derek-nascent commented on #612
That would be awesome. Thanks for the invite.

[2019-07-22 02:44] saihacm commented on #594
I have the same problem with the exporting images as you.

Screenshot:
![image](https://user-images.githubusercontent.com/18748377/61602579-5d16e780-ac64-11e9-8af7-0a60a13aafa0.png)

Map config & data:
[keplergl.txt](https://github.com/keplergl/kepler.gl/files/3415510/keplergl.txt)

[2019-07-22 08:13] eportico opened #620 "[Bug] Fail to load 3DBuilding layer"
**Describe the bug**
When enable 3D building in map then the demo kepler.gl  fail.
I have tested with my app inmporting kepler component and I get the same error

[2019-07-22 08:48] x670 commented on #610
Hello!
I am mostly using Firefox 67 & Ubuntu 18.04
Checked on Chromium - there is no visible up/down buttons, arrow keys still working and width is enough.
I believe it is only Firefox issue. Should I close issue?

[2019-07-22 09:00] Koushik95 commented on #570
@heshan0131 - any new updates on this request?

[2019-07-22 11:51] ricardoCyy commented on #557
I followed @victorfgs 's advice and made it!
But it took me 4 hours to figure out how to "manually" install these three packages.
I hope the following notes would help some start-up programmers like me to save your time.

### System: win10
**Note 1:** Install "manually" does not mean install the ".whl" files to your python library folder!

**Note 2:** Make sure you have "wheel" in pip lib. ``` pip

[2019-07-23 12:41] shishirmehto commented on #612
Hi @heshan0131
I am currently working on Kepler and actively using it. It would be great to stay in touch with the developer community. Do let me know how I can get an invite for the slack room.
Thanks,
Shishir

[2019-07-23 13:44] MosheMalin commented on #616
Thank you!
checking it.

[2019-07-23 13:54] MosheMalin opened #623 "Does Kepler allow tileserver layers to pop a tooltip?"
(sort of continuing a previous question - )
I want to get some extra info for the tileserver layers (not Kepler's).
Can I use the underlying mapbox events somehow (or anything else), so that hovering or clicking on a tileserver's items will pop-up an info based on the TS info?

[2019-07-23 19:39] frhino commented on #387
@heshan0131 May I ask what tool you used to create your gantt-style roadmap in the wiki? It looks great!

[2019-07-23 19:50] heshan0131 commented on #617
The problem is if you change the dataset of an already set layer, the base column of that layer will not be valid anymore, unless kepler tries to find column with the same name in the new dataset. This goes on to all the color / radius / height based on columns. As a lazy solution, we simply disabled select dataset in a layer once it's set.

 If you think this is a must have feature, please create

[2019-07-23 20:24] heshan0131 commented on #612
Yes, what's your email address?

On Tue, Jul 23, 2019 at 5:41 AM Shishir Mehto <notifications@github.com>
wrote:

[2019-07-23 20:27] heshan0131 commented on #623
You will have to `getMapRef`, then implement on Layer hover event using Mapbox event listener, and display kepler.gl `onLayerHover` action with the hovered feature, mouse pos etc. It would be tricky but doable. Let me know if you were able to get it to work :)

[2019-07-23 21:25] heshan0131 commented on #387
Road map is updated. and @frhino I used Lucidchart :)

[2019-07-24 06:57] shishirmehto commented on #612
it's shishir.mehto@gmail.com, thank you

[2019-07-24 15:20] rubenseijioto commented on #592
I'm having the same issue and for it's happening when I add a timestamp filter, other types works fine for me.

[2019-07-24 15:23] HLiuUS commented on #592
Exactly the same thing happened to me.

[2019-07-24 20:55] Harrisandwich commented on #623
Hey! So i've been having trouble as well and have a work around. Unfortunately mapbox events do not get triggered properly because Deck/kepler block them. I mention deck because this issue existed when I was first experimenting with it before discovering kepler.

Here is my work around, though if there is an easier way I'm definately interested ;)

[code]

[2019-07-24 20:58] Harrisandwich commented on #623
I should also note that I've had trouble firing kepler's `onLayerClick/onLayerHover` actions myself when this solution was being implemented in my map container component. It's possible I was doing something wrong though

[2019-07-24 21:03] Harrisandwich commented on #613
I've been able to throw together a few custom layers if you have questions. Still trying to figure out some of the finer details until the docs are done, but I'm getting to a point where I feel like I know the steps.

[2019-07-24 21:34] heshan0131 commented on #613
@Harrisandwich I would be interested to know your experience of implementing custom layer. I am not at a point where I am happy with the clarity and ease of use of current layer class methods.  i am constantly making changes to it, that's why I hesitate to expose it.

[2019-07-24 23:09] heshan0131 commented on #602
👍
closing it for now

[2019-07-24 23:09] #602 closed

[2019-07-24 23:10] heshan0131 commented on #603
👍 merged into master, will be available in the next release

[2019-07-24 23:10] #603 closed

[2019-07-24 23:12] heshan0131 commented on #580
closing it for now, please follow #608

[2019-07-24 23:12] #580 closed

[2019-07-24 23:14] heshan0131 commented on #592
@HLiuUS What browser (chrome, safari, firefox) and operating system (mac, windows) are you on?
mind attach the html?

[2019-07-24 23:54] HLiuUS commented on #592
@heshan0131 It was on Windows 10 and I tried with both Chrome and Edge, same issue. You can find a html file in the zip file I uploaded.

[2019-07-25 00:19] matheusmonte commented on #499
hi @macrigiuseppe sorry for delay, I have crazy days on work.

I'm back working on this, but I get some problem using date-fns, on docs, they say that UTC submodule is on development, but on Kepler, we use a lot of moment.utc(val) method.

Will we go on this?

[2019-07-25 00:40] matheusmonte commented on #612
Hi @heshan0131 Can you invite me too? my slack email is clark.monte1@gmail.com

[2019-07-25 01:42] heshan0131 commented on #614
This should be fixed and deployed to demo app

[2019-07-25 01:42] #614 closed

[2019-07-25 02:53] macrigiuseppe commented on #499
@matheusmonte
If i recall correctly moment.utc() can be simply replaced by [Date.UTC](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/UTC) since they will both return a new Date object with utc offset.

[2019-07-25 03:00] macrigiuseppe commented on #620
fixed

[2019-07-25 03:00] #620 closed

[2019-07-25 08:42] eportico opened #630 "How override color to 3D Building layer ?"
Hi, I created new style in mapbox studio. I have customized color in building layer, but in kepler.gl, this layer is same color always. I think that the color depend of theme. In light theme I can see good definitons for buildings, but in dark theme, I can`t see good visualization of buildings.

How I can override this building color ?

[2019-07-25 08:51] GennyGeo commented on #557
Thank you very much @victorfgs @ricardoCyy !!!  I will try to follow your advice!
Have a nice day! :)

[2019-07-25 10:25] davidnaughton commented on #570
Hey , I am also running into this issue , any idea when it will be available in jupyter labs ?

[2019-07-25 12:43] bskrt commented on #617
Not necessarily a must have feature, but I would expand the UI group  by
default, so the dataset dropdown is visible.
Right now it's very easy to miss.
To go a step further I would put the dataset field above the layer type.
From a UX perspective it would be way clearer.

On Tue, 23 Jul 2019, 21:50 Shan He, <notifications@github.com> wrote:

[2019-07-25 12:51] GloriaCHL opened #631 "Reset the mapbox.gl style"
**Is your feature request related to a problem? Please describe.**
Can I change mapbox style url in kepler.gl?
Like this in mapboxgl:
[code]

or how can I do it in any other way?

[2019-07-25 18:15] matheusmonte commented on #499
I get, Thanks, I will use this

[2019-07-25 20:00] Harrisandwich commented on #613
**(Bit of a long comment hahaha hopefully you find all this helpful)**

It hasn't been too hard to figure out. The first custom layer was the hardest, as it was extending the MapboxLayer class you use for heatmaps.  The next few have gone better so far.

I'd say my biggest roadblocks creating custom layers are:
- Not really knowing the difference between visConfig properties and visualChannels. St

[2019-07-25 21:08] heshan0131 commented on #630
building color is based on background color of the style by default.
Added a 3d building color editor
https://github.com/keplergl/kepler.gl/pull/633

[2019-07-25 21:24] heshan0131 commented on #631
you can add custom map style
https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/f-map-styles/3-custom-styles.md

[2019-07-26 03:09] GloriaCHL commented on #631
Thank you for your help, it work for me. And, can I change the map engine? I don't want to use Mapbox, I want openstreet

[2019-07-26 06:10] theseusyang opened #635 "When add add to map by selecting a map demo, Map Display is blank"
When starting Kepler Server, After adding data to map , then find Map Display is blank.

[2019-07-26 06:13] theseusyang commented on #635
![image](https://user-images.githubusercontent.com/863136/61930135-7646cd80-afaf-11e9-9a01-56ab6aa7d5cf.png)

the result is:

![image](https://user-images.githubusercontent.com/863136/61930157-89f23400-afaf-11e9-843c-a3854c0bdf30.png)

[2019-07-26 09:56] mmo84 opened #636 "Data not being displayed in the map"
**Describe the bug**
I have a very simple CSV file including project code, project title, project description, sector, latitude and longitude. I would like these projects to appear on the map, but when I load my data in kepler, nothing is displayed on the map. I saw some related issues, but I am not a coder at all and I don't what geometry collection means ... I would really be grateful if someone

[2019-07-26 10:50] erickndava commented on #636
I opened the file you attached, exported it as CSV and then loaded into Kepler.gl.

The points data displays fine and Kepler even auto-loads it as points (No need to specify Lat*, Lng*

![sample](https://user-images.githubusercontent.com/5484204/61946742-a8eac900-afa3-11e9-8a8f-633ae23508c6.PNG)

Maybe this is related to your Browser?

The CSV file I used is attached

[Geolocalisation_test2.zip](h

[2019-07-26 11:10] mmo84 commented on #636
Many thanks for your quick feedback !
It's weird because when I upload the same file, I get :
![image](https://user-images.githubusercontent.com/53336272/61947844-92923c80-afa6-11e9-94e7-71ddff77bf93.png)
I tried with Mozzila firefox and with google chrome but I get the same result with both browser ....

[2019-07-26 11:17] mmo84 commented on #636
Ah no when I try with your file, it's working... maybe my issue is when converting my excel file to CSV ? How did you proceed ?

[2019-07-26 11:21] erickndava commented on #636
Great you have it working along the way atleast.

From your excel file I **_Saved As_**, then chose CSV under **_Save as type_**.

![File Export](https://user-images.githubusercontent.com/5484204/61948513-4c3ddd00-afa8-11e9-896b-ca119a41bbe2.PNG)

My guess it that other csv type options give rise to issues.

[2019-07-26 11:31] mmo84 commented on #636
I did the same but it does not work... And actually when I open your file, it does look like a CSV file whereas mine still look like a table ...

[2019-07-26 13:20] erickndava commented on #636
Sometimes MS Excel has a way of adding unwanted characters to data.(I used Excel 2016) As an alternative you can try and export your CSV using OpenCalc of the OpenOffice suite - https://www.openoffice.org/

[2019-07-26 13:26] derek-nascent commented on #612
is there a way I can give you my email privately and not on the open web?

[2019-07-26 16:09] Harrisandwich opened #637 "[Bug] Potential typo in geojson layer causing problems finding data"
**Describe the bug**
In `formatLayerData` in the GeojsonLayer class, `this.config.column` is being passed to `this.getPositionAccessor`. It used to pass `this.config.columns`. This causes issues where the function can't find the index of the field.

This is at line 217

[2019-07-26 18:08] #594 closed

[2019-07-26 18:29] heshan0131 opened #638 "Rotate mapbox token in exported HTML"
To avoid miss-use we are going to invalidate our old token in exported html.

Please refer to [this giude](https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/k-save-and-export.md#how-to-update-an-exported-map-token) to update to your own mapbox token in exported HTML map

[2019-07-27 22:01] macrigiuseppe opened #639 "Add netlify badge to readme"
Add netlify badge to Readme file

https://www.netlify.com/blog/2019/01/29/sharing-the-love-with-netlify-deployment-badges/

#641

[2019-07-28 02:38] macrigiuseppe commented on #636
Confirmed the Excel file is being displayed correctly once converted to CSV.

Closing this one

[2019-07-28 02:38] #636 closed

[2019-07-28 02:41] macrigiuseppe commented on #630
Going to close this one since the feature is now available

[2019-07-28 02:41] #630 closed

[2019-07-28 02:56] macrigiuseppe commented on #635
@theseusyang it looks like you are missing the mapbox token in order to run kepler.gl.

Before you start Kepler.gl in the same console window fo the following:
[code]

[2019-07-28 06:28] macrigiuseppe commented on #588
Fixed in #629

[2019-07-28 06:40] macrigiuseppe commented on #523
This is fixed in #629

[2019-07-28 20:26] heshan0131 commented on #612
@derek-nascent you can use [this invite link](https://join.slack.com/t/kepler-gl/shared_invite/enQtNzAyMTEzMzAyNDMzLWRkN2FkYTU4ODVmZGMzMDQ2Mjg4NWQyYTg1MzkxM2I1M2FmYzBiNzE2ZTYwM2M4ZDJmMzIzNTU1YWYwNDU3ZDM). it expires on 30 days

[2019-07-28 20:38] heshan0131 opened #643 "Kepler.gl Dev Community Slack Channel"
I have created a slack channel for people who want to discuss anything kepler.gl related. We won't be able to monitor the channel at all time. Please help each other!

[Invite link](https://join.slack.com/t/kepler-gl/shared_invite/enQtNzAyMTEzMzAyNDMzLWRkN2FkYTU4ODVmZGMzMDQ2Mjg4NWQyYTg1MzkxM2I1M2FmYzBiNzE2ZTYwM2M4ZDJmMzIzNTU1YWYwNDU3ZDM)

Link will expire in 30 days

[2019-07-28 22:51] macrigiuseppe commented on #539
We are currently looking into this issue

[2019-07-28 22:52] macrigiuseppe commented on #539
hi @cschlessinger we are currently looking into this issue

[2019-07-29 04:23] trietphan94 commented on #594
Hi @heshan0131, When will this task be released?

[2019-07-29 05:42] heshan0131 commented on #130
closing it as this was fixed

[2019-07-29 05:42] #130 closed

[2019-07-29 22:46] robert-claypool commented on #406
Finally, I think I have bandwidth to tackle this. @heshan0131, my main goal is to see multiple Mapbox Styles and control the order they are rendered -- e.g. 'Water Utility Assets' need to show on top of 'Muted Night'.

Here's a mockup.

![keplergl-basemaps-mockup-2](https://user-images.githubusercontent.com/1069956/62086116-05a7e700-b223-11e9-9ec3-9dfbc8ec1907.png)

1. User can reorder the map sty

[2019-07-30 04:05] macrigiuseppe commented on #390
@heshan0131 I am looking at turf.js, should we use https://turfjs.org/docs/#pointsWithinPolygon to filter points within a polygon?
or is there another method we should use?

[2019-07-30 04:07] macrigiuseppe commented on #594
@trietphan94 the feature is already available on https://kepler.gl/

[2019-07-30 07:35] trietphan94 commented on #594
@macrigiuseppe How about npm package?

[2019-07-30 11:33] etherruzo commented on #583
kepler maps not being displayed.  I upload the consoles log.

ipykernel==5.1.1
ipython==7.7.0
ipywidgets==7.5.1
jupyter-client==5.2.4
jupyter-core==4.5.0
keplergl==0.1.0a7
widgetsnbextension==3.5.1

![Captura de pantalla (20)](https://user-images.githubusercontent.com/6033974/62125749-4d377d00-b2ce-11e9-8211-36bfe58511c0.png)

[2019-07-30 19:13] Harrisandwich opened #644 "[Bug] Logic issue in Layer.registerVisConfig preventing custom boolean properties"
**Describe the bug**
I'm creating a custom layer that has two boolean visConfig props, but they aren't getting registered while default layers seem to use boolean types just fine. When debugging I noticed this `if` statment:

[code]

It seems that default visConfig props get loaded correctly because of the first condition, since you only pass a string to define them. However, if a custom prop with

[2019-07-30 22:03] heshan0131 commented on #583
Thanks. I was able to reproduce similar issue with python 3. Will investigate

[2019-07-30 22:11] heshan0131 commented on #331
@saulshanabrook Thank you so much for this!! I will implement your changes and test it

[2019-07-31 03:59] macrigiuseppe commented on #594
@trietphan94 I am not sure about the exact day but it should happen soon

[2019-07-31 06:59] heshan0131 opened #646 "Publish keplergl for Jupyter on conda-forge"
Windows users using conda to install `keplergl`. if not setup correctly, nbextension will not bbe properly registered

https://github.com/keplergl/kepler.gl/issues/583

[2019-07-31 07:01] heshan0131 commented on #583
Did some digger today. I assume people who don't see a map display and have an error msg like
`GET http://noteboworkbench....com/static/keplergl-jupyter.js?v=20190701133836 404`

are using windows? This means keplergl extension is not installed and enabled, despite the fact `keplergl` python package is installed successfully.

Try run the command below, see if any luck.

[code]
use `--sys-prefix`

[2019-07-31 08:26] etherruzo commented on #583
I was using 16.04.6. I confirm it worked, now the map is being displayed.

pip install --upgrade jupyterthemes
jupyter nbextension install --py --sys-prefix keplergl
jupyter nbextension enable --py --sys-prefix keplergl

[2019-07-31 08:41] heshan0131 commented on #644
looks about right, or use `layerVisConfigs[item].hasOwnProperty(p)`

Wanna open a one-line PR with this?

[2019-07-31 08:55] trietphan94 opened #647 "Image export function with map config"
I want to export images with map config. Do we have this feature yet?

[2019-07-31 17:46] Harrisandwich commented on #644
Can do!

[2019-08-01 16:14] macrigiuseppe commented on #647
Hi @trietphan94 can you provide more details for your use case?

You can export your map to an image via the __export image__ feature: https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/k-save-and-export.md#export-image

You can also export your map configuration/data via __export_map__ feature: https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/k-save-and-export.md

[2019-08-01 16:15] #639 closed

[2019-08-01 16:19] macrigiuseppe commented on #631
@GloriaCHL we currently support only Mapbox

[2019-08-01 22:25] heshan0131 commented on #539
This is fixed with release v1.1.2

[2019-08-01 22:25] #539 closed

[2019-08-02 02:59] trietphan94 commented on #647
Hi @macrigiuseppe, Thanks for your support. In my case, I have JSON with my current map config and data. I need an image export function that I just need to pass JSON into and export the image, no need to export the map.
Input:
{
    datasets: datasets,
    config: config
}

Output: Kepler image from the above input.

[2019-08-02 04:25] oliverclock commented on #583
Hi - I had this issue running Anaconda 4.6.8, Jupyter Notebook and Python 3.7.1 on Windows 10. The above suggestion worked, i.e.

pip install --upgrade jupyterthemes
jupyter nbextension install --py --sys-prefix keplergl
jupyter nbextension enable --py --sys-prefix keplergl

Thank you - excited to give this a go!

[2019-08-02 17:48] macrigiuseppe commented on #644
closing because merged in master

[2019-08-02 17:48] #644 closed

[2019-08-02 17:51] #631 closed

[2019-08-02 17:51] #616 closed

[2019-08-02 18:09] heshan0131 commented on #647
@trietphan94 our image export is using dom-to-image which means you still need to run kepler in a browser, We can provide a callback prop `getMapImage` or some sort for you to gather the map image with input like `width` and `height` `resolution` etc. Needs more details on how frequently you need to get an map image

[2019-08-02 18:10] heshan0131 commented on #635
closing it for now, waiting for more response

[2019-08-02 18:10] #635 closed

[2019-08-02 18:15] heshan0131 opened #650 "Improve dataset selecting UX in layer panel"
**Is your feature request related to a problem? Please describe.**
Expand the UI group by default, so the dataset dropdown is visible.
Right now it's very easy to miss.

Put the dataset field above the layer type.
From a UX perspective, it would be way clearer.

<img width="296" alt="Screen Shot 2019-08-02 at 11 13 48 AM" src="https://user-images.githubusercontent.com/3605556/62390287-c32e2500-b51

[2019-08-02 18:15] heshan0131 commented on #617
Created a FR here
https://github.com/keplergl/kepler.gl/issues/650

[2019-08-02 18:16] heshan0131 commented on #557
Created a FR to publish to conda, will this help?
#646

[2019-08-02 18:17] #612 closed

[2019-08-02 18:20] heshan0131 commented on #610
Leave this open, since it is still an unpleasant issue for users using firefox on windows / ubuntu

[2019-08-02 18:23] heshan0131 commented on #592
@macrigiuseppe will look into this

[2019-08-02 21:23] #143 closed

[2019-08-02 21:30] heshan0131 opened #651 "Publish kepler.gl jupyter to JupyterLabs"
Related issues:

https://github.com/keplergl/kepler.gl/issues/570
https://github.com/keplergl/kepler.gl/issues/331#issuecomment-507775765
https://github.com/keplergl/kepler.gl/issues/583

[2019-08-02 21:34] heshan0131 commented on #157
closing this for now, let me know if you can make it work on glitch.com

[2019-08-02 21:34] #157 closed

[2019-08-02 21:35] #139 closed

[2019-08-02 21:35] #138 closed

[2019-08-02 21:35] #154 closed

[2019-08-02 21:36] heshan0131 commented on #154
#394

[2019-08-02 21:37] heshan0131 commented on #165
should be fixed, closing for now

[2019-08-02 21:37] #165 closed

[2019-08-02 21:38] heshan0131 commented on #126
should be fixed now the after #500

[2019-08-02 21:38] #126 closed

[2019-08-02 21:39] heshan0131 commented on #207
closing it after mergin #554

[2019-08-02 21:39] #207 closed

[2019-08-02 21:40] heshan0131 commented on #214
Should be fixed now

[2019-08-02 21:40] #214 closed

[2019-08-02 21:45] heshan0131 opened #652 "More scale options"
**Problem**
kepler.gl now only supports quantile and quantize scale

**Describe the solution you'd like**
 Add log, sqrt and Jenkins natural break scale

[2019-08-02 21:48] heshan0131 commented on #230
merge issue into
https://github.com/keplergl/kepler.gl/issues/652

[2019-08-02 21:48] #230 closed

[2019-08-02 21:48] #226 closed

[2019-08-03 07:50] cosunj opened #653 "How to translate into Chinese?"
Hi, I want to translate into Chinese. How can I do this? Thank you

[2019-08-03 17:12] robert-claypool commented on #406
@heshan0131 @macrigiuseppe I will start work on this Monday to meet an internal deadline. Would like to hear your feedback.

[2019-08-03 19:51] syedzubair-dev opened #654 "[Bug]I am trying to load the kepler Gl map in nodejs application. I have installed the prerequisite dependencies too. Now i am getting the error pls help me out to solve the issue."
I am trying to load the kepler Gl map in nodejs application. I have installed the prerequisite dependencies too. Now i am getting the error pls help me out to solve the issue.

import KeplerGl from 'kepler.gl';
       ^^^^^^^^

SyntaxError: Unexpected identifier
    at Module._compile (internal/modules/cjs/loader.js:721:23)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:787:1

[2019-08-03 22:33] heshan0131 commented on #654
looks like you didn't have babel setup to parse ES6 syntax

[2019-08-03 23:12] macrigiuseppe commented on #638
Mapbox token has been update in netlify.
At the next production deployment the token will be available to users.

[2019-08-03 23:12] #638 closed

[2019-08-05 03:01] GeorgeST5036 opened #655 "hangxain"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-08-05 03:56] macrigiuseppe commented on #390
The new polygon filter will be treated as a regular filter and added to Filters in vis-state. Because the each new polygon filter will required to be mapped against an existing layer, we need to properly create a connection between a filter and layer.

- We are going to add a new property __layerId__ in Filter to track connection between polygon filter and layers.
- We need to modify __filterData_

[2019-08-05 06:33] trietphan94 commented on #647
@heshan0131, Thanks for your support. Very happy if the **getMapImage** function has the following parameters:
**type** (optinal): The content-type of the file to output. Can be one of 'image/png', 'image/jpeg', 'application/pdf'.
**filename** (optinal): The name of the exported file. Defaults to 'Kepler'.
**width** (optinal): Set the exact pixel width of the exported image or pdf.
**callback**

[2019-08-05 09:00] ceturner22 opened #656 "Error when trying to export image in kepler.gl"
**Describe the bug**
When trying to export an image in kepler.gl I am getting a blank image with the error 'arrChildren is not defined' where the data should be showing. The same issue is happening in Chrome and Firefox browsers.

**Screenshots**
![image](https://user-images.githubusercontent.com/53747080/62451072-73916880-b765-11e9-87f6-56fc0ff08c86.png)

**Desktop (please complete the following

[2019-08-05 11:06] ohld commented on #397
@heshan0131 !

What is the probability of finishing that task in the current sprint? Really want to test it out in
kepler.gl/demo

Thanks

[2019-08-05 13:03] Bwsutton1990 commented on #592
This seems to be the same for me. It stops flashing when I remove it from the map by selecting "Time Playback" in the filter section. But starts again when I select it again.

[2019-08-05 18:24] guyts opened #658 "Disable side panel when embedding map as html/json"
**Is your feature request related to a problem? Please describe.**
I am trying to export a visual I created to embed on a blogpost. But I can't find an option to export without the side panel to embed as the dynamic map alone.

**Describe the solution you'd like**
There will be an export without the side panel, such that whomever it is shared with, cannot edit, export or change the map, but only i

[2019-08-05 18:45] guyts commented on #158
when trying to add this to the html code, is this meant to replace the next block:
[code]
Or should it come after?

[2019-08-06 06:31] macrigiuseppe commented on #592
Based on my findings it looks like the browser page keeps on showing/hiding scrollbars and creates a flashing effect.

This is the recording

https://drive.google.com/file/d/1V_kQWjZD8L4Qgtn1bEbBBHX5YYXAS_1b/view?usp=sharing

@Bwsutton1990 @HLiuUS can you please confirm that's the actual problem you are experiencing?

If not, can you please provide a recording of your issue?

Thank you

[2019-08-06 07:43] Bwsutton1990 commented on #592
Hi @macrigiuseppe

I cant access the file, but having looked at the flashing more closely, that seems to make sense.

Thanks
Ben

[2019-08-06 13:35] HLiuUS commented on #592
Hi @macrigiuseppe, I cant access the file either, but it seemscorrect based on your description.

[2019-08-06 16:53] macrigiuseppe commented on #592
@Bwsutton1990 @HLiuUS i updated the link. Let me know

[2019-08-06 21:48] heshan0131 commented on #576
Fixed with `keplergl 0.1.0a8`

[2019-08-06 21:48] #576 closed

[2019-08-06 21:49] #655 closed

[2019-08-06 21:50] heshan0131 commented on #653
You want to help us translate our UI to chinese?

[2019-08-07 07:30] Bwsutton1990 commented on #592
@macrigiuseppe that is the problem I am having.

[2019-08-07 09:54] varunsharma27 opened #664 "Create an Example node based app"
**Is your feature request related to a problem? Please describe.**
So I recently ran into this issue with integrating kepler.gl to a Node based app. The issue was mainly because of `d3-request` and fixed by tweaking webpack configuration. [Solution](https://github.com/d3/d3-request/issues/24#issuecomment-364168377)

**Describe the solution you'd like**
Create a simple app with express + react + we

[2019-08-08 13:31] MosheMalin opened #672 "For the icon layer - can more icons be added?"
Can we add our own custom icons to the icons layer?
Thanks!

[2019-08-08 16:52] Firenze11 opened #673 "[docs] document the schema of key concepts such as "filter""
The `setFilterUpdater` here https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/reducers/vis-state.md#setfilterupdater says:
[code]
However the schema of "filter" is found in this documentation. Since filter is a common concept, would be nice to document it.

[2019-08-08 22:08] Firenze11 opened #674 "Filter dataset by id mask"
In my use case, there is filter logic that's hard to express via single column values. For instance I need to compute the diff of two columns and filter by that. The solution I'm thinking about is to derive an Id mask from my custom logic, and filter data by Id. Would be great to have an updater dedicated for that.

[2019-08-09 02:41] luanwei opened #675 "Items placed on non-80 port can not be accessed? How to configure it?"
Packed files can only run on port 80, otherwise they cannot be accessed.

[2019-08-09 03:12] bosges commented on #557
非常感谢，安装没有出错了，但在jupyter中无法执行，显示没有找到指定模块，求解！！！
![image](https://user-images.githubusercontent.com/42603968/62751507-88883780-ba96-11e9-9526-6a16acde74b4.png)

[2019-08-09 03:26] ricardoCyy commented on #557
install fiona

[2019-08-09 03:51] bosges commented on #557
sharpely / gdal / fiona 三个包都安装完了，没有报错，但还是无法执行，依旧显示找不到指定模块

[2019-08-09 04:03] bosges commented on #557
三个包都安装完了，没有报错，但还是无法执行，依旧显示找不到指定模块

[2019-08-09 04:05] bosges commented on #557
@ricardoCyy 三个包都安装完了，没有报错，但还是无法执行，依旧显示找不到指定模块

[2019-08-09 04:53] bosges commented on #557
版本问题  解决了谢谢

[2019-08-09 05:29] bosges commented on #557
这个是什么原因呢？求解！
![image](https://user-images.githubusercontent.com/42603968/62756287-b75bd900-baa9-11e9-8deb-d06b3e65f37d.png)

[2019-08-09 05:31] bosges commented on #557
这个是什么原因呢？求解！
![image](https://user-images.githubusercontent.com/42603968/62756340-f722c080-baa9-11e9-90e3-788a68c80096.png)

[2019-08-11 07:41] laurids-reichardt commented on #397
Thanks @heshan0131 for the awesome work you're doing! For one of my projects, I would like to visualize bicycle traffic flowing through a city. The trip animation layer would be perfect for that use case. Can't wait till it lands in kepler.gl.

[2019-08-12 18:04] macrigiuseppe opened #679 "[Bug] Table view crashes when geojson dataset is being display"
https://kepler.gl/demo/nyc_census

Datatable view crashes

[2019-08-12 18:10] heshan0131 commented on #397
Target release date would be end of next week

[2019-08-12 18:16] macrigiuseppe opened #680 "[Bug] Export image doesn't work in Netlify Prod"

[2019-08-12 18:16] heshan0131 commented on #652
#670

[2019-08-12 20:06] heshan0131 opened #681 "[Feature] Improve geojson processing performance"
**Describe the bug**
Processing large geojson file takes too long. Need to run profile and identify where the bottleneck is.

[2019-08-13 07:18] macrigiuseppe commented on #680
fixed here: https://github.com/keplergl/kepler.gl/pull/682

[2019-08-13 07:33] #680 closed

[2019-08-13 15:05] omegadeep10 commented on #658
Hi, we ran into a similar issue. I wanted to embed a map on our conference area TV, without the sidebar. We are using the single file HTML version.

Note that Kepler already supports loading a "read Only" version of the map, you just have to pass the option in the `initialState` object as part of the reducer. I'm not a react person, so a lot of this goes over my head. I used the provided example a

[2019-08-13 15:16] omegadeep10 commented on #483
I believe this already exists in Kepler, it's just referenced as readOnly in the docs. You would have to pass `readOnly: true`   in the initial UI state when you init the Kepler GL reducer. Please see here for more info: https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/reducers/ui-state.md#initial_ui_state

I think "Studio Mode" is the default Kepler.GL state, and the "readOnly

[2019-08-13 15:21] omegadeep10 commented on #322
Currently we run a regular cron job to generate new CSV files every 15 minutes. We are using the single-file HTML version of Kepler, and we've configured it to load the CSV file dynamically, and refresh the page every 15 minutes.

It's not real-time, but it works well enough for our use-case. However, this is only feasible because we are only working with a relatively small amount of data (about 3

[2019-08-13 19:16] heshan0131 commented on #656
This is not related to createRef
This has been fixed in prod

[2019-08-13 19:16] #656 closed

[2019-08-13 21:37] treyhakanson opened #684 "Deck.gl Versioning Issue"
**Describe the bug**
The `deck.gl` version is set to `^7.1.5` in the `package.json`, and the lockfile specifies `7.1.5`. So, when cloning and running this repository as-is, everything works properly. However, when using `yarn add kepler.gl` in an external project, `deck.gl@7.2.1` is installed. This leads to the following error upon attempting to load data (occurs within `deck.gl`):

[code]

**To R

[2019-08-14 06:25] kunalganglani commented on #435
+1, yes even I would like to have this feature for our product. Please let me know if this is in plan?

[2019-08-14 13:38] treyhakanson commented on #684
For those looking for a fix in the meantime, you can add the following to your `package.json`:

[code]

[2019-08-14 15:41] guyts commented on #658
Thanks @omegadeep10 ! I actually managed a similar fix as well (not a react person myself too), but forgot to update here!
For reference, here's my fix:
https://stackoverflow.com/questions/57364050/disable-side-panel-when-exporting-kepler-gl-map/57381970#57381970

[2019-08-14 15:42] guyts commented on #658
Accidentally closed ! But if anyone wants to do this as enhancement, leaving open.

[2019-08-14 16:09] YayinC opened #686 "Add a scale bar to the map"
I want to know if it's possible to add a scale bar to the map, since it can help us get a sense of the distance displayed on the map. I think a similar issue is [#495](https://github.com/keplergl/kepler.gl/issues/495)
Expecting to see any update on this issue:)

[2019-08-16 14:05] #679 closed

[2019-08-16 18:12] heshan0131 commented on #686
@Pessimistress Does react-map-gl allow adding scale control via mapbox?
https://docs.mapbox.com/mapbox-gl-js/api/#scalecontrol

[2019-08-16 18:14] heshan0131 commented on #684
We will lock it to 7.1.5 in kepler.gl.

[2019-08-16 18:18] heshan0131 commented on #675
Can you describe what you are trying to do? the webpack config in the demo-app uses default port, which is 8080. You can change the webpack dev server to run on other port

https://webpack.js.org/configuration/dev-server/#devserverport

[2019-08-16 18:19] heshan0131 commented on #674
We don't have support for column operation for now. You will have to pre-commute the diff of 2 columns and add it to the dataset

[2019-08-16 18:22] heshan0131 commented on #672
Are you using the hosted kepler.gl app? or you are running kepler.gl in your own app.

If it's the former, can you specify what icons you would like to be added?

If it's the latter, we can help you configue kepler.gl to pass in customized icons.

[2019-08-16 18:27] heshan0131 commented on #658
Adding `readOnly: true` to `keplerGlReducer.initialState` is the simple solution here.
We can also add an option to kepler.gl export map modal whether to disable side-panel.

[2019-08-16 18:28] heshan0131 commented on #664
https://github.com/keplergl/kepler.gl/issues/654

[2019-08-16 18:28] heshan0131 commented on #654
You might be running an old version of node

[2019-08-16 18:31] heshan0131 commented on #653
We could use this to provide localization service in our demo-app
https://www.npmjs.com/package/react-localization

[2019-08-17 18:24] treyhakanson commented on #684
Awesome, thanks @heshan0131! I went ahead and opened a PR for this to save you some time:
https://github.com/keplergl/kepler.gl/pull/688

[2019-08-18 10:43] varunsharma27 opened #689 "[Bug] Screen goes blank which hovering over the map [Cannot read property 'group' of undefined]"
**Describe the bug**
Screen goes blank when hovering over the map

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kepler.gl/demo/county_unemployment.
2. Hide the existing layer (Using the eye icon).
3. Add a ploygon layer:
![image](https://user-images.githubusercontent.com/18154526/63223404-96cc0700-c1ac-11e9-997a-8594605b6bde.png)
4. Hover around the strokes.
5. Unhide the ori

[2019-08-18 10:57] varunsharma27 commented on #654
`import KeplerGl from 'kepler.gl';` seems to be a transpiler issue. To fix this:

1. Add `babel-core`, `babel-loader`, `babel-preset-es2015` to dev-dependencies (`package.json`).
2. Add babel-loader to module.rules of your webpack config (`webpack.config.js`), so the end result looks like this:
[code]

[2019-08-19 08:15] dev1165 opened #690 "[Bug] Base maps (Light, Muted Light) are not loading. Getting errors 404 (Not Found) with tile images while running the project locally."
**Describe the bug**
Base maps (Light, Muted Light) are not loading. Getting errors 404 (Not Found) with tile images while running the project locally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Base Map (tab) >Map style'
2. Click on 'Light, Muted Light'
3. Browser Console
4. See error 404(Not Found)

**Expected behavior**
All map should load properly without showing any error
**

[2019-08-19 10:04] davidwedekind commented on #399
Hi,
Will this also include manual color range specification? It would be very useful not only to have automatic color range determination such as by quantile or quantize but manual range specification like in QGIS. E. g. color "#FFC300" for values between 0 and 50, "#F1920E" for values between 51 and ...
Thx,
David

[2019-08-19 10:30] wkm97 opened #691 "Running on Local: Failed to upload data. [Bug]"
Trying to run example/demo-app on local.

I followed the steps:
1. cd to the project directory.
2. npm install.
3. export mapbox token.
4. npm start.
5. See errors.

Screenshots:

![1](https://user-images.githubusercontent.com/31875755/63258724-46899d80-c2af-11e9-8fbd-3e800bea372f.jpg)

![2](https://user-images.githubusercontent.com/31875755/63258727-49848e00-c2af-11e9-9093-482850f10580.jpg)

[2019-08-19 11:15] asafvala opened #692 "[Enhancement] Allow user supplied mapbox token in kepler-jupyter"
Currently the mapbox token is hard-coded within the kepler-jupyter app once we `pip install keplergl` - can we have this token supplied by the user instead?
I have a working workaround and could open a pull request if this helps.

[2019-08-20 02:25] wkm97 commented on #691
I found the solution at #684

[2019-08-20 02:25] #691 closed

[2019-08-20 07:52] abhisek2713 commented on #182
We are facing the same issue with NPM. Can we pls know the steps to fix this ?

[2019-08-20 12:47] abhisek2713 opened #693 "[Bug] : error while initializing ClusterLayer({id: 'qujpxk9'}) TypeError: kdbush is not a function"
**Describe the bug**
Facing error while clustering a copy of keplerJS in local:
error while initializing ClusterLayer({id: 'qujpxk9'})
 TypeError: kdbush is not a function

**To Reproduce**
Steps to reproduce the behavior:
1. Copy kepler.gl into local, load it with a default csv and config.
2. Open console.
3. Change the Source layer type to be cluster. It doesn't cluster.
4. See error in console.

[2019-08-21 09:08] luanwei commented on #675
The packaged bundle. js and index. js can not be displayed on the server's non-80 port. Does secondary packaging result? Need this configuration?

[2019-08-21 09:09] luanwei commented on #675
The packaged bundle. js and index.html can not be displayed on the server's non-80 port. Does secondary packaging result? Need this configuration?

[2019-08-21 10:09] deeplook opened #694 "[Bug] Inconsistent version numbers on PyPI and GitHub"
While debugging some KeplerGl behavior I found out that I have 0.1.0a from PyPI installed (via pip), see https://pypi.org/project/keplergl/#history, which claims to have been the latest and uploaded on Aug, 6th, while https://github.com/keplergl/kepler.gl/releases says it's 1.1.3 from Aug, 5th. This is pretty confusing. This is on 2019-08-21.

[2019-08-21 10:15] deeplook commented on #694
Now I see that 0.1.0a comes from https://github.com/keplergl/kepler.gl/blob/master/bindings/kepler.gl-jupyter/keplergl/_version.py, and likely refers only to the Jupyter notebook binding. This might still cause some confusion and maybe it would be helpful to point out in the docs the different version numbers used.

[2019-08-21 10:25] deeplook opened #695 "[Bug][Jupyter Widget]"
**Describe the bug**
Kepler.gl widgets in classic notebooks don't render inside [voila](https://github.com/QuantStack/voila) dashboards

**To Reproduce**
Steps to reproduce the behavior:
1. install voila
2. render the following code in a classic notebook:
[code]
3. Click on the "Voila" button in the notebook toolbar, see screenshot.

**Expected behavior**
A new page should open rendering the Keple

[2019-08-22 18:22] macrigiuseppe opened #696 "Implement S2 cell layers"
https://github.com/uber/deck.gl/blob/master/docs/layers/s2-layer.md

[2019-08-23 11:44] cpatz opened #697 "Hexabin crashing?"
I am trying to plot a dataset using the hexabin visual. I can plot the data fine using the point visual, but, as soon as I switch to hexabin, I get redirected to a white screen.

[2019-08-23 15:31] Bwsutton1990 commented on #592
Hi, I was wondering if any solution had been found for this yet? Thanks!

[2019-08-24 13:11] rhaegar453 opened #698 "OpenStreetMaps Integration"
Can I integrate OpenStreetMaps with Kepler.gl instead of Mapbox. I already have an OSM server and I want to run Kepler.gl on top of that map. Please let me know if that is a possibility

[2019-08-25 21:41] alexlorenzo commented on #96
Hello,

Having the same issue but using geojson file from France, Germany or UK. Impossible to load any geojson file in Kepler. Any ideas?
Thanks

[2019-08-26 10:25] laurids-reichardt commented on #698
Depends on what kind of OSM server you're running. Kepler.gl uses Mapbox GL JS to display the base map, which in turn renders mapbox vector tiles. The OpenMapTiles project offers a convenient solution to convert OSM data to mapbox vector tiles. For a very simple solution you could run [TileServer GL](https://openmaptiles.org/docs/host/tileserver-gl/) an your server and paste the resulting style UR

[2019-08-26 19:41] rhaegar453 commented on #698
@laurids-reichardt  Thanks man

[2019-08-26 19:41] #698 closed

[2019-08-27 02:22] djouallah commented on #435
+1, yes please, I am doing it manually and it will be really cool to have it automatically

[2019-08-27 03:04] djouallah opened #700 "is it possible to reload new data ( same schema) and keep existing configuration"
I have the same dataset, but every day, I got new rows ( same schema), currently, I have to update and redo all the configuration everyday, is there a way just to update the data and keeping the same configuration ?

[2019-08-27 04:25] Koushik95 commented on #651
@heshan0131 - just wanted to know if you had any update on this? An ETA of any kind? Thanks.

[2019-08-27 06:39] sergiolucero commented on #651
Maybe we should offer a bounty. I feel a big chunk of the python
geoplotting world is holding their breath for this one.

El mar., 27 de agosto de 2019 00:25, Koushik95 <notifications@github.com>
escribió:

[2019-08-27 20:02] syedzubair-dev opened #701 "[Bug] Can't able to load data from Bigquery."
Trying to load data from the big query. I have done the environment variable setup for google app credentials and also loaded the external module in the webpack-dev-server config part.

![image](https://user-images.githubusercontent.com/44016150/63803909-94e40f80-c933-11e9-9268-2e0ad9393571.png)

![image](https://user-images.githubusercontent.com/44016150/63803946-b04f1a80-c933-11e9-87b4-649e6e370

[2019-08-29 10:22] jofri99 commented on #593
Hello again,
sorry for the late reply. I was on vacation.
So I tried to implement it like you said. But it don't worked like expected.
So here is how I tried:
[code]
So this is what I came up with. The Layer gets added but I can't see it in the layer list so I cant move it up:
![grafik](https://user-images.githubusercontent.com/31164173/63932490-93136c80-ca57-11e9-86c1-76266b6fbaf7.png)

[2019-08-30 18:15] guyts opened #702 ""Load data" pop-up appears when loading heavy html file [Bug]"
**Describe the bug**
After exporting a map to HTML (html file size is approx. 15-30MB, depends on the data sets, but all cause the bug), loading the html page outside of kepler (new browser session for example), causes the `Add Data To Map` window to pop-up, although the data was part of the export. The window disappears after a few seconds, and the visual loads properly, but when publishing a vis

[2019-08-31 06:34] djouallah commented on #702
Yes,  happen to me too

[2019-08-31 09:44] pathmapper opened #703 "[Bug] Custom map style is not displayed after export"
**Describe the bug**
Custom Map style  is not displayed after export to HTML or JSON

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kepler.gl/demo.
2. Add custom map style and use this style for the basemap.
3. Export map as HTML or JSON.
4. Open JSON file in https://kepler.gl/demo or HTML file in browser.
5. The custom style is not displayed.

**Expected behavior**
The custom

[2019-08-31 11:52] pathmapper commented on #703
This is working as expected, maybe a caching issue on my side, sorry for the noise.

[2019-08-31 11:52] #703 closed

[2019-09-01 13:34] laurids-reichardt commented on #397
Love the current implementation of the trip layer so far! Noticed a small glitch: below the trail length slider a black closing parentheses is rendered.

![image](https://user-images.githubusercontent.com/25111686/64077138-99128300-cccd-11e9-9ab3-941615cf0713.png)

[2019-09-01 13:34] laurids-reichardt commented on #397
Do you have an aprox. ETA for when the trip layer implementation will land in master?

[2019-09-01 14:22] macrigiuseppe commented on #702
@guyts @djouallah can you please provide a dataset to use as test case to reproduce the issue?

thank you

[2019-09-01 14:26] macrigiuseppe commented on #701
@syedzubair-dev based on your description and screenshots it looks like there is an issue with google auth library.
Please take a look here: https://github.com/googleapis/google-auth-library-nodejs/issues/150

[2019-09-01 14:31] macrigiuseppe commented on #675
I am not sure if I completely understood your description but if you are trying to serve both bundle.js and index.html through some sort of webserver, you need to look at your webserver configuration.
Webpack-dev-server is only used for development.

[2019-09-01 14:31] macrigiuseppe commented on #664
PR: https://github.com/keplergl/kepler.gl/pull/704

[2019-09-02 00:40] djouallah commented on #702
I don't know what happen, today, I can't reproduce it.

[2019-09-02 17:21] ianhansborough commented on #684
Thanks for the workaround @treyhakanson! @heshan0131 any idea when can we expect an official patch for this?

[2019-09-03 04:09] djouallah opened #705 "Export html without Embedding data but keep link to data URL"
my data is from an URL, is it possible when I export HTML file, not to embed the data inside HTML but instead keep a reference only to the URL, I know you can do it using code but I am not good at with javascript.

btw, it is a great software !!!

[2019-09-03 06:26] djouallah opened #706 "show filter as a floating box"
first I start using Kepler.gl at work, and i am getting fantastic feedback,  my users are not used really to GIS product, one feedback I noticed is, they don't seems to notice the filters.

is it possible to show the filter as a separate floating box like the time slider, it is not a big deal but make the product more user friendly

[2019-09-03 08:03] ywb1016 opened #707 "Pip install fails in Windows 10 in Anaconda3"
![image](https://user-images.githubusercontent.com/28768711/64154900-4e773f00-ce64-11e9-8997-8d20104d3131.png)

[2019-09-03 11:44] jofri99 commented on #643
@heshan0131 Can you post a new link invite link?

[2019-09-03 13:37] guyts commented on #702
@macrigiuseppe see attached a sample html file (open it to see what I mean. Note that even if it requests a mapbox token, you can still see the 'load data' window pop up).
Also, attached the with the data in this kepler visual.

[kepler_issues.zip](https://github.com/keplergl/kepler.gl/files/3569683/kepler_issues.zip)

[2019-09-03 13:58] guyts opened #708 "[Bug] Tooltips when using hexbin binning not customizable"
**Describe the bug**
When creating a hexbin visual, and setting the `color` and `height` attributes by one (or more) of the columns, the tooltip displays by default both on the tooltip, even if the the two fields are affected from the same column (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a visual with hexbins
2. Change the `height` and the `color` to be defined

[2019-09-03 17:46] ywb1016 commented on #707
My python version is python3.6.4

[2019-09-03 22:13] Goondrious opened #710 "Split Map - getMapboxRef"
**Is your feature request related to a problem? Please describe.**
When using the split-map feature, it would be ideal to easily access and monitor the `mapboxRefs`.  I'm working on a map that uses multiple datasets and I think something is getting lost in translation with the multiple refs.

**Describe the solution you'd like**
An exposed callback when `isSplit` is toggled or a further guarantee

[2019-09-04 02:04] luanwei commented on #675
I want to deploy it on the server

[2019-09-04 12:50] FrBLD opened #712 "Use a custom image as a map?"
Hello,

I discovered few days ago this kepler.gl and it's awesome! I tested to it with a data sample and directly with custom poly form to create a 'game map'.

But I don't find how to 'import' a custom image of a game level as a map. As example, I have a map 1000*1000 pixel, and I have in my data all players positions. I would like to display these data in my game map.

Is there a way? Don't find

[2019-09-04 13:12] macrigiuseppe commented on #702
I see the issue. Based on the size of data we try to load there may be a delay in hiding the initial add data dialog box.
This is not high priority but we will keep it in our backlog as reference and will provide updates.

[2019-09-04 16:21] Harrisandwich commented on #710
I found that because a new MapContainer was mounting, it was calling the getMapboxRef callback again, overwriting the first one. I worked around this issue by checking if my mapbox ref variable was already set and if so, setting the new ref to a splitMapRef variable. I then sent that variable to all the places the initial ref was sent and called all the necessary functions on the new ref alongside

[2019-09-04 17:27] robert-claypool commented on #710
The `getMapboxRef` callback sends 0 or 1 for the second parameter, `index`. That should tell you if the ref points to the "original" or "split" map.

Also note that the callback will send a `null` ref if the split map is being closed.

Does that help?

[2019-09-04 17:51] robert-claypool commented on #712
Try getting a ref to your `<KeplerGl>` Mapbox Map instance. This provides full access to [MapboxGL's API](https://docs.mapbox.com/mapbox-gl-js/api/#map). I'm not sure how to make the Map load your static image, but I believe their API supports it.

[code]

[2019-09-04 18:09] Harrisandwich commented on #710
Oh nice! That does help quite a bit! Thanks a bunch :)

[2019-09-04 18:12] robert-claypool commented on #686
@heshan0131, it does not. This might work instead (not tested)...

[code]

[2019-09-05 14:18] macrigiuseppe commented on #705
@djouallah currently this feature is not available but you could modify the exported html file to add a simple javascript to fetch your data from url and inject onto Kepler.gl instance using addDataToMap

[2019-09-05 23:20] djouallah commented on #705
@macrigiuseppe would you mind sharing an example, sorry, I am not a Javascript developer, a simple example will help a lot, again, this is a great software, thank you for your work

[2019-09-06 04:03] djouallah opened #716 "[Bug], regression Export to HTML. the generated file stopped working since 1.1.6"
when I export to html, the exported html does not open (empty), when I change the reference to 1.1.5, it works fine
![image](https://user-images.githubusercontent.com/12554469/64400315-2596ba00-d0af-11e9-9979-859d79b753e2.png)

[2019-09-06 07:03] laurids-reichardt commented on #397
Sorry to bother again. Will the trips layer be merged into master in the near future? How far along is the development. I love kepler.gl and with the addition of a trips layer it would be a great fit for my project. Thanks so much for all your work!

[2019-09-06 07:35] eWizardII opened #717 "[Bug][Jupyter Widget]"
**Describe the bug**
In AWS sagemaker using JuypterLab or Notebook does not load the visualization of a map when running the following command.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a sagemaker instance in AWS
2. Run the default conda_python3 enviornment
3. run the following commands after using `pip install` for kepler.gl

[code]

**Expected behavior**
Empty map sho

[2019-09-06 18:20] jawz101 opened #718 "feat request U.S. zip code mapping"
**Is your feature request related to a problem? Please describe.**
source location data type

**Describe the solution you'd like**
It would be nice to be able to have U.S. zip code recognition.  This would expand the tools use significantly for systems that don't collect geo coordinates.  Country codes, area codes, and IP addressing would also be nice as well. (There are public data sets for a lot

[2019-09-06 20:35] heshan0131 commented on #643
Link has been updated on Sep 6th

[2019-09-06 20:36] heshan0131 commented on #710
Thanks @Harrisandwich !close

[2019-09-06 20:36] #710 closed

[2019-09-06 20:38] heshan0131 commented on #706
We can add a `pin to map` button in the filter panel, so you can pin certain filters as floating panels on top of the map. How does that sound?

[2019-09-06 20:43] heshan0131 commented on #339
We finally got all the legal documents for tableau extension! Will target to release it next week!

[2019-09-06 20:46] heshan0131 commented on #397
Thanks for your patience, I have some aesthetics to fix, will aim to land this by earlier next week!

[2019-09-06 20:57] heshan0131 commented on #684
keplerl.gl@1.1.6 is released with this

[2019-09-06 20:57] #684 closed

[2019-09-06 21:02] djouallah commented on #706
Sounds Magic

[2019-09-06 23:28] heshan0131 opened #719 "[Bug] Generate new layer should based on a more sophisticated logic"
**Describe the bug**
We only compare `mergedState.layers.length === previousState.layers.length` to decide whether to find some default layers.

This triggers a edge case bug: When add data with a preset config to a map that already has layers. and current map contains same number of layers as the preset config. After merging the state with preset layer config, kepler wtill thinks no new layers ha

[2019-09-06 23:41] eWizardII commented on #583
@oliverclock @etherruzo I tried the steps you used in AWS Sagemaker without any luck are there any other steps you guys have tried? Thanks!

[2019-09-08 13:38] mjp92067 commented on #716
Same exact issue here

[2019-09-10 03:18] djouallah opened #722 "slider, add option to change from line serie to Bar chart"
I am using the time slider to show installed quantity per date, and it is perfect, some users want to see a bar chart instead of a line
![image](https://user-images.githubusercontent.com/12554469/64581393-43289400-d3cd-11e9-890c-450ad796f497.png)

the same format as this ( the default one)

![image](https://user-images.githubusercontent.com/12554469/64581428-6e12e800-d3cd-11e9-9e87-e8efabbb3ed5.pn

[2019-09-10 08:57] macrigiuseppe opened #723 "Enable Github actions to publish to NPM registry"
Use github action to automatically publish package when updated version in package.json

[2019-09-10 21:49] macrigiuseppe commented on #339
Support policy page: https://github.com/keplergl/kepler.gl/pull/724

[2019-09-10 22:11] macrigiuseppe commented on #716
@djouallah can you share more details about your issue?
OS, Browser

Is the same bug happening on the demo site http://kepler.gl?

Unfortunately I am not able to reproduce the issue on Mac os and Chrome

[2019-09-11 02:51] djouallah commented on #716
demo site works fine

windows 10, chrome , for now, I manually edit the html file to change the link to 1.1.5

[2019-09-11 06:55] djouallah commented on #716
very strange, i generate a new map today and it did work, thanks for whatever you did

[2019-09-12 00:52] djouallah commented on #716
I am going to close it as it stopped happening

[2019-09-12 00:52] #716 closed

[2019-09-12 00:59] djouallah opened #726 "Feature request, please add satellite style option in the initial selection"
currently satellite style is not an option in kepler.gl, every time, i generate a new map, i have to manually add custom style (mapbox://styles/mapbox/satellite-streets-v9), i will be really nice to have at as an option.

[2019-09-12 07:15] samanster commented on #384
is exporting as image sequence or video available as yet? - we can't see how to do it.

[2019-09-13 06:46] arnabbiswas1 opened #730 "Data Security in Kepler.gl"
**This is not a bug. But a query**. Since, the slack channel is not actively monitored, thought of posting it here.

I want to use kepler.gl initially on Jupyter Notebook and probably on on-premise server in future (if needed).  The data to be used is proprietary and MUST not be exposed/shared outside the organization. I have few questions related to data security:

1.  Does kepler.gl client/serve

[2019-09-13 17:07] jofri99 opened #731 "[Bug] oldLayer.updateLayerConfig is not a function"
**Describe the bug**
When I try to dispatch the layerVisConfigChange action to the props, I get an error that updateLayerConfig is not a function.

**To Reproduce**
Steps to reproduce the behavior:
1. Call the the following function (with your Layer):
[code]
2. Go to the console and see error

**Expected behavior**
thickness should be updatet to 1.0

**Screenshots**
If applicable, add screenshots

[2019-09-13 18:07] heshan0131 commented on #731
The `oldLayer` should be the actual layer stored kepler.gl's state. It is a class that has inherited methods. You should call it

`this.props.dispatch(layerVisConfigChange(this.state.keplerGl.map.visState.layers[0],{thickness:1.0}));`

[2019-09-13 18:16] macrigiuseppe opened #732 "Flow support: steps to flow with low impact"
Investigate on how to add flow and how long it would take

[2019-09-13 18:19] heshan0131 commented on #726
We will need to discuss with Mapbox to see if we can provide google sourced map style for free. That's the reason we aren't including it right now

[2019-09-13 18:23] heshan0131 commented on #722
We are going to provide more charting options in the future. Will take this request into account.

[2019-09-13 18:24] #719 closed

[2019-09-13 18:27] heshan0131 commented on #718
Yes it would. However, all zipcode mapping services are for profit. We can't find an open zip code geo provider (if you know of any, let us know). Talked to Mapbox before,  their enterprise account holder will have access to more spatial dataset including zip cond, state, county and census tract boundaries, we can connect with that, but you would have to have a more premium mapbox account.

[2019-09-13 18:27] heshan0131 commented on #712
Closing it for now

[2019-09-13 18:27] #712 closed

[2019-09-13 18:30] heshan0131 commented on #697
can you open your javascript console and paste any error you have here? Giving us a sample of your dataset also helps a ton

[2019-09-13 18:44] macrigiuseppe commented on #730
hello @arnabbiswas1,
Thank you for using Kepler.gl.

before answering your questions, I want to make sure you understand Kepler.gl is a full client-side application which doesn't have nor require server-side components. All data you load in Kepler.gl are only available on your machine and only to you (more info: https://lfprojects.org/policies/privacy-policy/, __project-specific uses__ section).

[2019-09-13 20:36] jawz101 commented on #718
Thank you.  I was able to download some shp files for use in [QGIS ](https://qgis.org/en/site/) earlier this week from the United States Census Bureau .  They say they are intended for public use.  It also looks like they have files for legislative districts, school districts, railways, hydro

a few links
https://www.census.gov/programs-surveys/geography.html
https://catalog.data.gov/dataset/zip-c

[2019-09-13 23:18] TheMLman commented on #592
Hi, I'm experiencing the same issue with the html file. Is there any solution yet?

[2019-09-14 02:28] happycoding1106 opened #733 "How to change logo and background color"
I am very interested in Kepler.gl. I was trying to change logo into mine and background color. I'd appreciate it if you can let me know how to change logo and background color? Thanks

[2019-09-14 02:31] happycoding1106 commented on #733
for example, https://analytics.descarteslabs.com

[2019-09-14 08:54] arnabbiswas1 commented on #730
@macrigiuseppe Thank you for confirming.

Also, thanks to uber for creating such a wonderful tool.

[2019-09-14 08:55] #730 closed

[2019-09-16 10:33] RinaB opened #734 "Memory leak when I pack kepler as a node module"
Hi,

I want to create my custom closed component based on kepler and the use it in another app.
I packed my component that used kepler to an npm module. (with npm pack)
Then when I import it in another react app:
`import MyWrapper from 'demo-app';`
It fails with :

**FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory**

I also tried to pack dem

[2019-09-16 11:05] lidongbin opened #735 "12"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-09-16 11:06] lidongbin commented on #735
3

[2019-09-16 11:35] PybloBenavides opened #736 "CSV with embeded geojson examples"
Hello everyone,

Thanks for this amazing open source project.
I am trying to upload a csv with ODs and LineStrings in between them so I can display all of them together. The user doc sais that "Kepler.gl attempts to parse geometry from your CSV file if the column content contains geometry data types.". The problem I have is that kepler is not parsing ok the column where I have my geojson object. T

[2019-09-16 13:33] TimJMartin commented on #339
@heshan0131 just wondering if there is any further update on when the plugin might be released. thanks

[2019-09-16 23:29] n0012 commented on #651
+1
Really would love this working in Jupyterlab.  I tried to follow saulshanabrook@ custom build, but didn't get it to compile.  Seems with all the managed JupyterLab environments hitting the market, this will be a more and more asked for feature.   Any word on ETA?

[2019-09-18 02:38] jupitor251 commented on #557
I have meet the same questions .when I install keplergl in anaconda, my os is windows10.
My solution to the problem is:
1. Create a new virtual environment via conda.
2. Manually download and install the sharpely/gdal/fiona package as directed by victorfgs and ricardoCyy.
3. When running the import kelpergl module in the jupyter notebook, the same problem as bosges occurred.
4. Run the conda insta

[2019-09-18 12:51] nateraluis commented on #651
+1
It would be great to have Kepler working with jupyterlab

[2019-09-19 23:26] jok0436 commented on #733
Assuming you mean the Website.

The Favicon can be found [here](https://github.com/keplergl/kepler.gl/blob/master/website/src/static/favicon.png)

Most Images/Tiles are loaded from [here](https://github.com/keplergl/kepler.gl/blob/master/website/src/content.js)

The Colors are changed from [here](https://github.com/keplergl/kepler.gl/blob/master/website/src/styles.js)

[2019-09-20 04:51] apiszcz opened #738 "Deployment option question."
Incredible work, congratulations!

- Is there an artifact available where one can download a javascript and index.html NO INSTALL/build package?
- If not could that be part of the build process?

Thank you.

[2019-09-20 18:14] macrigiuseppe opened #739 "Allow users to create a filter and operate across multiple datasets"
Implement filter logic to be applied across multiple datasets

[2019-09-20 18:17] robert-claypool commented on #738
From README:

[2019-09-20 20:06] garychowcmu opened #740 "Adding a input box for animation speed specification"
**Is your feature request related to a problem? Please describe.**
When we use the dynamic playing features for time of day, the speed with vertical slide bar is still a bit fast for my project.

Is it possible to add a box to specify the actual value that we prefer?

**Describe the solution you'd like**
Is it possible to add a box to specify the actual value that we prefer? Like users are allowed

[2019-09-20 21:15] #738 closed

[2019-09-20 21:18] heshan0131 commented on #734
It's hard to know what exactly is going on with just a error msg, is your module somewhere we can access?

[2019-09-20 22:00] #735 closed

[2019-09-21 09:01] apiszcz opened #741 "Kepler Feature Request"
Shen, et al. thank you for all the work
1. GeoTIFF export
2. The time filter animation widget is great and based on very dense data sets. For sparse data sets it would be useful to allow a much wider range of speed up. Some dense data may benefit form a much lower speed interval. I'm seeing 0.5 to 10x, ideally this would 0.00001 to 100000x or similar. Allow user to edit numeric value for rate cont

[2019-09-21 10:24] akuckartz commented on #741
Please avoid generic titles like "Kepler Feature Request" and use one issue per feature request.

[2019-09-21 10:47] apiszcz opened #742 "Share/Export option, GeoTiff"
GeoTiff, or equivalent GIS option for an output format.

https://gdal.org/drivers/raster/gtiff.html

[2019-09-21 10:49] apiszcz opened #743 "Time filtering controls and synchronization of more than one layer simultaneously"
The time filter animation widget is great and based on very dense data sets. For sparse data sets it would be useful to allow a much wider range of speed up. Some dense data may benefit form a much lower speed interval. I'm seeing 0.5 to 10x, ideally this would 0.00001 to 100000x or similar. Allow user to edit numeric value for rate control, and time interval. For very narrow intervals the horizon

[2019-09-21 10:49] #741 closed

[2019-09-22 10:08] itamar-otonomo commented on #651
+1

[2019-09-23 07:44] vladimir-kondratenko commented on #399
@heshan0131 Do we have helpers to change layer's color programmatically?

[2019-09-23 07:58] TorstenHolmer opened #744 "[Bug] Share public url does not work on Firefox 69.01"
**Describe the bug**

Creating a public url is not possible when using the Firefox browser (69.01, MacOS 10.12.6 on MacBook).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new map
2. Click on "Share" / "Share public url" / "Upload to Dropbox"
4. See error: "Error in call to API function "files/upload": HTTP header "Dropbox-API-Arg": path: ':keplergl_nac5o1.json' did not match patt

[2019-09-24 10:35] VictorVelarde opened #746 "Sharing map via URL using CARTO"
## Sharing map via URL using CARTO

**Is your feature request related to a problem? Please describe.**
Kepler.gl already has a 'Save/Share your map' feature where a user can upload the data into a Dropbox account and then create a public link to share. It would be really nice to have more providers to choose.

**Describe the solution you'd like**
Adding a more generic approach to sharing could all

[2019-09-24 10:36] VictorVelarde commented on #746
**Technical notes**

This would work pretty much the same as Dropbox. We will import a CARTO library that takes care of all the logic to authorize an App & store the data on your CARTO Account. The data for this particular use case will be public, and accesible via a URL, much like Dropbox's approach.

We might have to do some tweaks in the OAuth integrations, because Dropbox only provides a token

[2019-09-24 10:50] jofri99 commented on #731
Yea, thanks that was the problem.

[2019-09-24 10:50] #731 closed

[2019-09-24 23:06] jaykinghorn opened #747 "Adding Animation Filter Causes Visualization to Vibrate"
**Describe the bug**
I have an arc visualization with ~100k rows of data in it, generated from a pandas data frame in a Jupyter Notebook. A static visualization works correctly, but when I add the time-series filter from a column based on a Unix Timecode, the visualization starts to vibrate uncontrollably, making the visualization unusable. I've reduced the number of rows and the number of columns

[2019-09-25 06:17] RinaB commented on #734
I packed custom-theme example. (I changed only the package.json and main.js)
[custom-theme](https://github.com/RinaB/kepler-error)
See: custom-theme-1.0.0.tgz
Then when I install it on another new fresh react- app and use it :
`import React from 'react';
import ReactDOM from 'react-dom';
import './index.css';

import * as serviceWorker from './serviceWorker';
import  Root from 'custom-theme';
impo

[2019-09-25 17:19] heshan0131 commented on #746
The generic sharing logic should be implemented inside the `examples/demo-app` for now instead of the core `kepler.gl` package. We can create a separate package `kepler.gl-share` or `kepler.gl-connect` for it later

[2019-09-26 11:20] alex-soft-r commented on #557
U save my time!!!! Thanks

[2019-09-26 15:26] rjimenezda commented on #746
Yeah, that was the idea, everything that we need to modify is already there, really.

At most, we would have to make some parts of the core component extensible from outside, but I don't think that's the case for this particular feature.

Thanks for the input @heshan0131

[2019-09-27 03:49] Xiaoming8085 commented on #557
只需要把gdal的版本改下，改成2.4.1那个就行了

[2019-09-27 18:08] heshan0131 commented on #747
#592

[2019-09-27 18:11] heshan0131 commented on #746
Our original design is the put the tiles horizontally, so in the future we can easily add more

<img width="1036" alt="Screen Shot 2019-09-27 at 11 10 53 AM" src="https://user-images.githubusercontent.com/3605556/65791904-8138ee00-e117-11e9-838a-1156e724b24a.png">

[2019-09-27 18:13] heshan0131 opened #750 "Add GA tracking to html template"

[2019-09-27 18:14] heshan0131 opened #751 "Add GA tracking to jupyter widget"
Add a page view so we know how many people are using it

[2019-09-27 18:18] heshan0131 commented on #740
<img width="330" alt="Screen Shot 2019-09-27 at 11 18 00 AM" src="https://user-images.githubusercontent.com/3605556/65792386-7d599b80-e118-11e9-838d-f1ee2f5bda92.png">

But the step right now only allows 0.1

[2019-09-27 18:19] heshan0131 commented on #734
You are not rendering an actual React Component.

shouldn't it be:
[code]

[2019-09-27 18:21] heshan0131 commented on #733
You can use dependency ingection to replace default Logo

replace the `defaultProps.logoComponent` of `PanelHeader`

Use a different theme object to change the backgroundColor etc

[2019-09-27 18:21] #733 closed

[2019-09-27 19:08] garychowcmu commented on #740
Thanks! I tested just now, it supports 0.01 as the input.

[2019-09-27 19:08] garychowcmu commented on #740
Thanks! I tested just now, it supports 0.01 as the input.

[2019-09-27 19:12] Harrisandwich commented on #351
@macrigiuseppe How would one go about upgrading react-redux for kepler?

We're using kepler as a child component of one of our redux connected pages, and the solution from @carloscdias is causing a lot of rerenders of the map. We have a fork of the repo that we can upgrade, and we could make a PR for this repo once we get it figured out, I'm just not sure where to start

[2019-09-27 19:19] #658 closed

[2019-09-27 19:21] #734 closed

[2019-09-27 20:17] happycoding1106 commented on #733
Thanks Shan.

[2019-09-28 00:01] jaykinghorn commented on #592
@HLiuUS I've had the same problem. I tried a different environment with an earlier version of KeplerGL installed and I didn't have the issue when I selected a solid color for the trip origin and a separate color for the destination, rather than having the origin color selected based on categorical data from a column in my dataset. Perhaps this will be helpful in troubleshooting?

[2019-09-28 02:48] TheMLman commented on #592
Opening HTML file in Edge resolved the issue for me.

[2019-09-28 08:05] Hesham-91 commented on #339
@heshan0131 is this happening anytime soon or does anyone know a way where I can integrate Kepler.gl in Tableau and make interactive with other components of the dashboard?

[2019-09-30 02:57] mayteio commented on #492
@heshan0131 that's exactly what I was after, thanks.

@chrisgervang probably both? I imagine the latter would allow the former.

[2019-09-30 02:57] #492 closed

[2019-09-30 11:16] ana-md commented on #746
Thanks for the feedback @heshan0131!  @mireyaD could you please take a look at the comment about the horizontal layout for the design? Thanks!

[2019-09-30 18:24] qscripter opened #754 "[Bug] Rendering artifacts when using an H3 layer and hexagons reach the edge of the map canvas"
**Describe the bug**
When rendering an H3 dataset using the h3_id column of a csv, the H3 hexagons at the map edges exhibit rendering effects where horizontal lines appear.

**To Reproduce**
Steps to reproduce the behavior:
1. add a dataset using H3 to kepler
2. pan around the map so that cells reach the map edge

**Expected behavior**
Hexagons do not create horizontal lines when they reach map ed

[2019-09-30 18:24] qscripter commented on #754
[sample_h3.csv.zip](https://github.com/keplergl/kepler.gl/files/3672682/sample_h3.csv.zip)

[2019-09-30 22:05] mayteio commented on #396
@heshan0131 is there a live demo of this using a custom deck layer?

[2019-10-02 07:37] sevkibaba opened #759 "Timeline Toggle stops animation"
Hello guys, this is a wonderful product, very good job!

I want to make animation going when the timeline is toggled. Right now we are using enlargeFilter action to toggle back the timeline.

When the timeline is closed the animation stops as default behavior, but we want it to keep playing the animation. Is there a way to do that?

Thanks in advance.

[2019-10-02 08:12] RinaB commented on #734
I render it.  It was escaped somehow when I posted it in this site.
I use :
ReactDOM.render(<Root/> , document.getElementById('root'));
Please try to run my example.

[2019-10-02 10:12] RinaB opened #760 "Pack kepler component as npm node module"
Hi,

I packed custom-theme example. (I changed only the package.json and main.js)
[custom-theme](https://github.com/RinaB/kepler-error)
See: custom-theme-1.0.0.tgz

Then when I install it on another new fresh react- app and use it :
[code]
I get the following error:

Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

[2019-10-02 11:33] MireyaD commented on #746
Hi @heshan0131!

I changed the design following your feedback

![modal](https://user-images.githubusercontent.com/46195278/66040987-0c9bf000-e519-11e9-8e41-b31f9e04296a.png)

Does this layout work for you? Thanks!

[2019-10-02 18:07] sanderp42 opened #761 "uploading json/geojson in demo app not working"
When I try to upload data in the demo app it just keeps on loading forever. I tried both safari and chrome. Anybody knows what I do wrong?

<img width="1014" alt="Schermafbeelding 2019-10-02 om 19 58 12" src="https://user-images.githubusercontent.com/40459403/66069675-24429b00-e550-11e9-9898-a754fecdab13.png">

[2019-10-02 18:57] Harrisandwich commented on #351
@macrigiuseppe @derek-nascent @carloscdias

So it turns out kepler is already kind of compatible with Redux 6+ apps.

In you're `webpack.config.js` under `resolve`, include this line:
`modules: [resolve('node_modules'), 'node_modules'],`

It turns out the real issue here is that Kepler is using it's own instance of redux, so it doesn't have access to the redux context, even if you update it to red

[2019-10-02 22:21] #740 closed

[2019-10-02 22:29] heshan0131 commented on #734
Looks to me your `Root` component is not exported from `custom-theme`. in your `main.js` in `kepler-error` repo. you should:
[code]

[2019-10-02 22:31] heshan0131 commented on #761
probably because your json is not the right format, can you
1. open js console and paste an error you see
2. paste a snippet of your json here so we can take a look

[2019-10-02 22:42] heshan0131 commented on #747
`keplergl==0.1.0a9` is published, can you give it a try?

[2019-10-02 22:42] heshan0131 commented on #592
`keplergl==0.1.0a9` is published, can you give it a try?

[2019-10-03 06:00] RinaB commented on #734
I added it, but I get the same error.
FYI, when I put in that component something else, like: simple div, it works correctly.

[2019-10-03 06:53] johachi-dw commented on #761
@heshan0131

I was just about to report the same problem. The `.csv` format works, but the `.json` format just keeps on loading forever. There are no error messages in the console.

I have tried with Firefox Developers Version (Version 70.0b10 (64-bit)) and Chrome (Version 77.0.3865.90 (Official Build) (64-bit)) on Macbook Pro.

I have tried to remove the Japanese characters in the name without an

[2019-10-03 11:04] RinaB commented on #734
I see that if I add:
``` libraryTarget:'umd'``` to webpack.config it solves it
Thank you!

[2019-10-03 11:32] #760 closed

[2019-10-03 12:45] HLiuUS commented on #592
Problem solved for me!

[2019-10-03 12:54] matteo-s opened #763 "[Bug] Demo app can't load external data from URL with queryString params"
**Describe the bug**
As per title, the demo (https://kepler.gl/demo/) can not load resources from external URLs which contain query string parameters. The loading spinner keeps running forever and the only way to regain control is to reload the whole page.

**To Reproduce**
Steps to reproduce the behavior:
1. Open '+ Add data' modal
2. Select 'Load map using URL'
3. Insert an URL with params, for

[2019-10-03 15:22] sanderp42 commented on #761
Hi Shan, 
As far as I know there are no errors in the console. The geojson I have is quite big and complex so not so easy to share. 

Here is a small bit:

{"jobName":"Amsterdam","creationTime":"2019-09-01T14:18:37.403Z","userPreference":{"distanceUnit":"KILOMETERS"},"dateRanges":[{"@id":1,"name":"year_2019","from":"2019-01-01","to":"2019-09-01","exclusions":[],"excludedDaysOfWeek":[]}],"timeSets"

[2019-10-03 18:33] #751 closed

[2019-10-03 18:36] heshan0131 commented on #761
@johachi-dw
The json file has to be one of 2:

1. A [Geojson Feature Collection](https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/b-kepler-gl-workflow/a-add-data-to-the-map.md#for-geojson-files)

2. A JSON exported directlyt from kepler.gl using export map as json

[2019-10-04 00:06] heshan0131 commented on #331
`keplergl==0.1.0` and `keplergl-jupyter@0.1.0` can now be installed on jupyter Labs
(Python 3 tested)

https://github.com/keplergl/kepler.gl/pull/764

[2019-10-04 00:06] heshan0131 commented on #646
Thanks to @saulshanabrook

[2019-10-04 01:24] heshan0131 commented on #651
Just published `keplergl-jupyter` for jupyter labs
try
[code]

Require jupyterLab > 1

[2019-10-04 03:07] trietphan94 opened #765 "[Bug] Getting error message after upgrading from version 1.1.3 to 1.1.8"
**Describe the bug**
My application still works fine on version 1.1.3 but after upgrading to version 1.1.8, I had some errors.
**Screenshots**
![image](https://user-images.githubusercontent.com/18748377/66178010-f82d3400-e68d-11e9-990f-c6dfd72561de.png)

**Additional context**
If I change that line `var mapState = config.mapState;` to `var mapState = config && config.mapState;`, my application wil

[2019-10-04 09:32] shishirmehto opened #766 "Vector tiles integration with kepler.gl"
Background-
We have a requirement to render very huge data on react-map-gl and the data may easliy go beyond 250 mb which is a limitation with browsers.

What we are implementing?
Our plan is to convert the data into vector tiles using map box tippecanoe. We want to render these vector tiles on react-map-gl.

How we are approaching ?
We are serving the mapbox vector tiles to deck.gl tile layer dir

[2019-10-04 18:08] macrigiuseppe commented on #681
landed with #699

[2019-10-04 18:08] #681 closed

[2019-10-04 18:08] macrigiuseppe commented on #399
landed

[2019-10-04 18:08] #592 closed

[2019-10-04 18:12] macrigiuseppe opened #768 "Allow users to select multiple datasets per filter"
The current UI only allows users to select one dataset per filter.

Modify the UI to enable multiple datasets per each filter.

Related
#146

[2019-10-04 18:24] heshan0131 commented on #765
How are you calling `addDataToMap`?

[2019-10-05 04:06] heshan0131 commented on #331
Add install instruction for Jupyter Lab
https://github.com/keplergl/kepler.gl/tree/master/bindings/kepler.gl-jupyter#installation
Close this for now 🥂

[2019-10-05 04:06] #331 closed

[2019-10-05 04:09] heshan0131 commented on #717
So it doesn't load on both jupyter notebook and jupyter lab?
Can you open the javascript console and paste in any error messaage?

Can you also paste in the version of your `jupyterLab` and `notebook`?
you can do that by calling
`pip show jupyterLab`
`jupyter notebook --version`

[2019-10-05 04:10] heshan0131 commented on #570
Add installation instruction for Jupyter Lab
https://github.com/keplergl/kepler.gl/tree/master/bindings/kepler.gl-jupyter#installation
Close this for now 🥂

[2019-10-05 04:10] #570 closed

[2019-10-05 04:10] #651 closed

[2019-10-05 04:20] heshan0131 commented on #695
It should work now after keplergl-jupyter is published to unpkg.
Can you try install keplergl==0.1.0 and give it a try?

I m using python 3 and it seems working for me

<img width="877" alt="Screen Shot 2019-10-04 at 9 19 03 PM" src="https://user-images.githubusercontent.com/3605556/66249737-bbdcf080-e6ec-11e9-9e41-c37a9a18f17a.png">

[2019-10-06 07:52] #561 closed

[2019-10-06 16:35] heshan0131 commented on #763
@matteo-s
It works when you remove the `?test=123` from URL.

http://localhost:8080/?mapUrl=https://raw.githubusercontent.com/uber-web/kepler.gl-data/master/earthquakes/data.csv

The Url has to end with an file extension `.csv`

https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/b-kepler-gl-workflow/a-add-data-to-the-map.md#load-map-using-url

[2019-10-06 16:36] #761 closed

[2019-10-06 16:37] #162 closed

[2019-10-06 16:38] heshan0131 commented on #196
Duplicated task
Follow #202

[2019-10-06 16:38] #196 closed

[2019-10-06 16:40] #39 closed

[2019-10-06 16:40] #150 closed

[2019-10-06 16:45] heshan0131 commented on #191
Flixed. After upgradeing [type-analyzer](https://github.com/uber-web/type-analyzer/commit/a182a501703c03b1ad7b995b280b43abeeebabc7)
Closing this

[2019-10-06 16:45] #191 closed

[2019-10-06 16:47] heshan0131 commented on #434
@gcoimbra
We are planning to implement more analytic data. Could you point me to some other tools that have this feature?

[2019-10-06 16:48] #426 closed

[2019-10-06 19:28] deeplook commented on #695
@heshan0131 Sorry, but you don't indicate how to install keplergl==0.1.0. Release 0.1.0 is not available via `pip` from https://pypi.org/project/keplergl/

[2019-10-06 21:20] gcoimbra commented on #434
@heshan0131 I think [Metabase](metabase.com) it's a good example...

[2019-10-06 22:35] heshan0131 commented on #695
Oops..It is published now.
Installation instructions here
https://github.com/keplergl/kepler.gl/tree/master/bindings/kepler.gl-jupyter#installation

[2019-10-07 10:50] sarpsoykan commented on #533
yes a manual input range for legend would be great.

[2019-10-07 18:37] heshan0131 commented on #637
Fixed

[2019-10-07 18:37] #637 closed

[2019-10-07 21:14] LHaferkamp commented on #717
Got the same problem on AWS Sagemaker:
Jupyter notebook version is 5.5.0

Javascript Console error messages
`manager-base.js:273 Could not instantiate widget
(anonymous) @ manager-base.js:273
(anonymous) @ manager-base.js:44
(anonymous) @ manager-base.js:25
a @ manager-base.js:17
Promise.then (async)
u @ manager-base.js:18
(anonymous) @ manager-base.js:19
A @ manager-base.js:15
t._make_model @ man

[2019-10-08 01:43] djouallah commented on #726
i saw today that mapbox start bundling kepler.gl in a new product Atlas, I presume they wouldn't mind now :)

[2019-10-08 06:49] alex-soft-r commented on #557
There no 2.4.1 at official repositary

[2019-10-08 10:00] alex-soft-r commented on #583
I also had similar problem like @suciokhan @dash-alex and others good peoples
**My system config**:
Windows 10 Pro x64. Python 3.7.3 x64
Anaconda 1.9.7/Notebook 6.0.1/JupyterLab 1.1.4

**This is my way to solve this problem**:
1. pip install --trusted-host=pypi.org --trusted-host=files.pythonhosted.org --user numpy bottleneck pandas shapely wheel munch cligj click-plugins pyproj pyparsing matplotl

[2019-10-08 12:34] wzy6642 opened #776 "[Bug][Jupyter Widget]"
**Describe the bug**
code:
from keplergl import KeplerGl
map1 = KeplerGl(height=500)
map1

return:
User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

**Environment (please complete the following information):**
 - Python version: [python3]
 - keplergl Widget version [0.1.0]

[2019-10-08 13:02] rubenseijioto commented on #776
Facing the same issue, on Chrome

[2019-10-08 13:51] eportico opened #777 "Trip layer use with addDataToMap"
Hi guys,
How can I use trip data in program using store ?  Can you upload little example ?
Thanks a lot

import { store } from '../redux/store';

store.dispatch(
        addDataToMap(jsondata));
    });

[2019-10-08 19:55] heshan0131 commented on #777
[Trip layer md](https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/c-types-of-layers/k.trip.md) shows you how to format your geojson feature collection

It is called like this in demo app
https://github.com/keplergl/kepler.gl/blob/master/examples/demo-app/src/app.js#L209-L220

[2019-10-08 19:56] heshan0131 commented on #776
please listing your OS (window or Mac)
version of:
ipywidgets and notebook

[2019-10-08 19:57] #750 closed

[2019-10-08 19:59] #747 closed

[2019-10-08 20:06] heshan0131 commented on #583
@alex-soft-r
It's weird it works on Labs but not Notebook. (usually the other way around)
What's your version of `ipywidgets`?

[2019-10-09 02:39] wzy6642 commented on #776
My OS is Windows
ipywidgets: 7.1.1
jupyter: 1.0.0
jupyter-console: 5.2.0
node: v10.16.3

[2019-10-09 02:42] wzy6642 commented on #776
![屏幕截图(4)](https://user-images.githubusercontent.com/33506993/66447607-62c0e400-ea81-11e9-9fd4-f08047dbee3c.png)
and I find this.

[2019-10-09 06:44] alex-soft-r commented on #583
![image](https://user-images.githubusercontent.com/3127933/66457540-4faa1600-ea79-11e9-8ad8-c6b8348ed9b3.png)

[2019-10-09 06:47] alex-soft-r commented on #583
Thi is what i can see when try use KeplerGL at Notebook
![image](https://user-images.githubusercontent.com/3127933/66457777-c9420400-ea79-11e9-87c4-7e1a94270381.png)

[2019-10-09 12:23] rubenseijioto commented on #776
OS: Linux Ubuntu 19.04
ipywidgets: 7.4.2
jupyter notebook: 5.7.8
![image](https://user-images.githubusercontent.com/45436568/66481051-6b5fed00-ea76-11e9-943d-305493750d28.png)

[2019-10-09 14:43] DavidTrafi commented on #399
Hi,
First of all, the new color palette feature is awesome!!! Thanks for constantly improving kepler. I assumed there was also going to be a function to change the color scale, e. g. based on fixed custom intervals. Is such a function planned/ coming soon?
Thanks for your answer.
Best,
David

[2019-10-09 17:42] heshan0131 commented on #776
Can you provide more info on which installation instruction did you follow?
Are you trying to directly install from the repo folder?
I am confused because in the screenshot it says it's trying to build from `Users/shanhe/Uber/kepler.gl...`

[2019-10-09 18:01] heshan0131 commented on #583
@alex-soft-r I am confused. If you installed `keplergl` with `p install --trusted-host=pypi.org --trusted-host=files.pythonhosted.org keplergl` why is the widget reports syntax error at my personal directory?
`/User/shanhe/Uber/kepler.gl/bingdings...`

[2019-10-09 18:03] rubenseijioto commented on #776
I used, pip install keplergl

[2019-10-09 18:25] heshan0131 commented on #586
keplergl 0.1.0 is published, can you try installing it?

[2019-10-09 20:36] d-wasserman commented on #586
When the opportunity presents it self, I will report back on whether an update works.

[2019-10-09 20:36] #586 closed

[2019-10-09 22:13] heshan0131 commented on #776
My bad :(... the 0.1.0 built was broken. please upgrade to `keplergl==0.1.1` now

[2019-10-09 22:13] heshan0131 commented on #583
My bad :(... the 0.1.0 built was broken. please upgrade to `keplergl==0.1.1` now

[2019-10-09 22:31] heshan0131 commented on #717
Clean you clarify if you got the error in Jupyter Notebook or Jupyter Lab? If it's Lab, you actually have to install `jupyter labextension install @jupyter-widgets/jupyterlab-manager keplergl-jupyter`
and have node >= 8.15.0

Couple of things you ca try:

1. `keplergl==0.1.0` build is broken, is you are on it, try install `0.1.1`
2. Since your sagemaker Notebook is on conda-python env, maybe follo

[2019-10-09 22:32] bigdawgmj commented on #365
As a part of this issue, it would be great to be able to load layers from s3/azure blob storage, and doing so requires query parameters with SAS token. Currently, the fetch just looks at the ending of the url for csv/json, I striped off the token for the assigning of the file type. On my fork I updated file-handler.js to include this simple fix.  Be happy to share if needed.

[2019-10-10 00:11] wzy6642 commented on #776
Wow, your solution is useful. Thanks!

[2019-10-10 00:17] #744 closed

[2019-10-10 06:45] alex-soft-r commented on #583
just one moment :)

[2019-10-10 09:06] matteo-s commented on #763
@heshan0131  That is *exactly* the point, the URL has to end with ```.csv```, and the user can not specify any parameter on the URL..

If you want to load the csv from an API, usually you'll have to append some parameters as query string, to specify for example the range of results, the pagination etc.
As of now, this doesn't work, but it's easily fixable when parsing the URL, by simply stripping

[2019-10-10 16:33] heshan0131 commented on #763
@macrigiuseppe I thinks this worth us looking into the loading logic.

[2019-10-10 17:19] macrigiuseppe commented on #365
hey @bragilev what kind of issue are you referring to?

[2019-10-10 17:22] macrigiuseppe commented on #763
We currently determine the type of file using the '.csv' or '.json' part of the URL. I will look investigate how to change the logic to detect the file/buffer type without using an extension

[2019-10-10 17:47] macrigiuseppe opened #778 "[Enhancement] Automatically detect file type when uploading file or loading url"
We currently use the file extension to determine the type of file we are loading. We need a way to determine the file type regardless of file extension.

[2019-10-10 18:15] macrigiuseppe opened #779 "[Enhancement] Ability to add label to polygons"
We support labels in point layer and it would be great to add the same feature to polygons.

[2019-10-10 19:32] macrigiuseppe commented on #763
PR: #780

[2019-10-10 20:10] rubenseijioto commented on #776
Cool!!! It's working!!! Many Thanks!!!

[2019-10-10 20:47] macrigiuseppe commented on #759
Hey @sevkibaba, you can take advantage of Kepler.gl plugin features and override the toggle action behavior.

You can find some info here: https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/advanced-usages/reducer-plugin.md

We have an example available that takes advantage of the same feature and you can find it here: https://github.com/keplergl/kepler.gl/blob/master/examples/cu

[2019-10-10 21:08] heshan0131 commented on #776
:) close!

[2019-10-10 21:08] #776 closed

[2019-10-11 09:17] matteo-s commented on #763
Thanks for the response @macrigiuseppe
I fully agree that content-type ```text/plain``` could be misleading, but as you suggest checking first for specific MIME types and then for the extension could really improve the usability of the tool.

Regarding 1) I think you need to also add some checks or exception handling to ensure that a "wrong" file (as in wrongly formatted, or not a csv/json but any

[2019-10-11 12:39] #759 closed

[2019-10-11 14:07] ksvensson8 opened #782 "[Bug][Jupyter Widget] config not re-loading mapState settings"
**Describe the bug**
If I create a simple map, save its config, then reload, it retains the zoom level and latitude/longitude of the mapState, but doing the same for a map that was loaded with datasets does not retain the zoom or color

**To Reproduce**
Steps to reproduce the behavior:
1. load kepler
2. create empty map
3. move map to different lat/lon and zoom
4. save config
5. create new map wit

[2019-10-11 21:16] ucalyptus commented on #707
@heshan0131 got resolved?

[2019-10-11 22:45] #777 closed

[2019-10-11 22:49] macrigiuseppe commented on #754
@Pessimistress can you please look into this?

[2019-10-11 22:50] heshan0131 commented on #746
Looks good. Thank you

[2019-10-11 22:52] macrigiuseppe commented on #173
this will be part of https://github.com/keplergl/kepler.gl/issues/398

[2019-10-11 22:57] macrigiuseppe commented on #201
linked to: https://github.com/uber-web/type-analyzer/issues/7

[2019-10-11 22:58] #197 closed

[2019-10-11 23:02] #210 closed

[2019-10-11 23:04] macrigiuseppe commented on #221
we won't be able to work on such feature.

[2019-10-11 23:04] #221 closed

[2019-10-11 23:08] #222 closed

[2019-10-11 23:09] macrigiuseppe commented on #243
this should be fixed. Please try it out and let us know

[2019-10-11 23:09] #243 closed

[2019-10-11 23:10] #172 closed

[2019-10-11 23:11] #223 closed

[2019-10-11 23:12] #281 closed

[2019-10-11 23:13] macrigiuseppe commented on #253
#681

[2019-10-11 23:13] #253 closed

[2019-10-11 23:16] macrigiuseppe commented on #164
please have a look at the documentation for custom map styles, here: https://github.com/keplergl/kepler.gl/blob/master/README.md#mapstyles-array-optional

In the URL part you can point to https://[WHERE YOUR STYLE JSON IS HOSTED]

[2019-10-11 23:17] #301 closed

[2019-10-11 23:18] #156 closed

[2019-10-11 23:18] #335 closed

[2019-10-11 23:18] #330 closed

[2019-10-12 00:23] heshan0131 commented on #782
https://github.com/keplergl/kepler.gl/pull/784

[2019-10-12 08:34] heshan0131 commented on #782
fixed in `0.1.2`

[2019-10-14 13:31] ksvensson8 commented on #782
0.1.2 didn't fix it.

[2019-10-15 07:52] xiancode commented on #583
tks  @alex-soft-r
install  these   extension :
jupyter labextension install @jupyter-widgets/jupyterlab-manager  keplergl-jupyter
it can work.

[2019-10-15 14:27] bnetter opened #785 "[Bug] Sum height not working for hexbin"
**Describe the bug**
I have a CSV file with 250 transactions, including a date, a point (which is always the same), and an amount. I want to create an hexbin growing in height over time, but the height stays at 0.

**To Reproduce**
Steps to reproduce the behavior:
1. Download [data.csv.zip](https://github.com/keplergl/kepler.gl/files/3729801/data.csv.zip).
2. Create an hexbin, with `to_lat` as lat

[2019-10-15 14:44] bnetter commented on #785
I've tried the same with a point somewhere else, as I thought it would help as a reference. It doesn't work much better. And it doesn't work much better without the sum, only with point counts.

[2019-10-15 15:35] lydiavi opened #786 "[Bug] Cannot see mapDraw feature on demo_app"
**Bug : **
I am currently working on a version of kepler.gl including Giuseppe Macri's draw polygon  (mapDraw) feature (branch 390_apply_polygon-filters). According to the demo_app webpack.config.local.js file it should load kepler.gl from the src directory in the repo.

![image](https://user-images.githubusercontent.com/35256484/66845637-ad09ff80-ef70-11e9-8dc1-64b203d64d21.png)

However it loads

[2019-10-15 17:48] heshan0131 commented on #782
Could you provide more info on your System setup?
OS: win / mac
Notebook or Labs?

[2019-10-15 18:12] ksvensson8 commented on #782
windows/Labs - but I reran it this AM and now the zoom seems to be staying...I switched to notebook and back, not sure if that affected anything? At one point the extension also crashed so I restarted jupyter completely as well.

[2019-10-15 19:01] heshan0131 commented on #782
with labs, you will need to upgrade both keplergl (the python package) and keplergl-jupyter (the node package).

if the extension crashed (and jupyter didn't). please open your js console and take a screenshot of it to see if any error occurs. With the look of your notebook image, it shouldn't be the amount of data that causes crash

[2019-10-15 20:35] macrigiuseppe commented on #786
@lydiavi if you would like to run the demo app using kepler source you need to perform the following steps:
you must be in the project root folder
[code]

FYI __390_apply_polygon_filters__ will soon be updated with new code

[2019-10-15 20:36] garychowcmu opened #788 "Dynamic Animation slide bar: make time window smaller"
**Is your feature request related to a problem? Please describe.**
When using the filter of time to play the visualization based on time of day, the smallest time window in the slide bar is 5 seconds.
If we have high resolution records every 2 seconds, it will show two separate records for one exact item in the same time window. (For example, 2 records for one same car. in 5 seconds.)

**Describe

[2019-10-16 08:40] abhijeet119 opened #789 "How to install kepler.gl in ubuntu server?"
Hi Team,

I am new to kepler.gl can any one give me some insights on how to install kepler.gl in ubuntu server ? Currently i am running it on windows server, now i need to run in ubuntu server to scale up the project. I am not able to find nodevars in ubuntu.

Regards,
Abhijeet

[2019-10-16 09:36] LHaferkamp commented on #717
The error is on Jupyter Notebook, I could try Jupyter Lab as this is an option on AWS.
But for Jupyter Notebook:
1. I just upgraded to keplergl-0.1.1 but it didn't help
2. AWS Sagemaker runs on linux_x86_64, the instructions of #557 for Windows won't help, e.g. for Shapely https://pypi.org/project/Shapely/ there is no manual wheel installation option
3. There was no other error message before, I w

[2019-10-16 10:29] lydiavi commented on #786
I don't have yarn on the server (I don't have admin rights)
But I use **npm** to start the demo app, and the app works it just doesn't take kepler.gl from the right repo. I want it to use kepler.gl from src and not node_modules.
Does it only work with yarn ? If so, why ?

Sorry if it is not very clear, I can reformulate if needed.

Thank you

[2019-10-16 20:21] rjimenezda opened #791 "[Bug] Importing data from a URL that's not a file no longer works"
**Describe the bug**
Before #780, you could import data into kepler from APIs such as the CARTO SQL API, as long as the url ended in a recognized format.

So, for instance, the URL`https://roman-carto.carto.com/api/v2/sql?q=select%20*%20from%20%22roman-carto%22.school_paths&format=geojson` would work nicely, because it ended in `geojson`. You can even specify `&filename=out.geojson`.

However, #78

[2019-10-16 20:23] rjimenezda commented on #791
I actually like the new approach to URL parsing, but maybe it should try to guess the file type if the URL parsing yielded nothing?

For instance, using the mime type of the response, or falling back to the previous approach.

[2019-10-16 20:26] rjimenezda opened #792 "[Enhancement] Let users rename datasets"
**Is your feature request related to a problem? Please describe.**
When importing data to kepler, the dataset label is fixed and cannot be changed.

There are several cases as how this happens:

- When uploading a *file*, the filename will be used as a label.
- When loading demo data, it's always 'new dataset'.
- When loading via a URL, if it's a URI that points to a file, it's the filename, but w

[2019-10-16 21:58] qxlsz opened #793 "[ Feature Request ] Get the object ID"
**Is your feature request related to a problem? Please describe.**
Currently if plot using hexbin . When I click on a point, I want to extract the object ID

**Describe the solution you'd like**
Fetch the object ID so I can add more js to perform multiple actions

**Describe alternatives you've considered**
Nothing at the moment

**Additional context**

[2019-10-16 22:17] qxlsz opened #794 "[Bug][Jupyter Widget] Can't see tooltip data points"
**Describe the bug**
If I understand correctly the tooltip should show whatever columns I select from my data source

**To Reproduce**
Steps to reproduce the behavior:
1. load kepler
2. Add data & config
3. Export map

**Expected behavior**
It needs to show columns added to tooltip

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuser

[2019-10-16 22:19] qxlsz commented on #794
I can easily add co ordinates by turning on co ordinates. But it's not clean when it moves with my cursor. I only wanted to see when I select the data points.

[2019-10-16 22:21] qxlsz commented on #794
But I can see in tooltip for sample data viz
![image](https://user-images.githubusercontent.com/4540836/66963481-a8a11d80-f028-11e9-854e-5987e436bb8e.png)

Is there a specific format they should be in to show up ?

[2019-10-16 22:37] qxlsz commented on #794
Agh. It works with points. It doesn't work with hexbin's.  But can we get it in hexbins also please?

[2019-10-16 22:37] #794 closed

[2019-10-16 22:39] qxlsz opened #795 "[Bug][Jupyter Widget] Tooltip doesn't show the selected columns in hexbin"
**Describe the bug**
Tooltip doesn't show the selected columns in hexbin

**To Reproduce**
Steps to reproduce the behavior:
1. load kepler
2. Add data & config
3. Export map
4. Use hexbin
5. Try adding columns into tooltip

**Expected behavior**
the tooltip columns should work no matter what viz we select

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment

[2019-10-17 16:54] qxlsz commented on #795
I understand hexbin is an aggregation. BUt would like to use tooltip in this case.

[2019-10-17 19:19] macrigiuseppe commented on #786
yarn is similar to npm. If you want to use npm just do the following form the root source:
[code]

[2019-10-18 01:39] gautamtata opened #796 "[Bug] FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
**Describe the bug**
I am not sure if this is a bug or a memory limitation of my computer. I used Kepler.gl's web application in order to visualize data from Uber Movement and downloaded a JSON file which Kepler.gl accepts. The file size is around 1G big.

I'm trying to load this dataset into my own react application using the  code:

`  componentDidMount() {

    const data = Processors.processKe

[2019-10-18 17:48] treyhakanson opened #798 "[Bug] addDataTo"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-10-18 17:51] treyhakanson opened #799 "[Bug] addDataToMap ignores keys in mapState"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a kepler.gl demo like [this one](https://kepler.gl/demo/earthquakes)
2. Move the map
3. Export the map as JSON (note that `mapState` has updated as expected)
4. Load the map from JSON
5. Note that the following keys in the loaded `mapState` were ignored:
    - latitu

[2019-10-18 18:14] macrigiuseppe commented on #339
we have provided all the necessary documentation and code to tableau. They will review it and include kepler.gl in the extension gallery.