[2019-10-18 18:51] treyhakanson commented on #799
Nevermind, it appears that a default just changed; `centerMap` used to default to `false`. All I had to do was this:

[code]

[2019-10-18 18:51] #799 closed

[2019-10-18 22:23] qxlsz opened #801 "[Request] Flask example with keplergl"
**Is your feature request related to a problem? Please describe.**
Need a working example of flask app integrated with live updates of keplergl

**Describe the solution you'd like**
Need a working example of flask app integrated with live updates of keplergl

**Describe alternatives you've considered**

**Additional context**

[2019-10-19 07:56] LHaferkamp commented on #717
@heshan0131 : You were right, on a plain new notebook loading an empty map shows now a HTTP 404 error on the console (the 404 doesn't appear on second try)
[code]

[2019-10-21 23:22] jasonleehodges opened #802 "[Bug] `ColorField` property missing from `KeplerGlSchema.save` config"
**Describe the bug**
I'm trying to save the exact configuration of a kepler.gl map to a nosql datastore so that users can pick back up where they left off. I'm using `KeplerGlSchema.save` to save the configuration. However, it seems that when using the `save` method, the `colorField` property is not present in the `visState.layers[0].config` object. Therefore, when I save the result of the `save`

[2019-10-22 08:27] lydiavi commented on #786
This is already what i do.

The problem is not starting the demo_app but using the code in src as the module kepler.gl (import kepler.gl).

Currently the demo_app takes the code in "examples/demo_app/node_modules/kepler.gl/" as module kepler.gl.
However according to the "webpack.config.local.js" it should take the code in "src/" for module kepler.gl.

[2019-10-24 01:54] rASOUL82 opened #803 "[Bug][Jupyter Widget][100% width on maps in splitMaps]"
**Describe the bug**
I am using python and kepler.gl-jupyter binding to visualize some road networks in a side-by-side map view.
To get the side-by-side view, I am using the following in config dict in my python code:
config =
.
.
.
"splitMaps": [
                {
                "layers": {
                    "Stations": True,
                    "Demand 2020": True,
                    "Levy B

[2019-10-25 12:53] ana-md opened #804 "Backend Storage using CARTO"
## General

**Is your feature request related to a problem? Please describe.**
Kepler.gl has a 'Save/Share your map' feature using Dropbox but it doesn't have a way to privately manage your maps and data after its creation, something that can be frustrating after spending time working on the creation of your maps.

**Describe the solution you'd like**
Having an integrated and private system to eas

[2019-10-25 12:57] ana-md opened #805 "Backend Storage (I): Persisting MAPS (privately)"
### 1. Basics

**Is your feature request related to a problem? Please describe.**
Kepler.gl has a 'Save/Share your map' feature using Dropbox but it doesn't have a way to manage privately the maps after its creation. CARTO is already working together with Kepler in the implementation of the option for [sharing maps via URL using CARTO](https://github.com/keplergl/kepler.gl/issues/746), but there i

[2019-10-25 21:09] xoolive opened #806 "[Bug][Jupyter Widget] version of shapely in setup.py"
Is the post2 version of shapely really necessary here:
https://github.com/keplergl/kepler.gl/blob/43ed0752ff236a9ab9349eab0d07e4a357ccf825/bindings/kepler.gl-jupyter/setup.py#L146

conda installs by default the post1 and it raises DLL issues to force the installation of the post2 version when you pip install keplergl

If things work fine with post1 at current version of keplergl, it would be nice

[2019-10-27 08:25] heshan0131 commented on #802
`colorField` will be saved to `layer.visualChannels`, instead of `layer.config`. You need to call `KeplerGlSchema.load` before passing the saved schema to `addDataToMap`.

[2019-10-27 08:26] #798 closed

[2019-10-27 14:44] jasonleehodges commented on #802
@heshan0131 I do call the load method and then `addDataToMap` but the `colorField` is blank on the map after the redux action completes.

[2019-10-27 22:33] tcr-su opened #808 "[Bug] Last Graphic Layer in Stack Not Displayed"
**Describe the bug**
Within the past few weeks (not sure exactly when), kepler.json upload files we have been producing for the past year or so have stopped displaying properly. The symptoms are that all layers in a stack of 18 graphics layers (derived from 9 data sources) display properly except for the last two (point and line layers of aircraft sighting data). The data table for the sightings a

[2019-10-28 15:10] jasonleehodges commented on #802
@heshan0131 I've done a `console.log` to demonstrate the result of calling `KeplerGlSchema.load` and the `colorField` does indeed seem to be where you say it should be, but after loading the result to the map, as you can see it is not registering in the UI. The UI should show a color field of "Category" but instead it is blank.

[code]

![Screen Shot 2019-10-28 at 9 06 34 AM](https://user-images.g

[2019-10-28 21:53] HugoBarreto commented on #351
@Harrisandwich, as a total beginner, how would I configure `webpack.config.js`??

[2019-10-28 21:56] macrigiuseppe commented on #351
Hey @HugoBarreto we have some samples you can use that are a good starting point.

[2019-10-28 22:05] HugoBarreto commented on #351
@macrigiuseppe I'm sorry for the dumb questions, but I'm totally new at this.

I see the webpack folder, are you referring to those files? Which one should I have a local copy and modify in my app? Beside that, should I modify anything else?

[2019-10-29 03:33] carstonhernke commented on #339
Update to those finding this thread: the kepler.gl Tableau plugin appears to now be available on the Tableau Extension Gallery. [https://extensiongallery.tableau.com/products/108](https://extensiongallery.tableau.com/products/108)

[2019-10-29 13:14] HugoBarreto commented on #351
Now I understand what you meant. Thanks for pointing that out

[2019-10-30 12:27] bumbeishvili opened #810 "[Bug][Docs] Dead link"
**Describe the bug**
Dead link inside docs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to kepler.gl => documentation
2. Click on first link ([Overview](https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/1))
3. You will see 404 error

**Expected behavior**
Overview of kepler.gl should open

**Screenshots**

![404](https://user-images.githubusercontent.com/6873202/6785

[2019-10-30 23:18] Firenze11 commented on #351
I had a similar issue and have a fix [here](https://github.com/uber/manifold/pull/60)
In v6 react-redux migrated from legacy react context to createContext. As a result, it seems that in order for `connect` to access the store object passed from `Provider`, `connect` and `Provider` must come from a single react-redux dependency.
Remove the dependency on react-redux and use peerDependency (to make

[2019-10-31 15:35] Harrisandwich commented on #351
@Firenze11 I did attempt this at one point, but decided against it when I had troubles compiling the demo app in the main repo. It may work just fine imported into a project though, I just never tried. It's also possible that I did something wrong switching it over to a peer dependancy, or missed in important step. I'll definitly take a peek at your PR!

[2019-10-31 17:33] amrfaisal opened #811 "[Bug] PR #787 stops the demo-app from loading"
The PR https://github.com/keplergl/kepler.gl/pull/787 results in errors, stopping the demo-app from working.

Resetting the master to commit https://github.com/keplergl/kepler.gl/commit/43ed0752ff236a9ab9349eab0d07e4a357ccf825 solved the issue.

Steps to reproduce the behavior:
1. Clone the master
2. Navigate to kepler.gl/examples/demo-app/
3. Run `yarn --ignore-engines`
4. Run `export MapboxAcces

[2019-10-31 18:41] heshan0131 commented on #811
Master is fixed, please give it a try

[2019-11-01 11:15] reubengan93 opened #813 "[Bug] Export Map HTML is broken"
**Describe the bug**
After exporting the map as an HTML file, the exported file will load a blank screen in the browser instead of the map that was created in Kepler. Both read-only mode and edit map mode produce the same issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload any data to the map (csv, json)
2. Click on 'share'
3. Select 'export map'
4. Select 'HTML'
5. Input Mapbox Ac

[2019-11-01 13:21] amrfaisal commented on #811
Confirmed. It's now working. Thanks a lot

[2019-11-01 13:21] #811 closed

[2019-11-01 16:22] qxlsz opened #814 "[Bug][Jupyter Widget] Legend color schema changes with respect to data"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. load kepler
2. Add data & config
3. Export map
![2019-10-28 at 9 39 AM](https://user-images.githubusercontent.com/4540836/68039160-c0afa880-fc88-11e9-8307-d8b65ee6d982.gif)
As you can the legend colors keep changing as the legends are creating with respect to the data.
so

[2019-11-01 16:23] macrigiuseppe commented on #802
@jasonleehodges in order to import an existing configuration, you need to use  the following:

[code]

[2019-11-01 16:30] macrigiuseppe commented on #791
@rjimenezda
This is not a bug. The application is actually working as intended and the enhancement is required in order to pass extra params to an third party service when generating a file, e.g. /data.csv?start=[]&end=[]

We already have an open issue to automatically detect the type of file we are trying to dowload

https://github.com/keplergl/kepler.gl/issues/778

[2019-11-01 16:53] heshan0131 commented on #802
@jasonleehodges
interesting `visualChannels` should not be present after `KeplerGlSchema.load`. It should be folded into `layer.config` could you paste your entire `content.state.config` in here? the one you passed to `KeplerGlSchema.load`

[2019-11-02 22:02] pctnumbers2017 commented on #702
I'm having this same problem on http://www.longtrailsmap.net/pct/elevation, but the dataset is only 2.6 megs.

Is there a fix I can implement w/o being familiar w/ React?

Kepler is an amazing tool, but for users with connections that take several seconds to load the page, being met with a large 'Add data" dialog and nothing else on page load is not a great experience.

Thanks!

[2019-11-02 22:44] pctnumbers2017 commented on #702
The entire html file is now 1.4m, same problem occurs.

[2019-11-03 14:53] vanhumbeecka commented on #736
Same here,
It used to work in the past though (somewhere short after version 1.0.0 i think, did it work)
Now, with my same dataset, the CSV upload seems broken for `geojson` entries.
I'm also trying to upload LineString geojson.

[2019-11-04 12:01] VictorVelarde commented on #791
Thx @macrigiuseppe! We'll be aware of the mime type change.

@rjimenezda could you please close this issue?

[2019-11-05 12:05] arnabbiswas1 commented on #583
Unfortunately it still does not work for me. I have installed version 0.1.2.

[2019-11-05 16:39] jasonleehodges commented on #802
@heshan0131
[code]

[2019-11-05 19:58] nicosalvia opened #815 "Can't export in any way html/json/dropbox"
**Describe the bug**
When i try to export the map, it doesn't show any information, it shows "like" it has information, but when you open the datatable it doesn't have any data (even when it says that it has rows in it.)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Export Map or save with dropbox
2. Click on html/json
3. Scroll down to accept and then copy the link in a new tab.
4.

[2019-11-05 20:24] nicosalvia commented on #815
Update, the problem happens when i use the "requestedhour" field as a filter

[2019-11-05 20:52] kindjacket commented on #813
I'm getting the same on Safari macOS Catalina

[2019-11-06 04:56] ttbon opened #816 "[Bug] Exported map does not render hexbin colorscale correctly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-06 06:45] #791 closed

[2019-11-06 10:34] alihassan2203 opened #817 "[BUG] HTML file is not opening in browser "ReferenceError: KeplerGl is not defined""
**Describe the bug**
I uploaded my dataset and the visual and point plotting on the kepler.gl is fine but After exporting HTML. It is not showing a map. Nothing loads on the screen and when I see the developer console of firefox then see this error "ReferenceError: KeplerGl is not defined". I even added my public API key of mapbox but nothing happened.

**To Reproduce**
Steps to reproduce the beha

[2019-11-06 15:54] vanhumbeecka opened #818 "[Bug] CSV import geojson"
**Describe the bug**
2 related bugs actually:

~~1) CSV import is broken when a column is defined as `geojson`.
More specifically, when trying to upload a CSV with a `geojson` column with `Linestring` geometries included. An example can be found in issue https://github.com/keplergl/kepler.gl/issues/736~~

2) When one the values of this `geojson` column is empty, kepler fails to 'ignore' these empt

[2019-11-06 18:06] martimalek commented on #785
I'm also experiencing the same issue, has anyone solved this?

[2019-11-07 08:50] martimalek commented on #785
Found a solution! It seems that sometimes kepler doesn't read the values on first load, just deleting the points/hexes and putting them again worked for me!

[2019-11-07 10:28] bnetter commented on #785
@heshan0131 any ideas?

[2019-11-07 11:25] martimalek commented on #785
Hey I've found the problem. Basically keplergl shows the height of a hexbin when there's a difference between the values of the current hexbins in the map. So if there are no differences it won't show height.

@bnetter in your particular example you only have one point in the map so kepler doesn't have anything to compare it with. So it always shows height 0. If you create another point with a dif

[2019-11-07 14:57] edwinvandenbelt opened #819 "[Bug] Load Map using URL not working"
**Describe the bug**
using an url to provide a csv ends up in a javascript error:
Uncaught (in promise) TypeError: a is not a function
    at bundle.js:54
    at bundle.js:98
    at r (bundle.js:27)
    at s (bundle.js:98)
    at Object.run (bundle.js:27)
    at bundle.js:27
    at Array.map (<anonymous>)
    at bundle.js:27
    at Object.run (bundle.js:27)
    at t._run (bundle.js:27)

**To Repro

[2019-11-07 15:52] geoHeil opened #820 "[Bug] weird projections"
To reproduce I wrote the issue up at SF https://stackoverflow.com/questions/58752374/h3-hexagons-render-with-swapped-lat-long-in-kepler-gl

Hexagons generated by the python plugin render distorted in Kepler.gl

Why is this the case?
How can this be fixed?

[2019-11-08 14:46] jofri99 opened #821 "Smooth out segment transitions"
**Is your feature request related to a problem? Please describe.**
I would like to smooth the transition of my segments. When I add a Layer to mapbox I can pass the option : ```layout':{
        "line-join": "round",
        "line-cap": "round"
      }``` and my transitions are great.

**Describe the solution you'd like**
Having access to a function that can append options like [layout or paint](h

[2019-11-08 14:57] prodriguezciae commented on #557
I followed the instructions and  it worked perfectly! Thanks!

[2019-11-09 10:15] heshan0131 commented on #818
thanks for attaching the screenshot, this is very helpful.

[2019-11-09 10:38] heshan0131 commented on #736
Hi @vanhumbeecka
I thinks your csv file is missing the string escape. I added quotes to object keys `"type"` and `"coordinates"`, it loads fine.

Need to add quote to escape `"`. This works for me:
[code]
<img width="1097" alt="Screen Shot 2019-11-09 at 2 29 51 AM" src="https://user-images.githubusercontent.com/3605556/68527167-d7618b00-0298-11ea-8948-c5fa05250093.png">

Here is more info on [stri

[2019-11-09 10:40] heshan0131 commented on #818
If you can paste one line of your csv in here it would be really helpful. It could be a string escape related issue. See my reply here:
https://github.com/keplergl/kepler.gl/issues/736#issuecomment-552087721

[2019-11-09 11:49] heshan0131 commented on #399
Adding value customization is in progress:

<img width="516" alt="Screen Shot 2019-11-09 at 3 39 12 AM" src="https://user-images.githubusercontent.com/3605556/68528007-89ea1b80-02a2-11ea-9c13-6edd654ec590.png">
<img width="1055" alt="Screen Shot 2019-11-09 at 3 38 35 AM" src="https://user-images.githubusercontent.com/3605556/68528008-89ea1b80-02a2-11ea-8cf6-3bb556042bbf.png">

[2019-11-10 10:37] vanhumbeecka commented on #818
Hi @heshan0131 , thanks for investigating.
Below you can find an extract of the CSV in question:
[code]

[2019-11-10 10:46] vanhumbeecka commented on #736
I've added a CSV snippet in #818 . Based on the the geojson-structure you mention, this seems to be fine. So I'm still not sure where the problem could be.

[2019-11-10 10:53] vanhumbeecka commented on #818
Ok, I retested it again, without the records with 'empty' `geojson` fields, and these work.
So the structure you mention in #736 works.

So the bug that still remains is how to deal with 'empty' geographical records.

[2019-11-11 04:39] hienchu commented on #156
@macrigiuseppe any luck on this? I am trying to make it working with 高德地图

[2019-11-11 04:45] ygambhir commented on #643
Hi, is it possible to get an updated link to join the Slack?

[2019-11-11 05:10] macrigiuseppe commented on #819
@edwinvandenbelt I tried to replicate the issue but loading through URL works correctly.
Can you please share a dataset that triggers the above issue?

[2019-11-11 06:01] macrigiuseppe commented on #156
@hienchu Kepler.gl supports only mapbox for now. We currently have no plan for extend Kepler to other map frameworks

[2019-11-11 14:33] macrigiuseppe commented on #815
@nicosalvia I was able to reproduce the issue and indeed the issue is related to the requestedhour format. I will do a deeper investigation and get back to you

[2019-11-11 15:15] macrigiuseppe commented on #813
we were able to reproduce the issue and we are working on fixing it. We are gonna post some updates soon.

[2019-11-11 17:17] daaain opened #822 "[Bug] NYC Taxi Trips demo data layers aren't rendering in Firefox"
**Describe the bug**

Looking at the NYC Taxi Trips demo, the data is rendered correctly in Chrome, but in Firefox only the map layer is shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Firefox (70.0.1 or 71.0b8)
2. Go to https://kepler.gl/demo/nyctrips
3. See error

**Expected behavior**
Taxi trip data is rendered

**Screenshots**

<img width="1680" alt="image" src="https://user-

[2019-11-12 17:36] #739 closed

[2019-11-12 17:38] #763 closed

[2019-11-12 17:39] #523 closed

[2019-11-12 17:39] #483 closed

[2019-11-12 17:39] macrigiuseppe commented on #483
this has been implemented and deployed

[2019-11-12 17:42] macrigiuseppe commented on #786
@lydiavi the demo_app pull the code directly from the source when you run it following the developer guide instructions https://github.com/keplergl/kepler.gl/blob/master/contributing/DEVELOPERS.md

In fact, we use the demo to develop and test kepler

[2019-11-12 17:43] macrigiuseppe commented on #786
I am gonna close this task because the title is completely misleading. If you still have issues running Kepler, please open a new issue and provide a an example of your project

[2019-11-12 17:43] #786 closed

[2019-11-12 18:15] #736 closed

[2019-11-12 19:04] heshan0131 commented on #805
Great start!

My thoughts are in the current design Save and Share are 2 different actions. But for a user, the 2 are essentially the same. If one wants to save a map to Carto, it should be obvious to them that they also would use Carto to share it. As a result, if one already save their map to Carto, it should be the default selection in Share map panel. Even better, as soon as they click share m

[2019-11-12 19:14] heshan0131 commented on #796
Are you trying to load the file using `import jsonData from 'data.json';`?
That's probably not going to work. Webpack will have to compile the file into js string.
 If your file is 1G size, you might need to start a node server (using express) and load it via fs.

[2019-11-12 19:18] macrigiuseppe commented on #796
you may also be able to place your file into a CDN and try to load using the file url

[2019-11-12 23:00] heshan0131 commented on #818
Created a PR for this case
https://github.com/keplergl/kepler.gl/pull/826

[2019-11-13 03:42] ygambhir commented on #801
@qxlsz Following this post, as I'm also building a Flask app for live updates and to pull data from a database to display in Kepler GL. Did you have any luck completing your app? Currently I'm having trouble fetching data from my Flask API that is running locally. I've verified that the correct data is being returned in the right GeoJson format by the API (using Postman), but can't get a fetch cal

[2019-11-13 12:22] ana-md commented on #805
Thanks a lot for your feedback @heshan0131!

Find below my answers to your questions:
1. Regarding your first point, yes, for the user that should be clear, thanks for pointing it out! We will take a look at it with the team and come back to you with a design proposal.

2. We included the `log out` option in the InVision prototype from the Save entry point > Settings and it should appear when you

[2019-11-13 18:23] heshan0131 commented on #822
Confirmed bug, upgrading deck.gl should fix it

[2019-11-13 18:32] heshan0131 commented on #820
kepler uses an instance rendering on all hexagons, it assumes all your h3 hexagons are relatively close to each other. It uses your current map center to calculate hexagon distortion and apply it to all hexagons (instance rendering). Not perfect but significantly improves performance. Because it is too costly to calculate distortion for each hexagon.

https://stackoverflow.com/a/58843450/10467264

[2019-11-13 18:33] heshan0131 commented on #821
hi @jofri99 which layer are you using? The polygon layer?

[2019-11-13 18:44] heshan0131 commented on #817
@alihassan2203 Can you confirm this is happening also to the new saved maps? I was able to save a html and load it today.

[2019-11-13 20:36] lperozzi commented on #817
Hi, with a new saved map I have this error that may be related

![image](https://user-images.githubusercontent.com/6198369/68802099-92a16f80-065d-11ea-8ae3-5d606438af25.png)

[2019-11-13 21:14] nooruldeen commented on #643
Can we have a new link to join Slack? The link above has expired.

[2019-11-13 21:20] heshan0131 commented on #643
link has been updated on Nov 13

[2019-11-13 21:20] tcr-su opened #827 "[Bug] Reg Prev Bug #808: Point Display Type Not Working -- See CA Earthquake example"
I previously reported a bug #808 in which some layers in kepler.gl files that used to work are no longer working. The layers that do not render are POINT display types. The input data files from our project that used to work are no longer working. Your example display of California Earthquakes illustrates the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://kepler.gl/d

[2019-11-13 21:37] YayinC opened #828 "Enable customized height range"
Could we add a slider to customize the height range as we currently have for size? A frustrating thing would be the height for the lowest value is always zero. I guess it may take the values for height, and apply the min-max standardization to the value, and the minimum value will have the height "0".

I think it could be misleading sometimes when we visualize the data. If we could add a slider to

[2019-11-13 21:57] kaushikCanada commented on #801
I am facing this problem too.. so far i can render around half a million polygons in 3d which looks beautiful. But how do i load data dynamically from db? also my app is using flask.

[2019-11-13 22:04] kaushikCanada commented on #414
any updates in this please?

[2019-11-13 22:05] kaushikCanada commented on #412
any updates on this please?

[2019-11-13 22:05] kaushikCanada commented on #411
any updates on this please?

[2019-11-13 23:24] heshan0131 commented on #815
https://github.com/keplergl/kepler.gl/pull/829

[2019-11-13 23:25] heshan0131 commented on #822
https://github.com/keplergl/kepler.gl/pull/829

[2019-11-13 23:38] heshan0131 commented on #818
merged in master

[2019-11-14 00:19] heshan0131 commented on #822
merged. please confirm fixes

[2019-11-14 00:27] heshan0131 commented on #808
Hi @tcr-su  I just deployed a fix to kepler. I now can see this when upload the attached file. The last 2 layers seem to display fine. It doesn't show as much points as your screenshot, but it might just be the dataset contains less points.

![Screen Shot 2019-11-13 at 4 25 46 PM](https://user-images.githubusercontent.com/3605556/68816117-4d1b7d00-0632-11ea-94d0-2f7a69b90727.png)

[2019-11-14 00:28] heshan0131 commented on #827
The point display should work now

![Screen Shot 2019-11-13 at 4 28 40 PM](https://user-images.githubusercontent.com/3605556/68816236-abe0f680-0632-11ea-9691-f32f557e5a3a.png)

[2019-11-14 00:41] heshan0131 commented on #813
Fix just deployed. Please confirm fixes

[2019-11-14 00:47] heshan0131 commented on #802
I notices a `"` missing in geojson `layer.config.dataId`. But it might not be the problem.

I tested your config with this:
[code]

[2019-11-14 00:57] kindjacket commented on #813
@heshan0131 fix confirmed! Thanks for the quick fix!

[2019-11-14 04:19] alihassan2203 commented on #817
@heshan0131 The issue has been resolved on its own. It may an issue from the Kepler side.

[2019-11-14 09:50] jofri99 commented on #821
Yea the polygon layer.

[2019-11-14 13:12] daaain commented on #822
It works now, thanks for the quick fix 🙏

[2019-11-14 13:12] #822 closed

[2019-11-14 18:43] #813 closed

[2019-11-14 18:45] heshan0131 commented on #815
Fix was deployed, please confirm it has been resolved

[2019-11-14 18:46] heshan0131 commented on #828
Hi @YayinC, which layer are you referring to?

[2019-11-14 18:48] #817 closed

[2019-11-14 18:49] heshan0131 commented on #810
Thanks for the PR. it has been merged

[2019-11-14 18:49] #810 closed

[2019-11-14 18:49] #818 closed

[2019-11-14 20:43] YayinC commented on #828
I think here is a similar example:
https://github.com/keplergl/kepler.gl/issues/475
I mean when we want to display the height based on the selected the column, the polygon with the  lowest value would have the height "zero", which is not desired.

[2019-11-15 14:05] ana-md commented on #804
@heshan0131 find here a short update on the project status from our side:

**Phase 1:**
- The [PR](https://github.com/keplergl/kepler.gl/pull/830) for Phase 1 is ready, I have just linked it to this issue (editing directly the description above).
- You can try it out signing up from Kepler into CARTO’S  trial account and we can extend the account for you if you need it for further testing.
- It wo

[2019-11-15 15:27] DanielM235 commented on #121
Experiencing the same issue with v1.1.10

[2019-11-15 18:29] daaain commented on #477
The code snippets above didn't work for me and the PR was a bit too big to easily read, so after taking a while to figure this out with trial and error I thought I should share a current working method here:

[code]

[2019-11-15 22:54] sundas01 opened #833 "[Bug][Jupyter Widget] - How can I enable timeseries functionality in jupyter plugin ?"
**Describe the bug**
This is more of a question. Does jupyter plugin support time series analysis using filter on a date column ?

in jupyter when i choose date col as filter it just asks me to select a value from in list and doesnt show was filter on map it self.

**To Reproduce**
Steps to reproduce the behavior:
1. load kepler
2. Add data & config
3. Export map

**Expected behavior**
A clear and

[2019-11-16 10:45] geoHeil commented on #820
Thanks for the clarification. But what the real issue was:
[code]

needs to be set to true.
However, it is really strange if it is set to false, i.e. hexagons are flipped by lat/long, why is the  resulting WKT shape created from:

[code]
flipped back again to the correct representation.

[2019-11-17 03:27] macrigiuseppe opened #834 "Create e2e tests"
**Is your feature request related to a problem?
Currently we have no way to test certain scenarios in the app (dropbox integration, download maps, etc..)

**Describe the solution you'd like**
Implements an e2e test strategy

**Describe alternatives you've considered**
jest + puppeteer

[2019-11-17 08:39] amr544 commented on #583
Same for me, version 0.1.2

[2019-11-18 07:18] LeslieXong opened #836 "Cluster map: total points keep the same count when zoom in to a sub cluster"

[2019-11-18 17:44] konje opened #837 "data loaded but no points on map[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-18 19:14] chrisirhc opened #838 "[Bug] Changing filter field back and forth breaks the filter widget"
**Describe the bug**
Filter values are broken after switching between fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://kepler.gl/demo/world_flights
2. Click on Filter
3. Add Filter, and pick `origin_country`
4. Click on "Enter a value". See that countries show up. Don't select anything.
5. Click on "origin_country" to change the field to be filtered on.
6. Pick `callsign

[2019-11-18 23:42] heshan0131 commented on #805
The in screenshot above, would it be possible to display the name of the user that is currently loged in? e.g. Log in as `heshan0131`

How is versioning handled here? If I saved a map named 'NYC Taxi', when I update it, will the UI make it clear that the map I am going to save will override the old one? Or is it possible to save as a new map?

[2019-11-18 23:51] heshan0131 commented on #805
For the meta data associated with `createVisualization` could you add a date to it?

[2019-11-19 01:51] jlabarbera11 opened #839 "Kepler improperly truncating large int values in csv files"
**Describe the bug**
Kepler will identify columns as integers if they are all numeric, which could lead to overflowed values.

**To Reproduce**
Steps to reproduce the behavior:
1. create a simple csv
[code]
2. Drop the csv into kepler
3. Observe the point's `id` is now `182891173641581470`

**Expected behavior**
The point id should be `182891173641581479`.

**Screenshots**
<img width="1018" alt="S

[2019-11-21 04:04] heshan0131 opened #840 "[Bug] `id` column should be treated as string by default"
**Describe the bug**
id column is usually treated as `int`, making it hard to filter. In almost all cases it should be treated it as `string` by default.

https://github.com/keplergl/kepler.gl/issues/839

[2019-11-21 04:04] heshan0131 commented on #839
kepler.gl probably thinks the `id` is an integer. can you confirm that's the case by openning the data table and let me know what data type is showing for the id column？ Regardless, I think we should add a case when the column names is `id` we parse it as string by default...

<img width="548" alt="Screen Shot 2019-11-20 at 8 02 00 PM" src="https://user-images.githubusercontent.com/3605556/6930313

[2019-11-21 08:42] jlabarbera11 commented on #839
It is an integer, I believe since https://github.com/uber-web/type-analyzer labels it as an int type by matching against a regex. A more reliable fix might be to label such fields as a `Number` type in type-analyzer by making the [isInt](https://github.com/uber-web/type-analyzer/blob/371f641aa779c29fe190544779cf51a61b28bfba/src/validator-map.js#L57) check more robust, and then treat those Number t

[2019-11-21 16:14] heshan0131 commented on #838
https://github.com/keplergl/kepler.gl/pull/841

[2019-11-21 16:27] heshan0131 commented on #837
@konje We will need a snippet of your data to debug

[2019-11-21 16:28] heshan0131 commented on #808
@tcr-su I assume this has been fixed :) closing it for now

[2019-11-21 16:28] #808 closed

[2019-11-21 16:30] #827 closed

[2019-11-21 16:36] heshan0131 commented on #820
@geoHeil I think this is the problem with miscommunication between h3-py and h3-js libraries? In kepler.gl we only use h3-js. calling `h3.h3ToGeoBoundary` to convert from h3 id to geojson.

@isaacbrodsky Could you shed some light in this?

The stackoverflow issue here is

ttps://stackoverflow.com/questions/58752374/h3-hexagons-render-with-swapped-lat-long-in-kepler-gl

[2019-11-21 17:06] ana-md commented on #805
@heshan0131 you can find the latest prototype here, modified including your feedback: https://projects.invisionapp.com/share/TPTSVDX2KF5#/screens/384524982_Sharing_-_Home

Additional comments and screenshots about the changes:
1. > My thoughts are in the current design Save and Share are 2 different actions. But for a user, the 2 are essentially the same. If one wants to save a map to Carto, it sh

[2019-11-21 19:16] dchauhan7 opened #842 "Could we enable 2 different time-series plug-in filters on the map at the same time?"
**Is your feature request related to a problem? Please describe.**
I need to work on multiple filters together from different data sets. So, I was looking to add 2 filters on the map view so that i can adjust the filter bar on both the histograms together at the same time. Could we enable 2 different time-series plug-in filters on the map at the same time?

**Describe the solution you'd like**
I w

[2019-11-22 01:16] isaacbrodsky commented on #820
I think @nrabinowitz may have already answered that part in his Stack Overflow answer. The H3 core library uses `latitude, longitude` ordering internally, but a "GeoJSON mode" is added to some of the APIs (usually `polyfill`) for applications that expect that. Any H3 API that has not had `longitude, latitude` requested will have `latitude, longitude` ordering.

[2019-11-23 15:36] geoHeil commented on #820
@isaacbrodsky thanks. Is there a possibility to get x_long, y_lat as the output of any of the h3 methods by changing a parameter? Or would this require custom code?

[2019-11-24 18:57] geoHeil commented on #820
Thanks. This makes it clear.
Could you explain why I see distortion https://gis.stackexchange.com/questions/342845/distorted-h3-hexagons-even-though-projection-is-matching @isaacbrodsky when looking at the WKT linestrings but not, when the H3 hexagon ID is rendered in Kepler.

[2019-11-25 04:02] nataliateruel opened #843 "[Bug] Point count for clusters are wrong"
The point count for the input data is wrong. The sizes of the clusters are right, but when I tooltip them the numbers of points are wrong. Sometimes a small cluster has more points them a big one, and sometimes the number in only one cluster is bigger than the total number of rows of the file.

To reproduce it you can use data on CSV or geoJSON (I have tried both), with points that are not that di

[2019-11-25 15:30] GregBreak commented on #557
I followed all the steps suggested but every time I try to import keplergl, DLL failed appear as @bosges.
I manually install from wheel, update all packages but never changes. I also tried to install keplergl==0.1.0a6 as @heshan0131 heshan0131 suggested

`---------------------------------------------------------------------------
ImportError                               Traceback (most recent cal

[2019-11-25 18:33] AlessiaZarzani opened #844 "fixed radius to meter bug[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-26 06:42] yesuanzao opened #845 "How to add a marker in kepler.gl"
I know it is easy in react-map-gl but how should i do it in kepler.gl?

[2019-11-26 20:09] MakoSDV opened #846 "[Bug] Interactions: Coordinate setting is not saved to the Map Config"
**Describe the bug**
The state of the Coordinate setting under Interactions is not saved in the Map Config.  The Tooltip and Brush settings are saved, but the Coordinate is not.

**To Reproduce**
1. Enable Coordinate under the Interactions settings
2. Select Share and Export Map
3. Select the JSON format
4. Look at the Map Config
5. Under "interactionConfig" the only saved settings are for "toolti

[2019-11-26 21:36] daaain opened #847 "[Bug] Auto styling properties in GeoJSON get parsed as data fields creating ghost layers"
**Describe the bug**

When adding "auto styling" properties into GeoJSON `Feature`s – ie one or more of `"lineColor"`, `"lineWidth"`, `"fillColor"`, `"radius"` – as per the [documentation](https://github.com/keplergl/kepler.gl/blob/ba656d14209f4320818baf06b4240d2ec39486fa/docs/user-guides/b-kepler-gl-workflow/a-add-data-to-the-map.md#2-auto-styling), these also get picked up as data columns. While

[2019-11-27 09:21] littlebirdalice opened #848 "[Bug] not table to render and export map as image using ClusterLayer"
When click on export image, it either shows blank preview or basic map preview without plotted points - I've tried both on safari and chrome and retried many times after restarting browser.
The data I used is very small - 9.5 MB.

<img width="1354" alt="Screen Shot 2019-11-27 at 1 01 21 AM" src="https://user-images.githubusercontent.com/16776117/69710447-479f4780-10b4-11ea-9d05-d3b6944dc482.png">

[2019-11-27 14:30] x670 commented on #414
Joining two datasets in one layer would be a great feature. Now I have tens and hundred of thousands of points, but not able to join with geojson layer. Only can add geojson field to every point, but since of big amount of points, that is not the way

[2019-11-28 08:24] macrigiuseppe commented on #848
@littlebirdalice would you be able to share your dataset?
I tested using our examples and it works.

[2019-11-28 08:26] macrigiuseppe commented on #843
@nataliateruel you are using a time filter in your map, have you tried removing the time filter and validate your map?

[2019-11-28 12:59] RinaB opened #849 "ReceiveMapConfig multiple times"
Hi,
In order to pass my config I use receiveMapConfig (with configuraton A )and then call addDataToMap without configuration. It works fine.
I want to get configuration from a file (configuration B) so I call again to receiveMapConfig  and I expect the configuration to be B in the new calls of addDataToMap .
But I didn't succeed.
I saw your note: receiveMapConfig needs to be called before data is

[2019-11-28 14:16] nataliateruel commented on #843
@macrigiuseppe without the time filter the map is right. I have searched the data file for days to see if it was a mistake on the dates there, but it is not

[2019-11-29 17:08] daaain commented on #847
Until the fix is in place this workaround seems to do the trick if placed right after the `addDataToMap` call:

[code]

[2019-11-30 10:58] macrigiuseppe commented on #844
@AlessiaZarzani update the description with all the necessary information to reproduce and troubleshoot the issue.
Include steps and pricing along with data if necessary

[2019-11-30 11:00] macrigiuseppe commented on #836
@LeslieXong please provide clear details and steps to reproduce your issue

[2019-11-30 11:11] macrigiuseppe commented on #789
@abhijeet119  Kepler doesn’t require any particular installation.
As long as you have the required node.js you can generate HTML and Js files

[2019-12-02 12:25] daaain commented on #849
Have you tried calling [resetmapconfig](https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/actions/actions.md#resetmapconfig)?

[2019-12-02 12:51] daaain commented on #121
The issue is that the Light theme is referencing fonts from the Uber style, but if you use your own token (and not the Uber one from the example) these fonts won't load due to permission error (hence the 403s) which then breaks the map style.

The solution to this would be forcing Uber map styles to always use the Uber Mapbox token, even if a custom token is set. Otherwise it's not possible to hav

[2019-12-02 14:40] quentindurpoix opened #851 "[Bug] Visualizing different H3 size at the same time"
**Describe the bug**
Hi,
I'm working on kepler.gl and H3 and I have to visualize different sizes of H3 hexagones at the same time (same CSV). Unfortunately  There is a problem when I'm trying to do it, the hexagones are taking the same 'tilt' as the first size but don't differ in function of their actual size.

Thank you in advance !

Quentin

**Screenshots**
Here is an example of my problem.

![i

[2019-12-03 14:06] jakubmlacki commented on #226
This is an old topic but I have a similar question. My ID colum sometimes contains strings and not integer. The column is detected as String. Then `processCsvData` puts NaN into the resulting object. Is there a way to force the type before calling `processCsvData`?

[2019-12-03 14:12] palamago commented on #226
@jakubmlacki you should do a transformation in the dataset before call processCsvData or edit the object -field type- after processCsvData. Try it and let me know.

[2019-12-03 15:39] macrigiuseppe opened #852 "Decouple exporthtmlmap and exportjsonmap components from exportmap component"
Decouple export HTML and JSON components from exportmap. Users will be able to re-use and/or replace them using dependency injection

[2019-12-03 19:56] daaain commented on #847
Since this issue is so popular 🙄 let me also add that it seems if a `LineString` layer has coordinates with timestamps to make it a `Trip` layer, it will not apply these styling features any more. Can open another issue for this if you want, but thought I'll mention here first.

[2019-12-04 06:52] RinaB commented on #849
Yes
But it didn't help

[2019-12-04 14:28] YayinC commented on #686
Hi does it mean that the scale bar is not on the product roadmap? And the only way to add it is to do as described above...

[2019-12-05 05:02] HugoBarreto commented on #583
I have similar issue with Google Colab on Pyhton3 kernel

[2019-12-06 23:39] macrigiuseppe commented on #851
h3 layer in kepler supports only one resolution per layer, if you have multiple resolution you need to create multiple layers.
This was a design decision made for performance

[2019-12-06 23:43] macrigiuseppe commented on #849
there is an option keepExistingConfig for addDataToMap and by default its value is false.

https://github.com/keplergl/kepler.gl/blob/1d503f3c5a832223ea32bf8b26e31f322b124676/src/actions/actions.js#L51

[2019-12-06 23:46] macrigiuseppe commented on #848
There is an issue with the cluster layer. We are going to fix it.

[2019-12-06 23:47] macrigiuseppe commented on #847
@daaain can you provide a sample of your dataset?

[2019-12-06 23:48] macrigiuseppe commented on #847
@daaain we need in particular those columns containing: "stations https://......"

[2019-12-06 23:50] macrigiuseppe commented on #846
We are going to look into this one

[2019-12-06 23:51] macrigiuseppe commented on #845
@yesuanzao you should be able to achieve the same result using Icon layer: https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/c-types-of-layers/g-icon.md

[2019-12-06 23:53] macrigiuseppe commented on #843
@nataliateruel we are gonna work on this issue

[2019-12-06 23:54] macrigiuseppe commented on #842
@dchauhan7 you are gonna be able to filter across multiple timestamps when this (https://github.com/keplergl/kepler.gl/issues/768) is ready

[2019-12-06 23:56] #838 closed

[2019-12-06 23:57] #837 closed

[2019-12-06 23:57] macrigiuseppe commented on #836
@heshan0131 duplicated of #843

[2019-12-06 23:57] #836 closed

[2019-12-06 23:59] macrigiuseppe commented on #833
@sundas01 does your dataset contain datetime values or just date?

[2019-12-07 02:20] jlabarbera11 commented on #839
I created https://github.com/uber-web/type-analyzer/pull/8 to treat large ints as numbers. If the change is acceptable, a change can be made to kepler to treat number types as strings

[2019-12-09 10:25] bartekmaciejewski commented on #399
Hi,
I've found this `value customization` feature important for me. Are you still working on it? Maybe I could help?

Cheers
Bartek

[2019-12-09 11:35] pietrosolaro opened #857 "Export map as image"
**Is your feature request related to a problem? Please describe.**
Visualising data at scale may need the creation of videos / pdfs with several visualisations.

**Describe the solution you'd like**
A function .export_to_image that would return / save an image screenshot of the map. Later these images could be used to create reports at scale (e.g. 10-100+ visualisations with different data and/or

[2019-12-09 14:08] #851 closed

[2019-12-09 14:59] daaain commented on #847
It's a big one, so put it in a gist: https://gist.github.com/daaain/3cce6e820a4ece2e24ce8c74680ad2be

What you can see there is the result of loading GBFS datasets and parsing them using `processGeojson`, see: https://github.com/team-blaze/custom_visualizations_v2/blob/kepler/src/examples/kepler/utils.js#L84

If you want to run that function yourself, here are the GBFS urls: https://github.com/tea

[2019-12-09 17:48] cdolan92 commented on #700
Did you ever get a resolution on this @djouallah ? Im having the same issue. Anytime the data updates (for me this is monthly) I have to go manually reconfigure my maps.

[2019-12-09 19:33] heshan0131 commented on #700
@cdolan92  did you try pass `options.keepExistingConfig` to `addDataToMap`?

there is an option keepExistingConfig for addDataToMap and by default its value is false.
https://github.com/keplergl/kepler.gl/blob/1d503f3c5a832223ea32bf8b26e31f322b124676/src/actions/actions.js#L51

[2019-12-09 19:38] heshan0131 commented on #849
@RinaB Just to clarify here is the sequence of calls you made and your expected behavior:
1. `receiveMapConfig(configA)`
2. `addDataToMap(config: null, data)` -> load data with configA
3. `receiveMapConfig(configB)`
4. `addDataToMap(config: null, data)` -> load data with configB

[2019-12-10 06:42] djouallah commented on #700
@heshan0131 sorry, I am not a developer, how to do that in kepler.gl

[2019-12-10 08:28] shishirmehto commented on #700
@djouallah
We are building a visualization tool on top of Kepler that provides the functionality of connecting your database and scheduling queries to save and automatically refresh dashboards. You can try it out [here](https://platform.geoiq.io)
If you need any additional info feel free to reach out to shishir@geoiq.io.

[2019-12-11 06:40] wlfei0502 opened #859 "About layers order"
How can I put deck.gl layers before mapbox.gl layers

[2019-12-11 09:27] MosheMalin commented on #672
Hi,
The requirement came back..
We are using kepler.gl in our own app. what would be the way to provide the capability to add new icons?

[2019-12-11 14:53] bitnu opened #860 "Plot the direction or bearing from sensors"
**Is your feature request related to a problem? Please describe.**
When I load my dataset, it has one lat and one long for each data point along with the bearing which the sensor detected a signal.

**Describe the solution you'd like**
I would like a way to view the bearing of each item plotted.  So after loading my points, I would like to have the ability to choose bearing along with lat and long

[2019-12-13 22:07] #484 closed

[2019-12-13 22:08] #852 closed

[2019-12-13 22:09] macrigiuseppe commented on #843
Implemented

[2019-12-13 22:09] #843 closed

[2019-12-13 22:09] macrigiuseppe commented on #848
fixed

[2019-12-13 22:09] #848 closed

[2019-12-13 22:12] macrigiuseppe commented on #723
implemented

[2019-12-13 22:14] #664 closed

[2019-12-13 22:17] macrigiuseppe commented on #746
#830

[2019-12-13 22:23] macrigiuseppe opened #862 "Create new website section where we display new features"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-14 01:34] deleonsn commented on #643
Hi, can we get another updated link to join Slack. Thank you.

[2019-12-16 11:07] tVienonen opened #865 "[Bug] Component factory function with rest arguments"
**Describe the bug**

If Im creating a factory function and I specify the arguments as a rest argument. Kepler's injector will raise an error saying that my function is expecting 0 dependencies even if I have declared the deps in the deps property.

For example if I want to modify the deckGlProps for the MapContainer:
[code]

This will cause an error because length of MyMapContainerFactory is 0.
*

[2019-12-17 16:24] josiekre opened #867 "Support geojsonl (new line delimited geojson data)"
It would be nice to have Kepler.gl support newline delimited geojson (geojsonl, https://www.interline.io/blog/geojsonl-extracts/) directly.

Mapbox's Tippecanone does, along with some others.

[2019-12-18 02:08] ibgreen commented on #867
@josiekre Hi, that looks like a useful format.

By coincidence, I just got the initial version of the general streaming [`JSONLoader`](https://github.com/uber-web/loaders.gl/pull/383/files) in loaders.gl working today - it supports streaming parsing from standard GeoJSON (i.e. removes the need to reformat existing geojson files to geojsonl to support large files).

The goal is to integrate the loa

[2019-12-19 09:59] brago-s commented on #151
Hi there,
Here's another Stefan echoing what the original Stefan wrote: awesome tool! Like it a lot and have many ways I like to use it. Today I found the playback feature only to realize it did not work with dates. Is there an idea of when it will be implemented?

[2019-12-19 21:06] jonsadka commented on #802
@heshan0131 when using the `Export Map` tool to generate a JSON blob, I was not getting a `colorField` set on `config.visState.layers[0].config`.

I needed `colorField` so that I could use the `ordinal` color scale set in line 431 of `validateSavedVisualChannels` https://github.com/keplergl/kepler.gl/blob/master/src/reducers/vis-state-merger.js#L431

[2019-12-20 11:17] macrigiuseppe commented on #802
Hey @jonsadka, when you export the map, you won't see the colorField property in the layer.config object, but you will find it as part of layer.visualChannel.

In fact, if you try to export the map for https://kepler.gl/demo/sfcontour, you will see
[code]

notive
[code]

[2019-12-20 19:44] jonsadka commented on #802
@macrigiuseppe yeah I saw that but the issue I ran into is that the JSON file exported from Kepler's `Export Map` does not appear to be backwards compatible when calling `addDataToMap`.

For example when I set a quantize color scale on a layer, export the JSON config, and try to reimport that layer using `addDataToMap`, the color scale does not apply because `colorField` is being set on `config.vi

[2019-12-21 07:57] bhargav489 opened #873 "[Bug][Jupyter Widget]"
Encountering below error while PIP install through Anaconda prompt.
![Error](https://user-images.githubusercontent.com/59110164/71305158-74026700-23c7-11ea-8b6b-87971cbfff12.JPG)

[2019-12-22 10:56] macrigiuseppe commented on #802
@jonsadka some of the properties in the configuration are transient. At rest, visualChannels property is used to store all field settings/customization.

In order to pass the right configuration to addDataToMap, you need to use __KeplerGlSchema.load__

The basic flow is the following:

- Create map
- Export map to JSON
- Import Map
- Load the map using __KeplerGlSchema.load__
- Call addDataToMap w

[2019-12-23 08:08] blinters opened #874 "Where to insert mapbox token?"
<img width="457" alt="Screenshot 2019-12-23 at 4 06 36 PM" src="https://user-images.githubusercontent.com/15936817/71344741-5804ee00-259e-11ea-8dfa-156b27a3f275.png">
Hi there, can someone direct me to where is the exact file to insert the mapbox token key?

[2019-12-24 02:27] blinters commented on #874
sorry, i got it already. pls ignore

[2019-12-24 02:27] #874 closed

[2019-12-24 04:55] FMSAN opened #875 "Question Related to UMD"
Is there a way to apply the processor feature in app.js inside the UMD client?
Since i noticed the data that is being called inside (function customize(keplerGL, Store){  } is what i am assuming Geojson/CSV data that has been already processed and then added to const dataset.

[2019-12-24 15:57] macrigiuseppe opened #877 "Upgrade react-map-gl-draw"
Upgrade to the latest version of react-map-gl-draw

[2019-12-25 09:06] RinaB commented on #849
Yes, that's I tried to do. The data is same.
I found workaround without use the recieveMapConfig twice.
Thank you

[2019-12-25 09:06] #849 closed

[2019-12-25 09:12] RinaB opened #879 "Pass cookies (credentials) to private TileServer"
Hi,

I have a private TileServer that requires cookies for credentials.
The user did the login and has the cookie in the browser.
I use the TileServer url as custom mapStyles value.
How can it pass also the cookie to my private TileServer?

[2019-12-26 09:36] yesuanzao commented on #859
I think you can not do it because deck.gl layer is rendered in another canvas instead of mapbox canvas and the former covers the latter, so you cannot sort across them unless your layers belong to the one of them

[2019-12-26 09:44] yesuanzao commented on #845
@macrigiuseppe  I think they are different, otherwise mapbox doesn't need to provide two ways. I think it should be allowed to pass in children to MapComponent. This is the best place to put markers

[2019-12-27 18:41] jlabarbera11 commented on #643
+1 on an updated link

[2019-12-29 02:22] hkt999 opened #880 "[Bug] An exported HTML map cannot be rendered correctly."
**Describe the bug**
An exported HTML map cannot be rendered correctly. But the exported mapState structure is correct.

**To Reproduce**
1. Go to https://kepler.gl/demo
2. Add one data source (for example, a csv file as the attachment)
[csvall.csv.txt](https://github.com/keplergl/kepler.gl/files/4007673/csvall.csv.txt)
3. Do some operation on the data set
4. Export the HTML map
5. Open the map wi

[2019-12-29 04:46] hkt999 opened #881 "[Bug] Data overlay is shifted while using Safari in iPhoneX (portrait mode)"
**Describe the bug**
Data overlay is shifted while using Safari in iPhoneX (portrait mode), but it is correct in landscape mode.
[hexbin.html.txt](https://github.com/keplergl/kepler.gl/files/4007757/hexbin.html.txt)

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an HTML server (or file server) , output the HTML file as the attachment.
2. Use Safari on iPhoneX to connect to the web to

[2019-12-29 05:58] hkt999 commented on #819
For this issue, maybe you can try https://lass.mgmeet.io/datasets/all.csv
Browser: Chrome

<img width="915" alt="截圖 2019-12-29 下午1 57 15" src="https://user-images.githubusercontent.com/1061756/71553051-3050d280-2a43-11ea-9f61-bc3c0f9374c5.png">
 as a dataset and I have the same issue, here.

[2019-12-31 10:48] itamar-otonomo opened #882 "[Bug][Jupyter Widget] "Error displaying widget" on new installations regardless of version"
**Describe the bug**
When installing a fresh jupyterlab and following the installation instructions the widget fails with  "Error displaying widget".

**To Reproduce**
Steps to reproduce the behavior:
1. install a fresh jupyter lab setup (I tried both mac and Linux with node 8.17 to 12.x)
2. follow the installation instructions in the kepler.gl-jupyter dir
3. try viewing a map in a lab session.

*

[2020-01-02 03:38] CNFeffery commented on #583
You can read the offical tutorial https://github.com/keplergl/kepler.gl/tree/master/bindings/kepler.gl-jupyter

[2020-01-02 15:12] #873 closed

[2020-01-02 22:14] RandomFractals commented on #867
ouch! there is geojsnl too? you guys should talk to ... https://github.com/json5/json5/issues/190#issuecomment-557482212

[2020-01-02 22:18] RandomFractals commented on #867
btw, I think we should use .map.json for your configs :) ... anyone know other alternatives?

.config.json is too generic

[2020-01-03 15:04] RandomFractals opened #885 "Provide map config json schema"
kepler.gl allows to save map config in json format.

however, there is no https://json-schema.org/ to help devs understand that map config.

for example: https://github.com/uber-web/kepler.gl-data/blob/master/earthquakes/config.json

looks like all custom config in json.

With proper json schema defined and linked in that map config json file via `$schema` top level property dev tools like vscode

[2020-01-03 16:32] RandomFractals opened #886 "Proposal: Standardize map config files naming"
Currently, your kepler.gl examples have data and config files in folders in this repo: https://github.com/uber-web/kepler.gl-data

I propose you standardize map config files naming by using <datafilename>.map.json convension if your map configs are kepler.gl specific.

Then both data and map configs can be stored alongside for quick raw data and map config views in dev tools and other tools can pr

[2020-01-04 21:51] bkowshik-rapido opened #887 "[Bug] Gaps & overlaps while rendering dataset with hex"
### Describe the bug
I see empty gaps and rendering issues while working with datasets with `hex`. Ex: Below is a sample dataset I have having issues with.

- https://gist.github.com/bkowshik-rapido/0f5a5006326d501c1b5a477005bb6254

### To Reproduce
Upload the above dataset onto Kepler.

### Expected behavior
The hex's should be laid out without the missing gaps or the overlaps with neighboring ce

[2020-01-05 01:28] annmorris opened #888 "3D/Height option not working with polygon maps"
When I click on the 3D map option, the height drop down does not open up to allow me to select a field to base height on.

1. I uploaded a file from my computer: pluto_bk.csv
2. This produced a 2D polygon map. I changed the fill colors based on the "NumFloors" field.
3. I then clicked on the 3D Map option in the upper right hand corner.
4. I clicked on the height option (triple dots at right), but

[2020-01-05 01:34] annmorris commented on #888
Recreating input file as .xlsx since Github wouldn't allow me to attach a .csv.
pluto_bk.xlsx

[2020-01-05 01:34] annmorris commented on #888
[pluto_bk.xlsx](https://github.com/keplergl/kepler.gl/files/4022803/pluto_bk.xlsx)

[2020-01-05 11:57] RinaB commented on #879
In sample react app that uses fetch to do the http calls I use:
[code]

[2020-01-07 12:51] Rendiere commented on #882
+1 - experiencing exactly the same behaviour. I have KeplerGL working on a separate virtual env on the same machine, but the latest install prints out "Error displaying widget" where it should show a map.

[2020-01-08 17:50] jasonleehodges commented on #802
@heshan0131 I've been able to get the colorfield to save but now using that same methodology the zoom level and center point are no longer loading. Any thoughts there?

[2020-01-08 19:41] cdolan92 commented on #560
Any updates been made here ? Challenging to use this regularly in the kepler.gl/demo site without replace.

It looks like this functionality was added in a demo under vis.academy? http://vis.academy/#/kepler.gl/3-load-config

[2020-01-08 20:28] RandomFractals commented on #643
I'd like to get an invite to that slack too since I started working on this Geo Data Viewer ext. for code devs this year & would like to get some feedback on it from devs using keplergl ... https://github.com/RandomFractals/geo-data-viewer

[2020-01-08 21:02] heshan0131 commented on #643
@RandomFractals the link has been updated

[2020-01-08 21:08] RandomFractals commented on #643
@heshan0131 thanks! I am in. Not many devs on that slack, but I'll bite :)

[2020-01-09 18:08] qxlsz commented on #384
any update on this ?

[2020-01-09 18:43] MosheMalin commented on #879
Hi @heshan0131 - we also need something like this.
We have a dynmic TS of our own, which we need to add authentication to.
Once we do that, the tiles requests should go out with credentials cookies.
How can me "ask" Kepler to pass the cookies we already obtained when it communicates with a TS that is on the same domain as the Kepler's hosting page?

(And sorry for tagging you. It's a big issue her

[2020-01-09 18:48] MosheMalin opened #892 "How to put new custom icons in Kepler?"
Hi,

We see that there is an icon layer.
Unfortunately we need to use icons which do not come with Kepler set of icons.
Is there a way to use our own icons? maybe to provide a factory or something?

And a second level question - can we manipulate the angle of the icon?
Say we want to put an beacon icon, and want to have it point to a certain direction (say it can be any angle); can we also do such

[2020-01-10 19:20] macrigiuseppe opened #894 "Convert demo app to gastby architecture"

[2020-01-10 19:25] heshan0131 opened #895 "[Feat] Upgrade kepler.lg to deck.gl@8"

[2020-01-10 21:53] ricardoekm commented on #406
Hi everyone,
What's the current status of this?

Thanks.

[2020-01-11 04:43] heshan0131 commented on #888
To show the height option, the `fill color` toggle has to be turned on. Because height can only be applied to solid polygons (not path).

<img width="274" alt="Screen Shot 2020-01-10 at 8 08 06 PM" src="https://user-images.githubusercontent.com/3605556/72198616-01444480-33e5-11ea-9622-f1a6fb6b92f9.png">

However, ui side, it's confusing to completely hide an option behind another option. I am goin

[2020-01-11 04:51] heshan0131 opened #898 "[Feat] Add API to allow user pass in custom icons in icon layer"

[2020-01-11 04:51] heshan0131 commented on #892
https://github.com/keplergl/kepler.gl/issues/898

[2020-01-11 07:48] heshan0131 commented on #865
1.1.12 added a check to whether argument passed to factory has the same length with factory.deps

unfortunately when argument is passed as `MyMapContainerFactory(...keplerDeps)`. MyMapContainerFactory.length will be 1.

Looks ilke there is no easy way to check customize factory argument length...will disable the check for now.

https://github.com/keplergl/kepler.gl/pull/899

[2020-01-11 07:50] heshan0131 commented on #847
https://github.com/keplergl/kepler.gl/pull/872
This should fixed it. please check demo app

[2020-01-11 07:50] #844 closed

[2020-01-11 07:52] heshan0131 commented on #802
@jasonleehodges you need to pass `options: {centerMap: false}` when calling `addDataToMap

[2020-01-11 23:28] isaque2017 opened #900 "[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-11 23:28] #900 closed

[2020-01-13 03:46] digvijaypatil17 commented on #435
Even i need to know how to make cumulative time series...

[2020-01-13 17:03] jasonleehodges commented on #802
@heshan0131 yeah, I already had that property set to false. I also tried 'keepExistingConfig' set to both true and false and it is still not loading with the correct center point or zoom level.

[2020-01-13 20:58] yanisIk opened #902 "[Bug] Exported HTML map doesn't render on mobile"
**Describe the bug**
Any exported map using Kepler.gl website doesn't render on mobile. It shows a blank screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to kepler.gl website
2. Add any valid data
3. Use 1 layer
4. Export map to HTML (with no edit permission) with your own public Mapbox Token.
5. Open the HTML file on your mobile device using any browser.

**Expected behavior**
The

[2020-01-14 13:42] nlyubchich opened #904 "Add event callbacks from Kepler widget back to Jupyter"
**Is your feature request related to a problem? Please describe.**
I'm investigating approaches to prototype maps with Kepler.gl with Jupyter Notebook.
It's possible to pass data and config from Jupyter to Kepler widget, yet there's no possible way to interact backwards, from Kepler widget to Jupyter.

Is it actually a good idea to extend Kepler widget with any kind of callbacks (e.g. pass `onMapC

[2020-01-14 19:37] heshan0131 commented on #888
The fix is landed in demo, please check

[2020-01-14 19:37] #888 closed

[2020-01-14 19:42] heshan0131 opened #905 "[Feat] Provide save map UI components in kepler.gl"
To provide UI components for save map to Backend storage. kepler.gl will add UI component needed to render:

1. Additional action item and dropdown in side panel header
2. A save map dialog to input map title, description and thumbnail

Backend storage feature tracking here:
https://github.com/keplergl/kepler.gl/issues/804

![Screen Shot 2020-01-14 at 11 35 34 AM](https://user-images.githubusercon

[2020-01-14 19:49] heshan0131 commented on #804
FYI. We are going to provide [saving UI from kepler.gl core](https://github.com/keplergl/kepler.gl/issues/905). started a PR on it. Aim to land it be EOW

[2020-01-14 22:34] ricardoekm commented on #200
Hi @heshan0131,
What do you think is the best way to define the data to be lazy-loaded?  I've noticed UPDATE_MAP event sends:
[code]
Somehow it's necessary to translate width, height, lat, long and zoom to a lat-long range that defines the points to be loaded and rendered. Is there a method in Kepler that would help to solve this equation? Or any other better way to know the lat-long range current

[2020-01-15 00:19] Pessimistress commented on #887
@heshan0131 I don't see this issue in deck.gl 7.3 or 8.0. Is it possible to upgrade the dependency in kepler?

[2020-01-15 12:49] grial opened #907 "Kepler identify numbers as string"
Recently, kepler does not identify some of my data as numbers, but as "string".
![FireShot Capture 007 - kepler gl - kepler gl](https://user-images.githubusercontent.com/3502100/72435126-a7a19880-379d-11ea-908b-9b4532d64f31.png)
![FireShot Capture 008 - kepler gl - kepler gl](https://user-images.githubusercontent.com/3502100/72435140-b12b0080-379d-11ea-9ad0-1e2ac44cc33c.png)

They are numbers with

[2020-01-16 00:54] heshan0131 commented on #895
#889

[2020-01-16 01:46] heshan0131 commented on #887
I think the issue is related to using `h3Distance` and how kepler.gl updates viewport across the globe.

Here are things happening in kepler:

- Initial map, viewport set to San Francisco:  `latitude: 37.7749295,  longitude: -122.4194155`
- Upload csv. kepler.gl create a h3 layer and pass along the deck.gl. viewport is still in SF
- deck create h3 layer, set centerHex to be in sf
- kepler.gl deter

[2020-01-16 20:57] heshan0131 commented on #907
@grial to clarify were you using demo app?
Could you send us a sample of your csv?

[2020-01-16 21:34] heshan0131 commented on #907
@jlabarbera11 This is related to the latest change in your PR
https://github.com/keplergl/kepler.gl/pull/891

[2020-01-16 21:43] heshan0131 commented on #907
I did some investigation. when I used my test data with long decimals. kepler.gl recognized it as float.
@grial could it be your data contain some random characters like `n/a` `/N` that spoiled the pot?

zipcode | large_int | zero_pad | long_decimal
-- | -- | -- | --
94107 | 28376251627 | 1 | 68.9768976898
94103 | 21876216 | 2 | 70.938215103
94102-1193 | 2376483 | 12 | 75.294117671
94107 | 2910218

[2020-01-16 21:50] jlabarbera11 commented on #907
I did notice that https://github.com/uber-web/type-analyzer will mark a column mixed with floats and ints as a number. @heshan0131 the commit you linked to changes kepler behavior to characterize type-analyzer numbers as strings.

[2020-01-17 07:25] heshan0131 commented on #907
I see. When it encounter a mix of int and float, type-analyzer should return float. Because float is a super set of int. Also  int and float are treated the same in kepler

[2020-01-17 07:26] heshan0131 commented on #880
https://github.com/keplergl/kepler.gl/pull/913

[2020-01-17 09:59] grial commented on #907
Yes, I am using the demo app in a Google Chrome browser, but I tried it with several browsers and two different PCs.
This is my file.
[mapa_galegas_2016_geojson.zip](https://github.com/keplergl/kepler.gl/files/4076141/mapa_galegas_2016_geojson.zip)

I already saw that this could be a problem and I cleaned the data with N / A or without data

I just did it with very few and it works. I think the pr

[2020-01-17 12:48] grial commented on #907
I did a test. I added the decimal zeros to the "int" numbers, and kepler.gl removes them if they are 0, so re-interpret the column as "string".

[2020-01-17 19:05] macrigiuseppe commented on #907
type-analizer

[2020-01-17 19:10] heshan0131 commented on #904
@nlyubchich
Can you define 1 or 2 callbacks that would be useful.?So we can start to investigate the possibility of it. The jupyter widget architecture actually allows 2-way data binding. kepler.gl widget state is saved in jupyter session.  We just need to know what to expose to the python interface

[2020-01-17 19:11] macrigiuseppe commented on #880
this is fixed and merged into master. Please confirm

[2020-01-17 19:11] #880 closed

[2020-01-17 19:12] #847 closed

[2020-01-17 19:13] macrigiuseppe commented on #840
this is fixed

[2020-01-17 19:13] #840 closed

[2020-01-17 19:17] macrigiuseppe commented on #802
@jasonleehodges since you are describing a new problem, can you please create a new issue?
Please make sure you provide the following info:
- are you using Kepler.gl/demo or embedding kepler.gl in your own app?
- describe your use case, step by step. It is important to know the full sequence

[2020-01-17 19:17] #802 closed

[2020-01-17 19:17] #839 closed

[2020-01-17 19:20] macrigiuseppe commented on #819
@hkt999 the url provided has a 502 gateway error

[2020-01-17 19:20] #815 closed

[2020-01-17 19:21] #796 closed

[2020-01-17 19:22] #785 closed

[2020-01-17 19:23] #765 closed

[2020-01-17 19:27] heshan0131 commented on #820
@geoHeil Mercator projection is highly distorted close to north / sorth pole.

For me to further debug kepler issue, could you provide a sample csv with the hex_id in question?

[2020-01-17 19:33] macrigiuseppe commented on #702
@macrigiuseppe  keplerGl: keplerGl.keplerGlReducer.initialState({
                uiState: {
                  readOnly: false,
     currentModal: null
                }
              })

[2020-01-17 19:35] #701 closed

[2020-01-17 19:37] macrigiuseppe commented on #694
@deeplook given several differences in feature between jupyter widget and npm library we are not planning on keeping them in sync

[2020-01-17 19:37] #694 closed

[2020-01-17 19:38] macrigiuseppe commented on #693
this should be fixed

[2020-01-17 19:38] #693 closed

[2020-01-17 19:39] macrigiuseppe commented on #690
it should be fixed

[2020-01-17 19:39] #690 closed

[2020-01-17 21:29] jlabarbera11 commented on #907
The reason this broke was mixed int/float columns were always treated as numbers, but my pr in kepler.gl made numbers be treated as strings.

I can change type-analyzer to treat mixed int/float columns as floats, or keep the current behavior and treat columns with large numbers as strings. Which is preferred @heshan0131 ?

[2020-01-17 21:32] macrigiuseppe commented on #907
@jlabarbera11 it would be great to update type-analizer to handle mix int/flow columns as float otherwise kepler.gl will recognize mixed content (int/float) as string columns

[2020-01-17 22:18] #846 closed

[2020-01-18 05:03] geoHeil commented on #820
I just tried it again, and the issie seems to have been resolved by now. This time the HEX_ID and WKT geometry render in the same way.

[2020-01-18 05:03] #820 closed

[2020-01-18 20:43] heshan0131 commented on #754
Merged fixes, please confirm, closing it now

[2020-01-18 20:43] #754 closed

[2020-01-18 20:50] heshan0131 commented on #865
1.1.13 is published. this should be fixed. closing it for now

[2020-01-18 20:50] #865 closed

[2020-01-18 20:50] heshan0131 commented on #438
Fixed by https://github.com/keplergl/kepler.gl/pull/781

[2020-01-18 20:50] #438 closed

[2020-01-18 20:52] #466 closed

[2020-01-18 20:52] #524 closed

[2020-01-18 20:53] #535 closed

[2020-01-18 20:53] #588 closed

[2020-01-18 20:54] #654 closed

[2020-01-18 20:54] #675 closed

[2020-01-18 20:54] #689 closed

[2020-01-20 10:22] nlyubchich commented on #904
@heshan0131
Thanks for the answer!

The most necessary one is only MAP_CLICK event with coordinates in order to request new data for Kepler on-demand.

We may also consider new onConfigChange event, yet this one can be easily workarounded with checking `kepler_map.config` on repeatable basis (e.g. check config object every 30s).

[2020-01-20 11:14] b2kdaman opened #921 "[Bug] Adding single layer causes issues"
**Describe the bug**
I decided to stop harassing Shan He on twitter and make a ticket!
So I'm working on geocoder component addition to Kepler using react-mapbox-geocoder.
I was able to add additional data source each time I pick an item, which contains lon,lat,icon and address fields.
Kepler creates two(!) layers for this datasource. One is single Point and other is Icon. Point overlaps icon laye

[2020-01-20 11:14] b2kdaman commented on #921
@thunter

[2020-01-21 15:50] b2kdaman commented on #921
Also I tried to dispatch removeLayer call using index from config. And it's not the same. Passing "2" as an index to remove actually removes layer with config index 1 and vice versa in my case.

[2020-01-21 18:31] heshan0131 commented on #921
Hi @b2kdaman I remember your question. Yes, kepler.gl automatically creates 2 layers. This is something I can fix on our side. For now, you should try passing layer configurations to stop kepler.gl from creating ones for you. If you want to create an icon layer. you can pass in configs like this:

[code]

[2020-01-21 18:32] heshan0131 commented on #907
Let's go with `change type-analyzer to treat mixed int/float columns as floats`.

[2020-01-21 21:46] #702 closed

[2020-01-22 07:36] jlabarbera11 commented on #907
Added a pr here https://github.com/uber-web/type-analyzer/pull/14

[2020-01-22 10:12] b2kdaman commented on #921
@heshan0131  Oh okay, thanks! So I can delete layers from config in the same way, right?

[2020-01-23 15:04] rtaori commented on #672
+1 would like to add my own icons as well

[2020-01-23 16:40] nanodan commented on #570
Following the new installation instructions for JupyterLab still produces the same "not registered as a widget module" error for me. JupyterLab v1.0.6, node v11.15.0. If I look at the extensions manager settings, keplergl-jupyter has been installed successfully.

![Screenshot 2020-01-23 at 11 40 23 AM](https://user-images.githubusercontent.com/5264336/73004383-2ff2ef80-3dd5-11ea-9649-071dc596cb46.

[2020-01-23 19:42] macrigiuseppe opened #924 "Add netlify badge to website"
Netlify is changing their open-source project and plan and they now require the following:

In order to keep an Open Source team, we require a link to our service on your project's main web page for your website's visitors to see (so, not just in your repository documentation). You have two options - we have premade badges for your convenience (https://www.netlify.com/press/), or you may create yo

[2020-01-24 10:08] alechamizo opened #925 "Use DEM in kepler.gl"
I'm trying to represent GPS signals with altitude information relative to surface in kepler, and I'd like to use a DEM of the zone to show the values of GPS with respect to the surface.

Can I use a MDT raster to represent in 3D with Kepler?

Thanks

[2020-01-24 15:12] LtChae opened #926 "[Bug] Crash on loading GEOJSON file"
**Describe the bug**
When uploading certain GEOJSON files, kepler crashes abruptly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'add data'
2. Upload one of the attached files
3. UI will blank to a white screen
4. See error in console logs of the browser

**Expected behavior**
As far as I can tell, this is valid geojson. It should upload correctly and display in the interface.

**Sc

[2020-01-26 03:18] heshan0131 commented on #926
The coordinate is not using Web Mercator projection. To convert projection mode, you can use QGIS

[2020-01-28 00:28] aakarsh commented on #322
Is there any update for this ? Is streaming data support coming soon ?

[2020-01-28 04:16] #924 closed

[2020-01-28 20:55] #926 closed

[2020-01-28 20:57] heshan0131 commented on #921
Passing a config with 1 layer is to suppress kepler's auto layer detection. If you have existing layer on the map passing `options.keepExistingConfig: false` will delete those

[2020-01-29 00:40] kuanb opened #928 "[Bug] Hexbin crashes on demo site"
**Describe the bug**
Hexbin view causes application to error, go to white screen. Console logs the following:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://kepler.gl/demo`

2. Upload a CSV of points data - can be simple, for example: [points.txt](https://github.com/keplergl/kepler.gl/files/4125576/points.txt)

3. Select hexbin from style option:
![image](https://user-

[2020-01-29 08:45] aloncohen1 opened #929 "heat map feature not working"
Heat maps can't be generated at all. all other features seems to work. (for example points, grid, etc)
Attached is the data sample I tried to load for the heat map.

[data.csv.zip](https://github.com/keplergl/kepler.gl/files/4126950/data.csv.zip)

[2020-01-29 08:46] mikima commented on #928
Same problem here.
I have seen that it crashes depending on the grid size.
E.g. on my computer, if I keep hex radius less than 15, it doesn't crash

[2020-01-29 11:24] rickyshelton opened #930 "[Bug] Cannot build and display v1.1.3 demo app"
**Cannot build and run demo app for 1.1.3**
Can't build & launch demo application. Yarn seems to complete successfully, but browser displays empty blank window with error in console.

`Uncaught TypeError: _window.default.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__ is not a function
    at Object../src/store.js (bundle.js:345084)
    at __webpack_require__ (bundle.js:727)
    at fn (bundle.js:101)
    at

[2020-01-30 00:11] mcnuttandrew opened #931 "[Bug][Jupyter Widget] Is there a way to use kepler in colab?"
**Describe the bug**
I'd like to be able to use kepler in the context of google colab notebooks. It appears to be not currently possible. Following the steps in the user guide doesn't generate a map, instead only showing a link to the user guide.

<img width="940" alt="Screen Shot 2020-01-29 at 6 08 34 PM" src="https://user-images.githubusercontent.com/6854312/73408627-6f807680-42c2-11ea-99a5-9e60

[2020-01-30 17:51] AnthonyMockler commented on #928
Same for me too. Chrome 79, Macbook Pro 13 (Intel Iris Plus 640 GPU)

[2020-01-30 19:05] heshan0131 commented on #931
Hi Andrew, long time no see. Can you take a screenshot of any issue message you have in the console?

[2020-01-30 19:18] heshan0131 commented on #930
https://github.com/keplergl/kepler.gl/pull/932

[2020-01-30 19:35] heshan0131 commented on #930
fixed. please check again

[2020-01-30 19:42] heshan0131 commented on #928
The crash is caused by hover over the hexagon. Fix will come today

[2020-01-30 20:04] heshan0131 commented on #928
https://github.com/keplergl/kepler.gl/pull/933

[2020-01-30 21:06] mcnuttandrew commented on #931
Hey Shan! Nice to hear from you.
Unfortunately there aren't any errors, it just points to the user guide and doesn't show the map (see above screenshot)

[2020-01-30 21:24] #930 closed

[2020-01-30 21:25] heshan0131 commented on #931
what about js console

[2020-01-30 21:25] heshan0131 commented on #328
landed in master

[2020-01-30 21:25] #328 closed

[2020-01-30 21:25] heshan0131 commented on #907
merged in master and deployed. Please check again

[2020-01-30 21:25] #907 closed

[2020-01-30 21:27] mcnuttandrew commented on #931
Oh yeah i totally forgot notebooks have a js console doh

<img width="630" alt="Screen Shot 2020-01-30 at 3 26 45 PM" src="https://user-images.githubusercontent.com/6854312/73491801-fd1c9e80-4374-11ea-93c0-040e0dfc1bd4.png">

[2020-01-31 02:50] AnthonyMockler commented on #928
Can confirm, #933 works for me now

[2020-01-31 11:43] daaain commented on #847
Finally having got around to test in our setup I just wanted to confirm that it fixed the issue, thanks a lot 🙏

[2020-01-31 16:34] macrigiuseppe opened #935 "[Bug] Geo-filter doesn't work on multiple layers"
**Describe the bug**
When adding a new layer to an existing geo-filter, kepler doesn't the map accordingly.

**To Reproduce**
![geo-feature-filter-bug](https://user-images.githubusercontent.com/2554552/73556476-84255180-441d-11ea-912e-802ba7847637.gif)

**Expected behavior**
It should update accordingly

[2020-02-01 07:03] #929 closed

[2020-02-01 07:03] macrigiuseppe commented on #929
fixed

[2020-02-01 07:03] #928 closed

[2020-02-01 07:03] macrigiuseppe commented on #928
fixed

[2020-02-02 10:16] itamar-otonomo commented on #882
Is anyone else still experiencing the issue?
I really miss that capability!

[2020-02-03 04:47] chris2go opened #937 "how to set threshhold value in custom palette?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-05 19:45] jonathan-airsage opened #938 "[Bug] Points and polygons have bizarre aspect ratios, shapes (v 1.1.13)"
I use kepler.gl weekly and just noticed some strange behavior on https://kepler.gl/demo:

1.) Upload the attached .geojson file (polygons), or any file with points. Note: remove the .txt in the filename.
2.) Points have varying aspect ratios as you zoom in/out, and polygons have bizarre shapes (see screenshots below)

<img width="1373" alt="polygons" src="https://user-images.githubusercontent.com/

[2020-02-05 20:08] RandomFractals opened #939 "Provide keplergl lib typings and js map for devs to ease your lib integration"
mainly to alleviate this pain ;)

![keplergl-export-html-dev-session](https://user-images.githubusercontent.com/656833/73878839-f08ac100-4820-11ea-8c48-7462a498d329.png)

[2020-02-07 02:27] johachi-dw opened #942 "[Bug] H3 Layers Vibrate on Zoom"
**Describe the bug**
After adding H3 layer on current version (1.1.13) available on [kepler.gl/demo](http://kepler.gl/demo) the H3 layers hexagons are not aligned, and vibrate on zoom.

Same error occurs when running Kepler.gl locally.

Same error occurs when dispatching addDataToMap.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://kepler.gl/demo
1. Click on **Add Data**
1. Add

[2020-02-07 02:56] johachi-dw commented on #942
Here is a video clip demonstrating the vibration:
[Vibrating_h3_hexagons.mp4.zip](https://github.com/keplergl/kepler.gl/files/4168776/Vibrating_h3_hexagons.mp4.zip)

[2020-02-07 04:28] wangrui6 commented on #931
Have you guys figured out how to use Kepler.gl on Colab? Got the same issue with andrew.

[2020-02-07 05:50] geoHeil commented on #278
<img width="443" alt="Yoo_et_al-2020-Transactions_in_GIS_pdf__Seite_6_von_21_" src="https://user-images.githubusercontent.com/1694964/74004460-1d042180-4976-11ea-8268-7e413ab63130.png">

from Quality of hybrid location data drawn from GPS- enabled mobile phones: Does it matter? is also a nice representation.

[2020-02-07 19:19] macrigiuseppe opened #943 "Add UI (Map Gallery) to load from dropbox"

[2020-02-08 00:15] chriswu42 commented on #156
Mapbox.cn offers licensed China map styles, reach out to me if you're having issues integrating.

[2020-02-09 08:15] TamirShwartz opened #944 "Hexbin Heat Map Issue"
Hi.
I'm trying to create a heat map by hexagons and it comes out really bad.
I have tried to modify radius, coverage, etc. but I think that there is a systematic issue.
My friend created the wanted haxbin before the last commit,  and it came much batter.
I will appreciate if you will check this issue that.
<img width="317" alt="2" src="https://user-images.githubusercontent.com/57898737/74098876-e0

[2020-02-09 19:01] robert-claypool commented on #406
@ricardoekm priorities changed for my team. I will probably not finish this one.

[2020-02-10 04:22] rdhara opened #945 "Controlling default modal and side panel behavior"
I am looking to embed a Kepler mapping interface into a React app. I've found it relatively easy to mount the component and connect it to my reducer and the UI/UX is amazing. However I wish there were an easy way to control some of the default behavior of the component (partly mentioned in #335 ):

1. I'd like to hide the side panel by default -- not remove it with `readOnly`, just have it be in t

[2020-02-10 10:28] b2kdaman commented on #921
Thanks!

[2020-02-10 23:08] heshan0131 commented on #895
related issue: https://github.com/keplergl/kepler.gl/issues/942

[2020-02-11 11:46] plant99 opened #948 "Issues with injecting custom MapPopover"
Hi,

I am trying to modify the default tooltip of kepler.gl, came across [this](https://github.com/keplergl/kepler.gl/issues/616) issue.

Along the lines of [custom map-control](https://github.com/keplergl/kepler.gl/blob/master/examples/demo-app/src/factories/map-control.js) implementation, I tried implementing the same for `MapPopoverFactory`.

I encountered some errors attached here
[error.txt](

[2020-02-11 15:34] Ariel505 opened #949 "Polygon geojson display timeseries filter"
Hello dear kepler.gl team,

I am currently looking for web solution for interactive choropleth maps.
So far this is the one I find most similar to my request.
So I refer to your two examples and try to combine them.
https://kepler.gl/demo/nyc_census
https://kepler.gl/demo/earthquakes/
Due to the earthquakes datetime filters is only available to the point dataset,
I was wondering if I could create

[2020-02-13 06:54] Spottybadrabbit commented on #733
I did try to change the default value for the Panel Header but no luck @heshan0131 it seems the Logo for Kepler.gl application is in src/components/common/logo.js. I found `Panel Header` in [base.js](https://github.com/keplergl/kepler.gl/blob/master/src/styles/base.js). Is this the right one? If not where is it located and what variable needs to be set for `customTheme` ?

There is a const named `

[2020-02-14 12:15] RandomFractals commented on #867
@heshan0131 & @ibgreen hi guys, this looks interesting. Any plans to integrate it into kepler.gl soon?

I know many devs use jsonl for logs in json format.

This solution is kind of like that but for larger geo data files.

I'd love to integrate it into my map tool for vscode devs.

Let me know how far away you are from embedding it in kepler.gl.

[2020-02-14 18:33] #935 closed

[2020-02-15 05:33] mayteio commented on #473
hey @macrigiuseppe I'd also be happy to collaborate with you on writing types for Kepler.gl.

[2020-02-15 15:59] amaton commented on #389
Hi Shan He;
Is there updates on this topic?

[2020-02-15 16:35] macrigiuseppe commented on #389
@amaton this feature was implemented in #595 and it's already available on our demo site: https://kepler.gl/

[2020-02-15 16:35] #389 closed

[2020-02-16 18:58] nll95 opened #950 "[Bug] 500MB csv crashes Kepler"
**Describe the bug**
Upon trying to upload a file ~500MB in size, Kepler crashes (https://kepler.gl/demo)

**To Reproduce**
Steps to reproduce the behavior:
1. From the "Add Data to Map" prompt - click browse your files
2. Select File to upload
3. Kepler crashes

**Expected behavior**
Expected behavior should be a successful file upload.

**Desktop (please complete the following information):**
 -

[2020-02-16 19:57] gabrielsaruhashi opened #951 "[FEAT] Get Map Bounds of map?"
Is there a way to get the map bounds of the map?
Similar to Google Maps' map.getBounds())

[2020-02-17 03:40] heshan0131 commented on #944
Hi @TamirShwartz couod you please share a sample data with us so we can debug. I thinks will be fixed when [this PR](https://github.com/keplergl/kepler.gl/pull/889) is landed. still with the sample data I can test it

[2020-02-17 20:50] nll95 opened #952 "Need Point to disappear based on expiration time field"
**Is your feature request related to a problem? Please describe.**
I find with my data I can filter by a single time field. This allows me to filter for the **start** time of a point, but what I really need is for the point to disappear based on an expiration time and not because the time filter passes the **start** time.

**Describe the solution you'd like**
Ideally I think this lives in the laye

[2020-02-18 03:04] hkt999 commented on #819
Sorry, issue fixed. https://lass.mgmeet.io/datasets/all.csv

[2020-02-18 08:59] tjukanovt opened #953 "[Bug] Export map JSON provides empty output"
**Describe the bug**
When trying to export a JSON output from the Kepler demo, I get an empty JSON output.

**To Reproduce**
Steps to reproduce the behavior:
1. Add data to map (GeoJSON in my case)
2. Click on export map -- > JSON. Already now you see that the JSON preview doesn't follow your map. e.g. the color palette remains the same.
3. Click export and JSON config is downloaded
4. See error f

[2020-02-18 12:20] Joonalai commented on #653
I would like to translate Kepler to finnish. Is [react-localization(https://www.npmjs.com/package/react-localization) still considered the best tool for this?

[2020-02-18 20:18] macrigiuseppe commented on #819
@hkt999 make sure the provided URL supports CORS from different domains. Based on the response it looks like your server doesn't provide CORS correctly.

I am gonna close this issue for now, but feel free to re-open if the problem still persists

[2020-02-18 20:18] #819 closed

[2020-02-18 20:41] macrigiuseppe commented on #949
@Ariel505 we currently don't support this feature but we are working on a possible solution.

A possible solution for your use case is to define a timestamp property for each of the geo polygon features and create a time filter against such property

[2020-02-18 20:41] heshan0131 commented on #950
We will find time to work on this
https://github.com/keplergl/kepler.gl/issues/410

[2020-02-18 20:43] macrigiuseppe commented on #948
@plant99 It looks like your factory is not returning a valid react element. Can you post some code to better troubleshoot the issues?

[2020-02-18 20:46] macrigiuseppe commented on #942
@johachi-dw this should be already fixed, please check again

[2020-02-18 20:46] #942 closed

[2020-02-18 20:47] macrigiuseppe commented on #938
@jonathan-airsage this is fixed, please check again

[2020-02-18 20:47] #938 closed

[2020-02-18 20:48] macrigiuseppe commented on #937
this is related #399

[2020-02-18 20:48] jonathan-airsage commented on #938
Looks good!

[2020-02-19 05:06] plant99 commented on #948
Thanks for looking at the issue, here are some code for a more clear understanding.
**factory**
[code]
**component**
[code]

[2020-02-19 20:05] ibgreen opened #957 "Feature request: Allow render custom panels in side panel"
**Is your feature request related to a problem? Please describe.**

The dependency injection system is really nice. However it seems there is no easy way to add another panel in the side panel, including the icons on the top.

**Describe the solution you'd like**
Some kind of API would be great

**Describe alternatives you've considered**
Right now the alternative is effectively to copy/duplicate

[2020-02-19 21:44] heshan0131 commented on #555
If you plan to render the `MapStyleSelector` inside your CustomMapStyleSelector, you need to pass along its dependencies like this:

[code]

[2020-02-19 21:45] heshan0131 commented on #555
closing it until more discussion cone along

[2020-02-19 21:45] #555 closed

[2020-02-19 21:46] #905 closed

[2020-02-20 00:02] #953 closed

[2020-02-20 03:00] #356 closed

[2020-02-20 07:14] tjukanovt opened #959 "Separately adjust opacity of stroke and fill"
**Is your feature request related to a problem? Please describe.**
I would like to separately adjust the opacity for polygon stroke and fill. Now when opacity is adjusted, both elements are affected. Also now if I disable the polygon fill, I can not adjust the opacity of the stroke at all. The latter is almost like a bug to me.

**Describe the solution you'd like**
I would like to have two opacity

[2020-02-20 09:59] seizethedata opened #960 "Kepler crashes on hexbin radius <0.5-1 with colour based on a column [Bug]"
**Describe the bug**
kepler.gl crashes when trying to set up hexbin size less than 0.5km, sometimes even o 1km. My file size is reduces to 9mb already. 117k rows x 3 columns.

**To Reproduce**
Steps to reproduce the behavior:
1. Load point file into kepler ~100k rows
2. Change point layer to hex, set hex radius to 0.2-0.5km, colour based on a column
3. Zoom in or out
4. Screen goes white - kepler

[2020-02-20 12:59] tjukanovt opened #961 "Enable line, arc and point visualizations based on GeoJSON geometry type"
**Is your feature request related to a problem? Please describe.**
Currently if I'd would like to do a line or arc visualization, I have to have a CSV with lat & lon fields so that the lines are built _inside_ kepler. Even though I would have a perfectly valid GeoJSON in EPSG:4326 with straight lines, that can only be rendered as "polygons". For me at least this is not very logical.

**Describe th

[2020-02-21 00:41] macrigiuseppe commented on #951
@gabrielsaruhashi you can take advantage of getMapboxRef callback. Example here: https://github.com/keplergl/kepler.gl/blob/master/examples/demo-app/src/app.js#L302

Once you have acquired the mapbox reference, you can use it to extract map bounds: https://docs.mapbox.com/mapbox-gl-js/api/#map#getbounds

[2020-02-21 00:41] #951 closed

[2020-02-21 02:01] heshan0131 commented on #960
should be fixed, please check

[2020-02-21 02:01] #960 closed

[2020-02-21 02:16] heshan0131 commented on #944
this should be fixed by now, please check

[2020-02-21 02:16] #944 closed

[2020-02-21 02:57] heshan0131 commented on #959
https://github.com/uber/deck.gl/pull/4296

[2020-02-21 02:58] heshan0131 commented on #959
https://github.com/keplergl/kepler.gl/pull/966

[2020-02-21 06:48] heshan0131 commented on #957
#962

[2020-02-21 08:27] seizethedata commented on #960
Everything works, thanks!

[2020-02-21 12:01] Joonalai opened #967 "Translating Kepler UI to different languages"
**Is your feature request related to a problem? Please describe.**
I would like to translate the Kepler UI to Finnish. I already posted a question about this here #653

**Describe the solution you'd like**
I would like to use method for translating that could be easily adapted by developers.

**Describe alternatives you've considered**
* One possible solution for translating is to use [react-local

[2020-02-21 18:31] #887 closed

[2020-02-21 23:21] chaouber0903 opened #969 "How do specify a polygon Fill Color in a geojson in the Jupyter notebook?"
Hi,

I am trying to specify the filled color for a polygon in geojson. I came across a wired problem. In the geojson file, I usually specify the polygon color by adding the `fillColor` in the property dictionary for each `Feature`, just as following:
[code]
This works when Kepler import data from a geojson file. However, when I try to do the same thing in Jupyter notebook, it is wired that the `fi

[2020-02-22 05:57] #957 closed

[2020-02-22 18:15] macrigiuseppe opened #970 "Kepler.gl Localization feature"
We are currently looking for someone who would love to work with Kepler.gl code base and implement the new localization feature.

Going through all UI components, extract all embedded text out and create a single js file that can be used with [react-intl](https://github.com/formatjs/react-intl)

[Example on how to use react-intl](https://www.codeandweb.com/babeledit/tutorials/how-to-translate-your

[2020-02-24 10:40] Joonalai commented on #970
I would like to help with this. I actually already posted a similar issue #967.

[2020-02-24 18:42] jonsadka opened #972 "[Bug] Text collision on layers panel for long strings"
**Describe the bug**

For long filenames added to Kepler, the checkmark text collides

**To Reproduce**
Steps to reproduce the behavior:
1. Add a dataset with a long filename
2. Click on Split view button
3. Open the layers panel and notice the text is colliding
4. See error

**Expected behavior**
Be able to see the entire layername

**Screenshots**
<img width="199" alt="Screen Shot 2020-02-24 at

[2020-02-24 18:59] heshan0131 commented on #969
@chaouber0903
Can you post code snippet of how you are adding the GeoJson in jupyter

[2020-02-24 19:59] #972 closed

[2020-02-25 03:33] macrigiuseppe commented on #970
@Joonalai thank you for your interest. If you are interested I will assign this issue to you and start working on it.

[2020-02-25 06:14] Joonalai commented on #970
@macrigiuseppe that sounds great.

[2020-02-25 17:21] ivarmartin commented on #397
Hi! Is this feature currently working on the kepler.gl demo site? I'm trying to visualize a trip by using your json schema from above, but after uploading the geojson as a dataset and trying to create a new trip layer the demo site simply goes blank (white screen).

[2020-02-25 23:55] chaouber0903 commented on #969
Hi Shan,

Thank you for your reply! Here is the code I used for displaying my polygon:
[code]
It is a hexagon displayed in Seattle. The polygon is supposed to filled with a dark blue color, which works fine when imported from a json file. However, when try to display that in a Jupyter notebook, the color was not filled in. Do you know why this happens?

[2020-02-26 01:05] chaouber0903 commented on #969
<img width="1026" alt="Screen Shot 2020-02-25 at 4 56 46 PM" src="https://user-images.githubusercontent.com/54916144/75301866-e2610c80-57f0-11ea-9d1d-179943b5925e.png">
Here is the screenshot of my issue. The left is expected, but in Jupyter, the right was the actual displayed.

[2020-02-26 10:06] mayteio opened #974 "[Help] custom screenshot UI - how do I generate image exports without having the export image modal open?"
I'm creating my own custom form popup for saving maps with a custom UI. As part of it, I'm trying to save an image of the visualisation. I have tried a few approaches and have been unable to get desirable results, though I think I'm close. Any guidance would be greatly appreciated.

My question is **How can I get <PlotContainer /> to export and image *without opening the export image modal*?**

<i

[2020-02-26 13:39] yzq89 commented on #882
+1 to this. We have the following environment, would love if anyone has any tips
`python 3.7.6
keplergl 0.1.2
jupyterlab 1.2.4
ipywidgets 7.5.1
geopandas 0.5.0
pandas 1.0.1
Shapely 1.7.0
traitlets 4.3.2
traittypes 0.2.1`

[2020-02-26 16:51] batlogs commented on #789
@macrigiuseppe  can you please point to the HTML generation part in the README. I am having issues in deploying this on a AWS Ubuntu instance. I am planning to use NGNIX to serve the app

[2020-02-26 17:14] ibrahimabadi opened #975 "[Bug] Export Map HTML is broken"
**Describe the bug**
After clicking 'export' and going through the menu to export the map as an HTML, the file will load as blank in Chrome, Safari and Firefox. This happens for both read only and edit map mode and occurs when you switch out Mapbox tokens.

**To Reproduce**
Steps to reproduce the behavior:
1. Upload data to the map (csv in my case)
2. Add layers, etc.
3. Click 'export map'
4. Sele

[2020-02-26 17:16] ibrahimabadi commented on #975
I am inspecting the page in Chrome and it looks like Kepler's server is 404ing.

![Screen Shot 2020-02-26 at 12 16 14 PM](https://user-images.githubusercontent.com/52184163/75369632-cfeadf80-5891-11ea-91b8-44cfe5fd6294.png)

[2020-02-26 18:39] ibrahimabadi commented on #975
I seem to have fixed the issue in the HTML's code -- hopefully this helps you all diagnose the issue. If I change the line that defines where to load Kepler from:

        <script src="https://unpkg.com/kepler.gl@2.0.0/umd/keplergl.min.js" crossorigin></script>

to the value found in an older working version of a Kepler export:

        <script src="https://unpkg.com/kepler.gl@1.1.13/umd/keplergl.

[2020-02-26 21:48] ethanwenbinlu opened #976 "Hi! i noticed that the tooltip is not working, would you please check it?[Bug]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-02-27 19:05] MorganGellert opened #977 "Trouble running demo-app on new version [Bug]"
**Describe the bug**
The demo app is not running for me on newer commits. The problem appears to start on commit 52124820e06430a63b4257af9e7e037c106a707a. I simply get a white screen. The web console debugger reads the following error:

panel-header.js:308
    render panel-header.js:308
    map self-hosted:291
    render panel-header.js:305
    React 10
    performSyncWorkOnRoot self-hosted:1063

[2020-02-28 00:06] jhludwig commented on #977
Same issue for me running on v2.0.0 release.

- OS: Ubuntu 18.04.3 LTS
- Browser: Chromium Version 80.0.3987.122 (Official Build) snap (64-bit)

[2020-02-28 01:58] jhludwig commented on #977
git bisect suggests that commit 52124820e06430a63b4257af9e7e037c106a707a is the start of the issue

[2020-02-28 12:43] tjukanovt opened #978 "Symbol improvements in trip visualizations especially with bigger symbols"
**Is your feature request related to a problem? Please describe.**
I would like to be able to render symbols in trip visualizations as points, rather than ermm.. strokes(?). Currently the only available symbol in trip visualizations is a stroke, that looks really strange when the symbol size is increased beyond a certain threshold.

**Describe the solution you'd like**
I would like to see other sy

[2020-02-28 14:16] VincentAntoine commented on #975
Same problem here. Changing to an older version of kepler in the html code does not solve the issue for me. In fact, I cannot even open older maps that were exported weeks ago and which I used to be able to open. Like you I get a blank page when I open the maps in Google Chrome.

[2020-02-28 15:28] cperbost opened #979 "DropboxClientId undefined"
Hello,
I am just trying to run Kepler.gl locally on windows.
I installed the node modules and set the MapboxAccessToken as explained in the doc.
But when I run "npm start" I get :

WARNING in EnvironmentPlugin - DropboxClientId environment variable is undefined

You can pass an object with default values to suppress this warning.
See https://webpack.js.org/plugins/environment-plugin for example.

[2020-02-28 15:58] #979 closed

[2020-02-28 19:01] heshan0131 commented on #977
did you upgrade kepler.gl to v2.0.0 in your demo app package.json?

[2020-02-28 19:07] heshan0131 commented on #976
Can you help us reproduce? it seems to be working fine for us

<img width="738" alt="Screen Shot 2020-02-28 at 11 06 43 AM" src="https://user-images.githubusercontent.com/3605556/75579350-795cdd00-5a1a-11ea-8ef8-e01bba5291b4.png">

[2020-02-28 19:09] heshan0131 commented on #975
yep, we just updated to the newest version in html template. it should works now

[2020-02-28 19:12] jhludwig commented on #977
i did a fresh clone of kepler.gl repo and checked out the v2.0.0 release.  looks like the demo app package.json still refers to v1.1.13 at this commit.  i just made the version change in package.json and all works well now, thanks!

[2020-02-28 19:16] heshan0131 commented on #977
yes, there is 1 day delay between when we publish 2.0 and when we update the version in demo app, due to some issue with github publish. it should be all good now

[2020-02-28 19:16] #977 closed

[2020-02-28 19:19] heshan0131 commented on #975
@VincentAntoine you shouldn't change the version in the html that exported weeks ago. kepler has to be pin to the version when you exported the map. If it still not working. could you send us a screenshot of error in your console?

[2020-02-28 19:24] macrigiuseppe commented on #974
@mayteio
you can programmatically trigger an export image action through the API. In Kepler.gl code we have this: https://github.com/keplergl/kepler.gl/blob/master/src/components/modal-container.js#L158.
You need to make sure you set the correct export settings for the image. You can use the following api: https://github.com/keplergl/kepler.gl/blob/master/src/reducers/ui-state-updaters.js#L343

[2020-02-28 19:35] heshan0131 commented on #974
image generate is going to be async, and due to a limitation in mapbox base map rendering, we currently can't determine when the base map finish rendering. we can design an API that allows your to take control over when plot-container is mounted, but you do need to pass in some callbacks to listen on image generation update. Something like this might work:

[code]

[2020-02-28 22:49] heshan0131 opened #981 "Implement API to generate map image"
Currently the logic of generate a image of the map is packaged inside kepler. and it's not easy to access via dependency injection. We can design a action / callback API to allow user to dispatch action and pass a call back to save the generated map image, Something like this:

[code]

https://github.com/keplergl/kepler.gl/issues/974

[2020-02-28 23:44] larsgw opened #982 "[Bug] "Show data table" double scroll bar"
**Describe the bug**
When I open a data table in the demo, two scroll bars appear. Apart from generally being difficult to navigate the table, I could not find the horizontal scroll bar the first time.

**To Reproduce**
Steps to reproduce the behavior:
1. Hover over a layer consisting of a CSV file
2. Click on the button with the "Show data table" tool tip
3. See error

**Expected behavior**
I exp

[2020-02-29 00:06] mayteio commented on #981
Thanks @heshan0131 that will be a fantastic solution. If I can help out in anyway do let me know, I’d love to get involved with contributing to such a great product. 👏👏

[2020-02-29 05:12] rdhara commented on #945
I discovered that in `componentDidMount` I can dispatch the following:
[code]
which does solve the problem in the interim.

[2020-02-29 05:13] rdhara commented on #335
Note that you can dispatch the actions directly to close these modals (see https://github.com/keplergl/kepler.gl/issues/945#issuecomment-592880099)

[2020-02-29 19:33] EvsChen opened #983 "[Bug] Can't resolve 'kepler.gl/cloud-providers'"
**Describe the bug**
I tried running the demo-app locally by following the tutorial
[code]
 and ran into this error
[code]
I tried setting all the environment variables but it doesn't seem to work. No additional error occurs during the `yarn` and `yarn start` step. It seems that others have also met this problem https://github.com/keplergl/kepler.gl/issues/979.

**Desktop (please complete the foll

[2020-03-01 21:12] ibrahimabadi commented on #975
Thanks for the quick response @heshan0131 !

[2020-03-01 21:12] #975 closed

[2020-03-02 09:40] cperbost commented on #983
I switched back to an older version and it works. But I haven't found a solution for Kepler 2.0.0 ...

[2020-03-05 00:00] isaacbrodsky opened #988 "[Bug] Not preserving zero padding"
**Describe the bug**
Type analysis in kepler.gl doesn't preserve zero padded fields, which are sometimes important, such as zip codes. Also, the type analyzer sometimes detects things as time, perhaps based on the magnitude of the number, but this may or may not be right depending on specifics of the data.

**To Reproduce**
Use the following CSV file, containing an integer, a census block group ID

[2020-03-05 06:31] chaouber0903 commented on #969
@heshan0131
Hi Shan, do you have any update on this issue?

[2020-03-05 08:34] mayteio commented on #970
Give me a yell if you’d like to divide and conquer, I’d be happy to contribute too.

[2020-03-05 09:19] Joonalai commented on #970
Thanks @mayteio! I am almost done with the task but I'll give you a yell if I find something you could help with.

[2020-03-05 10:24] RandomFractals commented on #981
This would be great. I'd like to add save map image to geo data viewer vscode extension.

Would it be just calling keplergl.generateMapImage in umd js with that proposed api?

[2020-03-05 11:31] fprivitera opened #989 "New layer type: GeoHash"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I would like to display data based on GeoHash, which is a standard in several platforms.

for instance a CSV like the following:
geohash,kpi1
dr5rg,12
dr5r8,42
dr5rv,566

**Describe alternatives you've considered**
I see that you provide also H3 layer type, it would be interesting to have al

[2020-03-09 09:41] cperbost commented on #983
Any updates?

[2020-03-09 12:38] VictorVelarde opened #990 "[Bug] Log out in Load from Storage doesn't refresh the UI"
**Describe the bug**
Pressing the Logout link under cloud providers, doesn't refresh the UI

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Add data'
2. Click on 'Load from Storage'
3. Login into a provider, then Logout

**Expected behavior**
UI refreshes accordingly

[2020-03-09 13:59] PhilipAD commented on #931
Same^^

[2020-03-09 14:44] ibgreen commented on #931
kepler's approach is slightly different so the following may not fully apply, however in case it may be helpful:

pydeck has solved "one way" rendering in colab: https://github.com/uber/deck.gl/pull/4337

Note that interactivity is not currently possible, see the linked colab issue in that ticket (this limitation that appears related to colab's stricter security model and seems to affect many pack

[2020-03-09 16:43] ibgreen commented on #931
@ajduberstein

[2020-03-09 18:09] #943 closed

[2020-03-09 18:10] #746 closed

[2020-03-09 18:34] macrigiuseppe commented on #988
@isaacbrodsky if we preserve the 0 we should treat the value as a string which is not something we can do right now

[2020-03-09 18:58] MorganGellert opened #992 "[Bug] When aggregation takes too long only a few color bins show up."
**Describe the bug**
When doing a hex bin aggregation on a lot of data where you want to color by a field (aggregating by mode) and the aggregation takes too long or the granularity is reduced to small bins bins only show up for a few of the classes.

**To Reproduce**
If you use the earthquake demo and switch to the hexbin and color by MagType you may see that very little data shows up for a radiu

[2020-03-10 01:28] bernardpumped commented on #643
Hello the link invite has expired ?

[2020-03-10 07:32] heshan0131 commented on #992
Hi @MorganGellert the error is actually unrelated to your aggregation case. How many points are we talking about? Do you have other filters applied at the same time?

[2020-03-10 08:42] n0012 commented on #882
Same issue for me.

JupyterLab v1.2.6

jupyter labextension list
@jupyter-widgets/jupyterlab-manager v1.1.0  enabled  OK
keplergl-jupyter v0.1.2  enabled  OK

[2020-03-10 08:44] n0012 commented on #882
@heshan0131 Please review and let us know your thoughts.  I've followed the [install guide for jupyterlab](https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md#install) but continue to get this error

[2020-03-10 13:01] Joonalai commented on #970
@mayteio, would you perhaps have the time to check out the failing [browser tests](https://travis-ci.com/keplergl/kepler.gl/jobs/296469055)? I can check those later but maybe not during this week.

[2020-03-10 14:03] neokore opened #995 "[Bug] CARTO map URL sets username to null after loading"
**Describe the bug**
After loading a map from CARTO provider using an URL, username is set to `null`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Add Data".
2. Go to "Try sample Data".
3. Load any sample map.
3. When loaded, go to "Share" > "Share Map URL".
4. Select "CARTO" provider.
5. Click on the "Upload" button inside "CARTO" provider.
6. When uploaded, copy the map URL.
7. On

[2020-03-10 16:10] neokore opened #997 "[Bug] Share map shows last saved URL"
**Describe the bug**
After saving a map, share map URL modal shows previously saved map URL as sharing URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Load any map
2. Go to "Cloud Storage" > "Save"
3. Select a cloud provider
4. Fill the name field
5. Click on "Save"
6. After map is saved, go to "Share" > "Share Map URL"
7. On the modal, the "Share URL" field shows an URL

**Expected beh

[2020-03-10 16:21] neokore opened #998 "[Bug] Cloud provider authentication errors doesn't clear after login"
**Describe the bug**
When an authentication error appears, it doesn't clear after authentication is fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Add Data".
2. Go to "Try sample Data".
3. Load any sample map.
4. When loaded, go to "Cloud Storage" > "Save".
5. Fill the name field.
6. Click on the "Save button".
7. An authentication error message should appear.
8. Select and lo

[2020-03-10 17:32] MorganGellert commented on #992
I guess the california earthquake dataset is only ~55K rows. Here are some screenshots showing the disparity. When coloring by `Magnitude` (a float) everything is fine. But when you try to color by `MagType` (a string) many of the bins no longer show up.
<img width="1570" alt="Screen Shot 2020-03-10 at 10 30 32 AM" src="https://user-images.githubusercontent.com/2454079/76341488-5b189c00-62ba-11ea-

[2020-03-10 18:07] macrigiuseppe commented on #998
this is duplicate of #990

[2020-03-10 18:29] macrigiuseppe commented on #970
your error is the following:

[code]

It means you need to inject IntlProvider in your tests or find a better way to isolate components from your localization implementation

[2020-03-10 18:39] heshan0131 commented on #983
2.0.1 has the fixes

[2020-03-10 23:36] #995 closed

[2020-03-10 23:46] n0012 commented on #882
Here's the console output received when the "Error displaying widget" message appears:
<img width="534" alt="Screen Shot 2020-03-10 at 5 43 41 PM" src="https://user-images.githubusercontent.com/11747725/76368765-e6178780-62f6-11ea-8721-287b660ffad5.png">

[2020-03-11 17:25] MorganGellert commented on #410
Piggybacking on this thread because it seems relevant but I can open a separate issue if needed. The remote map upload fails on json files larger than 50MB because of this error: https://github.com/d3/d3-fetch/issues/34 A solution is to cut out `d3-fetch` and use just `fetch` and `FetchSteam` instead (similar to @stevenroussey-privicy 's suggestion).

[2020-03-11 20:12] neokore opened #1002 "[Bug] Lack of feedback when loading a map from a cloud provider"
**Describe the bug**
When a user loads a map from a URL from a cloud provider, there is no loading animation or error messages when something goes wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to a shared map URL from a cloud provider
2. While it is loading, it just shows the "Load Data" modal.
3. In case of error, it just remains on the "Load Data" modal without feedback

[2020-03-12 11:22] b2kdaman commented on #726
@heshan0131  any updates? What's the correct mechanism to add said style now? I'm working w/ `addaddCustomMapStyle, loadCustomMapStyle` and I get styles working but without label, and default styles are unresponsive. I'm getting down by the reverse engineering rabbit hole, but your advice would help a lot.

[2020-03-12 12:49] Joonalai commented on #970
@macrigiuseppe, @mayteio I just fixed the tests related to localization.

[2020-03-12 14:56] donniekerr opened #1005 "React Hooks version"
Does your roadmap include re-write using React Hooks/Function Components?  It would be much easier to integrate Kepler into our existing apps if it used Hooks.

[2020-03-12 15:00] ibgreen commented on #1005
@donniekerr Can you elaborate a bit on why this would be the case? My sense is currently that whether a React component is implemented via functions or hooks should not matter from the component user's perspective?

[2020-03-12 15:09] donniekerr commented on #1005
Agree, in the short term.  That is why I asked if hooks was on the roadmap.

Many other React ecosystem tool providers are moving to Hooks versions, such as Router, Apollo, etc.  Strategically, a re-write to hooks would be inevitable if one started with the current component-based version.  Yes, they can live together, but ideally, a hooks architecture would be preferred longer term.

[2020-03-12 19:29] heshan0131 commented on #726
We are going to provide satellite style as one of the default map styles

[2020-03-13 00:23] mayteio commented on #970
Sorry guys, am on holiday without a laptop! Glad you got it sorted 👏

[2020-03-13 00:28] mayteio commented on #1005
Are there particular hooks you’re interested in? Interaction with Kepler is *mostly* done via redux, so you can use ‘useDispatch’ and ‘useSelector’ from ‘react-redux’. I feel any abstraction over the top of that is unnecessary.

Dependency injection hooks would be nice to allow use of components in isolation. Hooks around import/exporting maps might also be nice to haves.

This is also something t

[2020-03-13 02:21] heshan0131 commented on #643
Link has been updated

[2020-03-13 18:04] macrigiuseppe commented on #1002
fixed

[2020-03-13 18:04] #1002 closed

[2020-03-13 18:04] macrigiuseppe commented on #998
fixed

[2020-03-13 18:04] #998 closed

[2020-03-13 18:04] macrigiuseppe commented on #997
fixed

[2020-03-13 18:04] #997 closed

[2020-03-13 18:04] macrigiuseppe commented on #990
fixed

[2020-03-13 18:04] #990 closed

[2020-03-13 18:06] macrigiuseppe commented on #976
@ethanwenbinlu I am gonna close this one. If you are still seeing an issue, please create a new one and make you provide clear details on how to reproduce the bug.

[2020-03-13 18:06] #976 closed

[2020-03-13 18:11] macrigiuseppe commented on #948
@plant99 your factory code looks good but your component is not correct. Please have a  look at the following example:
- [map control factory](https://github.com/keplergl/kepler.gl/blob/master/examples/demo-app/src/factories/map-control.js)
[map control component](https://github.com/keplergl/kepler.gl/blob/master/examples/demo-app/src/components/map-control/map-control.js)

[2020-03-13 18:14] macrigiuseppe commented on #945
@rdhara when you initiate kepler.gl reducer you can pass initial values. to customize your interaction.
See the following code:
[code]

[2020-03-15 18:47] rdhara commented on #945
Got it thank you!

[2020-03-15 18:47] #945 closed

[2020-03-16 15:45] MappingKat opened #1011 "Heatmap layer won't render above other layers in map [Bug]"
**Describe the bug**
When I drag and drop layers on the map, all of the layers match the order that I drag the layers on except for the heatmap layer. That stays underneath the other layers. Not sure if it is the heatmap o

**To Reproduce**
Steps to reproduce the behavior:
1. Add multiple datasets with one layer being a heatmap
2. Drag and drop layers with heatmap layer on the top
3. View that the

[2020-03-17 15:04] bartkloostra opened #1012 "Please help: White screen after uploading a CSV or JSON on kepler.gl"
**Describe the bug**
White screen after uploading a comma delimited CSV in Kepler

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'kepler.gl'
2. Click on 'Get started'
2. Click on 'browse your files'
4. Click on my CSV
5. See white screen

**Expected behavior**
I expected to upload my CSV

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://use

[2020-03-18 17:24] ch4rliemurphy opened #1013 "Data Viz Capability - Space Time RIpple"
Hi all, is it possible to get the below visualization ability added to Kepler? Thanks for the awesome tool!
https://thunderheadxpler.blogspot.com/2017/03/space-time-ripples.html

![Space_Time_Ripple](https://user-images.githubusercontent.com/55196792/76988836-c5b18380-691b-11ea-89fb-670743232ba6.JPG)

[2020-03-18 19:48] macrigiuseppe commented on #1012
@bartkloostra can you please provide a sample of your data?

[2020-03-18 21:39] heshan0131 commented on #1012
@bartkloostra your dataset is not using mercator projection coordinates. The coordinates should be in latitude and longitude. You can take a look at our demo maps
Here is an example
https://github.com/uber-web/kepler.gl-data/blob/master/earthquakes/data.csv

[2020-03-18 21:39] #1012 closed

[2020-03-18 21:42] heshan0131 commented on #1011
@MappingKat This is a known issue, because how the layers are rendered differently (mapbox layer vs deck.gl layer) Unfortunately we don't have a quick fix for it right now. You can try adjust the opacity of layers to achieve a better visual effect?

[2020-03-18 21:42] #983 closed

[2020-03-18 21:43] macrigiuseppe opened #1014 "[WIP] [Enhancement - RFC] Update filter structure"
## Current state
the current kepler.gl filter allows to perform actions against dataset/field/layer through the following property:
- dataId
- name
- layerId

During the development of geofiltering we enhanced the filter structure to perform operations against selected layers.

Because of the current structure, supporting multiple dataset filters has been challenging.
Some of the. challenges are t

[2020-03-19 02:19] PancakeCard commented on #156
@BlankRain  我想把底图换高德的瓦片，这个可以加瓦片地图吗？你说的魔改，是js版本的么，python的有没有可能，谢谢！

[2020-03-19 19:31] heshan0131 commented on #982
@should be fixed now. Please check

[2020-03-19 19:31] #982 closed

[2020-03-19 21:25] larsgw commented on #982
Yes, seems to work. Thank you!

[2020-03-20 11:41] b2kdaman commented on #726
Hah! I already done it on my side + Satellite Streets

[2020-03-20 11:46] b2kdaman opened #1015 "[Bug] Kepler stops recognition of geo type column"
**Describe the bug**
When we pass over 5mb data to Kepler with GeoJSON formatted polygon data it stops recognizing it in the UI as _geo_ but does as _string_. Default layer is not created and user have to manually create layer.
When data size is smaller it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Add parsed json data with size over 2MB(?TBD) using addDataToMap method

**Ex

[2020-03-20 19:25] koyo-jakanees commented on #583
I had a similar issue on colab too @HugoBarreto ,managed to install but map was not showing. when trying to install the extension i realized colab jupyter was defauliting to python 2.7 dist -packages but I installed to py3.
solved it by installing to py2.7 using pip2
but the map display issue was still not persistent
![error](https://user-images.githubusercontent.com/14871724/77199263-99535e00-6af

[2020-03-22 10:14] cartolover commented on #653
I want to translate in Italian!
Can I help?

[2020-03-22 21:55] heshan0131 commented on #970
@mayteio @Joonalai  I added some followup questions regarding future works, maybe this is something you can help on.

[2020-03-22 22:43] heshan0131 commented on #1015
@b2kdaman it currently works for our testing file, so this might be a special case. Would you mind share a snippet of your GeoJSON?

[2020-03-22 22:45] heshan0131 commented on #1013
@ch4rliemurphy very interesting case, we could use a terrain layer to achive this effect. question: what is the height of the mesh determined based on? density of point?

[2020-03-23 01:05] heshan0131 opened #1019 "[Feature Request] Allow optional columns"
**Is your feature request related to a problem? Please describe.**
Currently each layer requires 1 set of columns to draw geometry. Point requires latitude and longitude column. It should also be possible to draw point based on a GeoJson feature geometry: `{type: 'Point', coodinates: [-127.23255, 31.1293847]}`. This will allow people to draw point layer based on GeoJson data, which includes featur

[2020-03-23 01:09] heshan0131 commented on #961
As a first step:
https://github.com/keplergl/kepler.gl/issues/1019

[2020-03-23 09:29] Skyloq opened #1020 "[Question] Icon in json"
[data.txt](https://github.com/keplergl/kepler.gl/files/4369414/data.txt)

Could you give me an example of an icon in json?

I have no problem making them appear with the .csv format but it is more complicated with the json. And no matter how much I look, I can't find an example online.

I would like to insert them in the same way as for my LineString

`{\"type\":\"Icon\",\"Latitude\":-0.370844,\"L

[2020-03-23 10:30] ollipiet opened #1021 "Map export: saving to Carto does not work [Bug]"
**Describe the bug**
Saving any visualisation with data to Carto causes an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Save as'
2. Click on 'Carto Account'
3. Scroll down to 'Save'
4. Click on 'Save'
4. See error

**Expected behavior**
My kepler.gl map is saved to privately to Carto.

**Screenshots**
[http://olli.xyz/c081Xx](http://olli.xyz/c081Xx)

**Desktop (please comple

[2020-03-23 12:07] Joonalai commented on #970
@heshan0131 @mayteio I added some initial code to the followup questions.

[2020-03-23 12:09] Joonalai commented on #653
@cartolover localization is implemented in #994 and after that it would be easy to add additional languages.

[2020-03-23 15:48] ch4rliemurphy commented on #1013
I believe it's a calculated attribute per bin, it's explained better than I can here...https://github.com/mraad/space-time-ripple

[2020-03-23 19:16] macrigiuseppe opened #1023 "Map-popover factory override raises an exception"
When creating a custom popover factory i get the following error:

[code]

For some reason kepler complaints about map-control error

[2020-03-23 22:04] #1023 closed

[2020-03-24 01:25] jonsadka opened #1025 "[Bug] centerMap feature filters out 2% of data, causing an incorrect viewport"
**Describe the bug**
When loading a dataset into Kepler and setting `centerMap: true`, the computation to compute the latitude / longitude bounds assumes that 2% of the data are outliers and [filters them out](https://github.com/keplergl/kepler.gl/blob/master/src/utils/data-utils.js#L94), causing incorrect bound calculations for datasets.

**Expected behavior**
Three possible approaches here:
- Do

[2020-03-24 01:28] jonsadka commented on #1025
If we decide option #1 is the correct approach, I went ahead and issued a PR for the fix #1026

[2020-03-24 07:18] github-rupesh opened #1027 "Not able to login in Carto with github account"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-03-24 07:19] #1027 closed

[2020-03-24 08:56] #1021 closed

[2020-03-24 09:03] heshan0131 commented on #1025
the problem is not the outliner being filtered out. It is because we are only taking a sample of the rows to calculate bounds:

https://github.com/keplergl/kepler.gl/blob/master/src/layers/base-layer.js#L716-L718

this is for performance concern,  you can try increasing the max sample size to be 50000, which should probably still be okay. but keep in mind, kepler will try calculate bounds for ALL

[2020-03-24 09:11] heshan0131 commented on #1020
This json should work
[code]

[2020-03-24 10:28] Skyloq commented on #1020
Thanks !

[2020-03-24 11:35] jaronimoe opened #1028 "[Bug] filtering time intervals"
**Describe the bug**
we're using a csv that features a time interval for each row. (for instance opening hours for shops)
kepler recognizes the time format (e.g., "15:00-18:00") - however the filter widget displays different information when trying to filter the time interval.

does kepler not support time intervals within a data row?
or are we supplying the data in the wrong format?

in our scena

[2020-03-24 14:04] Joonalai commented on #902
The same thing happens with the demo site as well. For example [nyctrips](https://kepler.gl/demo/nyctrips) produces blank screen after loading:
![kepler-nyctrips-mobile-blank](https://user-images.githubusercontent.com/33314057/77433667-55f23b80-6de8-11ea-8f85-0204f5df7174.gif).

The following logs are produced (and captured with the help of logcat):

[code]

[2020-03-24 19:34] jonsadka commented on #1025
I think taking a random subset of `sampleData` above a threshold makes total sense, but I still dont quite follow how this outlier logic is useful.

Let's say in the in the example above, the dataset being loaded is a size of ~2,000. We then arbitrarily chop off the first 1% of values and last 1% of values, meaning we are removing ~40 data points without properly calculating if they are actually o

[2020-03-25 08:14] nicoali opened #1030 "[QUESTION] Kepler.gl and Carto Open source"
If i want to connect kepler.gl with my own Carto instance is it possible and which files i have to edit?

The connection is available only from v 2.0.1 of kepler? with 2.0 i can see the logo of carto but the link doesn't work for me!

Thanks

[2020-03-25 13:24] jessicagiles opened #1031 "[Bug]Export Map HTML with satellite basemap Results in a Blank Page"
When exporting map to HTML, the file opens as a blank page with the kepler.gl logo on the top left. This issue persists with different map box tokens, without using a map box token, and readable vs. editable maps.

To reproduce:
1. Go to 'Export Map'
2. Select 'HTML' as map format
3. Export
4. Open output file in web browser

Expected behavior:
The map exports as an HTML file that can be viewed in

[2020-03-25 17:13] scivm commented on #718
I use open postal codes from https://download.geonames.org/export/zip/.  They have about 90 countries.

[2020-03-25 20:00] #1025 closed

[2020-03-26 08:25] vishalmhjn opened #1032 "Smoothing filter when using the date only serie"
How can I make a smooth filter when using the date only series. In the picture, you can see that the y-axis values drop after every date value because data is not available for the hourly intervals.

<img width="1035" alt="Screen Shot 2020-03-26 at 09 23 54" src="https://user-images.githubusercontent.com/42190624/77625261-8d292f80-6f43-11ea-93fc-94ee88947bfe.png">

[2020-03-26 09:51] francescocretti opened #1033 "Kepler.gl without mapbox API token"
Hey everybody. I'm using KeplerGL in conjunction with a custom tile server (with [TileServerGL](http://tileserver.org/)) serving OpenStreetMaps tiles and is working well.
However I can't find a way to stop Kepler asking for the Mapbox API token.

Is there a way to use KeplerGL without providing the `mapboxApiAccessToken` property, when  using a custom tile server?

I'm currently passing an empty s

[2020-03-26 12:22] francescocretti commented on #1033
I put a basic (free) Mapbox token in Kepler and I havo no more warnings.
Using my custom TileServer I don't request tiles from Mapbox (looking at the network activities)  so that can be a solution!

[2020-03-26 18:57] geostarters opened #1034 "[Bug]Error using the UMD file kepler.min.js"
**Error using the UMD file kepler.min.js**

I have cloned and installed the project correctly but when I try to use the generated local file **/umd/keplergl.min.js** with the example of **/umd-client/index.html** `

[code]
 the browser console   error returns this error
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/7668442/77685250-7d3d3a00-6f9b-11ea-843a-9a27418edaab.

[2020-03-26 19:21] heshan0131 commented on #1033
@francescocretti are you using kepler.gl as a library? how are you passing the custom tile server map tiles to kepler? Is it via custom map styles?

[2020-03-26 19:32] francescocretti commented on #1033
Hi @heshan0131 ! Thank you for answering
Yes I'm using Kepler as a library in a project section.
Yes I'm passing the tiles via custom map styles like this:

[code]

[2020-03-26 19:44] heshan0131 commented on #1034
@geostarters Are you building your own `keplergl.min.js`? Looks like there is an error in your our own keplergl.min.js

[2020-03-26 19:51] heshan0131 commented on #1033
Got it. I think the warning comes from kepler's default mapStyles (dark, light, muted...). They are still mapbox styles that requires a mapbox token to load. And kepler will try to load them when initialized. If you don't need any of the default mapstyles. you could use (`keplerGlReducer.initialState`)[https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/advanced-usages/custom-init

[2020-03-26 19:55] heshan0131 commented on #1031
@jessicagiles can you try load this map: https://kepler.gl/demo/movement_pittsburgh and export to html? if it works, then there might be something wrong with the data you loaded to kepler.

Can you open your js console (cmd + shift + I) in chrome, and screen capture any red error message in there?

[2020-03-26 20:26] trianta2 commented on #583
I've followed the user guide and many of the hints here, but I still cannot get the widget working in Jupyter Lab. The widget does work in Jupyter Notebook however.

Python 3.6, macOS 10.14.5

[code]

[code]

[2020-03-26 21:53] geostarters commented on #1034
Yes, that's our intention, but so far we've only "fresh" compiled it and haven't started to develop it yet.

[2020-03-27 12:19] francescocretti commented on #1033
Thanks @heshan0131  works like a charm! :)

[2020-03-27 17:44] ibgreen commented on #1033
My bad didn't mean to close it by accident

[2020-03-27 20:31] rl2999 commented on #596
Can Kepler render geodata that is not in WGS84 / EPSG:4326? I tried to do the same with EPSG:2263 GeoDataFrame and the widget or html output does not render unless I reproject to WGS84.

[2020-03-28 05:46] sheub opened #1036 "[Bug] Load Map Using URL missing"
**Can't find load-map-using-url**

I can't see the tab *load-map-using-url* as described in the load-map-using-url section hereafter
https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/b-kepler-gl-workflow/a-add-data-to-the-map.md#load-map-using-url

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Start Kepler'
2. Click on 'Add Data'
3. tab *load-map-using-url* is missin

[2020-03-28 13:44] sheub commented on #1036
nevermind, I've just seen this:
https://github.com/keplergl/kepler.gl/issues/365

[2020-03-28 13:44] #1036 closed

[2020-03-29 16:29] JoaquimCardoso1993 opened #1039 "Upload data"
Hi,

when i tried to upload the data, the internet page appears blank

[2020-03-30 03:08] SKYNET-123 commented on #583
So I am having the same trouble urg!!
Jupyter 1.26
python 3.76
kepler 0.1.2
have enabled keplergl-jypyter
enabled jupyterlab-manager

Don't know whats going on.

[2020-03-30 07:57] neokore commented on #1030
Hi @nicoali! What kind of CARTO instance do you have installed? The way to connect depends on how each CARTO service is accessed, but in general you just need to edit the `domain` constant in `carto-provider.js` (https://github.com/keplergl/kepler.gl/blob/master/examples/demo-app/src/cloud-providers/carto/carto-provider.js#L30).

[2020-03-30 08:35] nicoali commented on #1030
I have installed from their repository a week ago! so i think it's one of the latest release.
I'will try to edit the  domain constant and use an api key from my carto instance!

[2020-03-30 12:24] jessicagiles commented on #1031
@heshan0131 I was able to load the movement_pittsburgh map and export to HTML. When inspecting in Chrome there are no error messages. I will keep troubleshooting with my data, thank you!

[2020-03-30 15:24] jessicagiles commented on #1031
@heshan0131 The export to HTML is working when I used the 'Muted Night' or 'Dark' basemap. Exporting to HTML is not working when using the satellite basemap. If I pull your map in and export as satellite basemap I am getting the same issue.

[2020-03-30 18:43] heshan0131 commented on #1031
Got it, I will look into it

[2020-03-30 20:54] heshan0131 commented on #1039
could you give us more information? any error message in js console?

[2020-03-30 20:54] #1033 closed

[2020-03-30 22:31] will-locsci commented on #397
Coolest layer of the bunch, was wondering if csv data format is fully implemented? The current demo is showing to add data in below example format only:

[code]

[2020-03-31 06:50] heshan0131 commented on #1034
https://github.com/keplergl/kepler.gl/pull/1041

[2020-03-31 06:50] heshan0131 commented on #1034
we are deploying a fix, and cutting a new release 2.1.1

[2020-03-31 09:39] geostarters commented on #1034
Now it works! Thank you for your prompt resolution... Much appreciated!

[2020-03-31 09:39] #1034 closed

[2020-03-31 15:44] francescocretti opened #1045 "Restrict side panel functionalities"
**Is your feature request related to a problem?**
I would like to let my users play with some pre-configured filters in the side panel, without having the option to add a new filter, to export the map or to switch to _Layers_, _Interactions_ or _Base map_-.
Currently I can only hide or show the whole side panel or select the initial state with the **activeSidePanel** property in my custom Kepler r

[2020-04-01 18:29] heshan0131 commented on #1045
@francescocretti All of those can be achieved using dependency injection

1. Create your own CustomSidePanel and returns kepler's [SidePanel](https://github.com/keplergl/kepler.gl/blob/master/src/components/side-panel.js#L112
),  Replace SidePanel.defaultProps to pass in less panels

[code]

2. Use css selector to hide buttons
[code]

3. set `uiState` initial `activeSidePanel` to be `filter`
[code

[2020-04-02 09:02] rbhatia46 commented on #1032
How can we use the date-only series for playback, can you please tell me the approach for this?

[2020-04-02 09:18] heshan0131 commented on #1032
Hi @rbhatia46 you can edit your date from `01/29/2020` to `01/29/2020 00:00`

[2020-04-02 09:34] rbhatia46 commented on #1032
@heshan0131  Thanks for the reply, can you please tell the minimum Kepler version this would work with?

[2020-04-02 23:02] leodavinci1 opened #1050 "[Bug] Module not found: Can't resolve 'styled-components'"
**Describe the bug**
I have installed the kepler.gl package and first thing when I run npm start I get this error:

Module not found: Can't resolve 'styled-components' in 'C:\Users\leo_c\leo-gis-web\node_modules\kepler.gl\dist\components'

I have already tried deleting node_modules and installing again

**To Reproduce**
Steps to reproduce the behavior:
1. npm install kepler.gl
2. npm start

**Scre

[2020-04-03 00:01] leodavinci1 commented on #1050
deleted package-lock.json and node_modules, after that running "npm install" fixed this issue

[2020-04-03 00:01] #1050 closed

[2020-04-03 02:22] GarrettJMU opened #1051 "[Bug] Can't resolve styled-components"
**Describe the bug**
Won't generate development JavaScript bundle:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run yarn develop, doesn't compile

**Expected behavior**
It should combile

**Desktop (please complete the following information):**
node version: 11.10.1
react version: tried 16.3, 16.6, 16.13 (all no luck)
redux: 4.0.5
kepler.gl: 1.1.13 and 2 (with no luck)

[2020-04-03 07:06] wmhafiz commented on #118
any luck on having custom wms/wmts support so far? our company maintain our own basemap service and thats the only issue preventing us from using this amazing library

[2020-04-03 11:11] francescocretti commented on #1045
Ehy @heshan0131 thank you for your answer!
The method you suggested works perfectly, thanks a lot.
I have two further questions:

1. Can I use the same method of dependency injection to *add* custom buttons on the side panel (for example to change the base map style)?
2. The *NEW FILTER* button does not have an `add-filter-button` class, but it has auto-generated classes like `ifZwlr`. Is it safe

[2020-04-03 13:35] donniekerr commented on #389
Can you use the kepler.gl api to programmatically draw a polygon?  I don't see drawing-related actions/reducers in the docs?

[2020-04-03 14:53] b2kdaman opened #1056 "[Bug] README.md is "cut""
**Describe the bug**
README.md is "cut"
Now it's only Initial Page
By this PR:
[code]

[2020-04-03 15:05] b2kdaman commented on #1056
GitBook link?

[2020-04-03 15:32] ibgreen commented on #118
@wmhafiz It does not look too hard to add support for this, and I agree that this would be a valuable addition to kepler.gl / deck.gl / loaders.gl. If someone contributed a solid implementation, it would almost certainly be accepted!

At the same time, keep in mind that the kepler.gl open source team is essentially working for free, and it may be hard for them to justify adding support for a backe

[2020-04-04 01:55] leodavinci1 commented on #1051
Try deleting your **package-lock.json** file and your **node_modules** folder. After that run
`yarn install`

[2020-04-04 04:15] gohkokhan commented on #322
@omge

[2020-04-04 04:24] gohkokhan opened #1060 "How to append the data into the single HTML file?"
I was using https://kepler.gl/demo to generate a single HTML file, I embed it into my Wordpress. I have a cron job that is running every 20 minutes to get the latest data. I notice in the HTML file there is hardcoded the data
`(function customize(keplerGl, store) {
            const datasets = [{"version":"v1","data":{"id":"2fz8qegsp","label":"filename.csv","color":[143,47,191],"allData":[[**allth

[2020-04-04 10:22] wmhafiz commented on #118
Thats great! I would be interested to have a go at it, if u can help point me in the right direction. I will try to find some time to read through the source code first though.

What's your username on slack? i just joined the slack channel and hope to talk to you soon!

[2020-04-04 16:06] omegadeep10 commented on #322
@gohkokhan

1. We setup nginx to serve the HTML and CSV files.
2. In the Kepler HTML file, I load the config JSON and any data files dynamically using `fetch`.
3. I then process each CSV file using the built-in `KeplerGl.processCsvData` function, assigning it a predetermined id.
4. After that, I add the processed datasets and the config to the Kepler instance.

Please see this relevant section of

[2020-04-04 20:59] leodavinci1 opened #1062 "[Enhancement] Add Portuguese translations"
Hello guys, I'm adding the translations to Portuguese following the instructions in the overview file from localizations.

[Pull Request](https://github.com/keplergl/kepler.gl/pull/1063)

[2020-04-04 21:09] leodavinci1 commented on #970
Hey guys, can I add portuguese translations with [#1062 ](https://github.com/keplergl/kepler.gl/issues/1062) ?

[2020-04-04 22:22] leodavinci1 commented on #1062
Added **locales.js** file so less configuration is needed to install a new translation:

[d1b6695](https://github.com/keplergl/kepler.gl/pull/1063/commits/d1b6695b2fdc3a967329eef78adf88650cc1d095)

[2020-04-06 05:29] macrigiuseppe commented on #1056
README is still available

[2020-04-06 05:29] #1056 closed

[2020-04-06 05:31] macrigiuseppe commented on #1051
@GarrettJMU if you are trying to use Kepler.gl as dependency you are required to add styled-components as one of your project dependencies. In fact, styled-components is one of kepler.gl peer dependencies

[2020-04-06 05:31] #1051 closed

[2020-04-06 05:54] macrigiuseppe commented on #1060
@gohkokhan if you want to dynamically interact with the map, you need to perform the following steps:
- Parse your data: https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/processors/processors.md
- Add your data to the map: https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/actions/actions.md#adddatatomap

[2020-04-06 06:05] macrigiuseppe commented on #1045
@francescocretti
1. In order to override the collapse button you can override its factory: https://github.com/keplergl/kepler.gl/blob/master/src/components/side-panel/side-bar.js#L76
2. It is not safe to target that class, you can target __add-filter-button__ class

For the bug, please create a new issue. I am gonna close this one

[2020-04-06 06:05] #1045 closed

[2020-04-06 06:13] macrigiuseppe commented on #1031
@jessicagiles I tested the satellite export map and it works. Please see below

![export-satellite-map](https://user-images.githubusercontent.com/2554552/78527922-ffdfa980-7792-11ea-90e3-bc4552171718.gif)

Are you using a particular dataset or something you can share to help reproduce the issue?

[2020-04-06 08:39] francescocretti commented on #1045
Ehy @macrigiuseppe .
Thanks for your reply.

Unfortunately there's no `add-filter-button` class in the Add Nre Filter element.

[code]

I'm using Kepler v2.0.1.

Thanks in any case for your help

[2020-04-06 14:31] jessicagiles commented on #1031
@macrigiuseppe @heshan0131 I have just tested with https://kepler.gl/demo/movement_pittsburgh and it appears to be working properly now. Thanks!

[2020-04-06 14:31] #1031 closed

[2020-04-06 15:15] macrigiuseppe commented on #1045
@francescocretti please upgrade to the latest version. A new class has been added: https://github.com/keplergl/kepler.gl/blob/master/src/components/side-panel/filter-manager.js#L93

[2020-04-06 16:27] macrigiuseppe commented on #967
refer to #970

[2020-04-06 16:27] #967 closed

[2020-04-06 16:27] macrigiuseppe commented on #653
refer to #970

[2020-04-06 16:27] #653 closed

[2020-04-06 16:28] macrigiuseppe commented on #653
Feel free to add Italian as supported language

[2020-04-06 16:30] macrigiuseppe commented on #970
this is implemented in https://github.com/keplergl/kepler.gl/pull/994

I am gonna close this one

[2020-04-06 16:31] #970 closed

[2020-04-06 18:18] MorganGellert commented on #992
I did a little more digging. It appears that when doing a mode aggregation for assigning color there is some failure in rendering. If I edit the mode type aggregation in `aggregate-utils.js` to return a constant integer then all the bins consistently show up. Any ideas why coloring by a string type would result in such issues?

[2020-04-06 21:49] MorganGellert commented on #992
FYI if you go to https://kepler.gl/demo/earthquakes and switch the layer type to Hexbin and color by MagType you can see this as well.

[2020-04-06 23:29] DanRYoung commented on #1051
@macrigiuseppe Should we update the readme to include that information? The `Install Kepler.gl` section doesn't mention this crucial dependency anywhere, so I ran into the same issue as @GarrettJMU.

(Your suggested fix worked perfectly, by the way! `yarn add styled-components` did the trick.)

[2020-04-07 10:36] tjukanovt commented on #593
Not sure if this is more about how to work with MapBox Studio, but still giving it a go here:

I am trying to use custom label layer in MapBox **AND** move them on top of data layer in kepler.

So if I move the labels on top of data and check for example road labels, they work ok:
![image](https://user-images.githubusercontent.com/13899537/78659771-a97a8400-78d4-11ea-8c39-934ba69bafea.png)

But wi

[2020-04-07 10:39] JackKelly commented on #111
Hi, now that kepler uses deck.gl v8, I was just wondering if there's any update on using arbitrary bitmaps within (the gorgeous) kepler.gl?

In particular, I'd like to add satellite and numerical weather predictions to my kepler.js visualisations, like in [this deck.gl BitmapLayer example](https://deck.gl/showcases/gallery/bitmap-layer).

[2020-04-07 12:35] JackKelly commented on #393
Aggregating / filtering points by arbitrary polygons would be awesome.  Just wondering if there's an update on this feature, please?

[2020-04-07 13:13] JackKelly opened #1064 "[Bug][Jupyter Widget] Error displaying widget: model not found"
**Describe the bug**
Attempting to display a map in JupyterLab 2.1.0 prints an error within Jupyter Lab: "Error displaying widget: model not found"

My guess (but I really am guessing!) is that the keplergl widget needs to be updated to play nicely with JupyterLab 2.1.0.  (Or maybe I'm doing something stupid!  This is the first time I've tried installing the keplergl widget!)

**To Reproduce**

In

[2020-04-07 15:44] ibgreen commented on #118
@wmhafiz  I found you on kepler.gl slack and messaged you - I will summarize in repo later if we make progress.

[2020-04-07 17:01] maartenbreddels opened #1065 "[Bug][Jupyter Widget]: dev install gives Uncaught Error: Could not find "store""
**Describe the bug**
Dev install does not produce a working nbextension, upon creating a widget view, the js dev console gives:
[code]

Note that creating the widget works, but looking at the code it seems you only create the kepler object when the view is created:

**To Reproduce**
 * clone master
 * follow dev install instructions
 * execute
[code]
 * create a view `display(map_1)` (now the erro

[2020-04-07 17:42] maartenbreddels commented on #1065
Maybe it's an idea to commit package/yarn lock files?

[2020-04-07 20:02] maartenbreddels commented on #409
Hi,

it is not clear to me what you mean by backend connector, does this include the use case 'server side aggregation'?

I'm the main author of [Vaex](https://github.com/vaexio/vaex) which is an out of core dataframe library for Python that allows aggregation in the order of ~1 billion rows/second.
I'm focussing on visualization in the Jupyter notebook lately, and since I also write ipyvolume (a

[2020-04-07 20:20] heshan0131 commented on #393
Currently we have the feature to draw and filter points by polygon (not aggregating those)

[2020-04-08 15:07] b2kdaman opened #1067 "Geocoder Search"
**Is your feature request related to a problem? Please describe.**
There is no location based search for kepler.gl

**Describe the solution you'd like**
Using `react-mapbox-geocoder` and additional changes in UI, ie Interaction panel.
Additional kepler-gl.js panel will be added to layout which will appear in the top center of UI.
It will be a simple type-ahead text box with 5 relevant items in dro

[2020-04-08 16:55] thunter009 commented on #1067
A much needed feature IMO -- thank you!

[2020-04-08 17:47] heshan0131 commented on #1067
Love it! Will take a look today. Thanks!

[2020-04-09 02:31] Vself opened #1069 "[Bug] Not able to save or export map (Windows/MSEdge)"
**Describe the bug**
A clear and concise description of what the bug is.
I cannot save or export the map created in Kepler.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a created map in Kepler.gl
2. Click on 'Save', click 'login' under Dropbox
3. See error. A new blank project window popup.
or
1. Click 'Share', then click any of the four options.
2. Select the selections provided.
3

[2020-04-09 08:21] JackKelly commented on #1064
`pydeck` also suffers from the same problem: running `deck.show()` in a Jupyter Lab cell returns  "Error displaying widget: model not found".

A work-around in kepler's Jupyter widget is to do:

[code]

And then open `keplergl_map.html` in a browser.  (And it looks gorgeous!)

[2020-04-10 17:14] Anaisdg opened #1071 "GeoJSON with timestamps"
What would the GeoJSON with timestamps look like? Looking at the [playback part of the user guide](https://github.com/keplergl/kepler.gl/blob/master/docs/user-guides/h-playback.md), it's unclear to be whether your GeoJSON should contain arrays of values and corresponding timestamps for each location? Is the following correct?
[code]
Thank you!

[2020-04-10 20:53] macrigiuseppe commented on #1069
@Vself can you please describe the bug?

[2020-04-10 21:18] macrigiuseppe commented on #1071
Hi @Anaisdg, after looking at the documentation, I agree there is a lack of information. We are updating the docs with #1072 .

using GeoJson, you can have only one timestamp value (no list) within the properties object.

[2020-04-10 21:19] macrigiuseppe commented on #1065
@maartenbreddels make sure all kepler.gl peer dependencies are satisfied. I think you may have an old version or redux and/or reacrt-redux

[2020-04-10 21:21] Anaisdg commented on #1071
@macrigiuseppe thank you! Will an example geoJSON be included in the documentation?

[2020-04-10 21:25] macrigiuseppe commented on #1071
I will add a tabular and geojson example;

In the meanwhile, can you please try something like this:
[code]

[2020-04-10 21:34] Anaisdg commented on #1071
@macrigiuseppe, thank you for your reply. I'm a little confused, I only need one timestamp but an array of values (that occurred at different intervals)? How do you specify which values happen at which timestamps?

[2020-04-11 03:03] Vself commented on #1069
@macrigiuseppe
I can't save or export the maps created in Kepler.gl
click 'Save' or 'Export' will either open a new project or no response.

[2020-04-11 03:09] macrigiuseppe commented on #1069
@Vself just tested both save and export and they are working fine.

Can you please describe the steps (including screenshots)? It's important to know the steps you are performing to better troubleshoot your issue.
If you are using a custom dataset, would you share a sample?

[2020-04-11 03:13] Vself commented on #1069
@macrigiuseppe
The screenshots and detailed steps are listed above.
(Go to a created map in Kepler.gl
Click on 'Save', click 'login' under Dropbox
See error. A new blank project window popup.
or
Click 'Share', then click any of the four options.
Select the selections provided.
Click 'Download' or 'Export'.
See error. No response.)
I suspect that if this tool is particularly developed for OS system

[2020-04-11 03:17] macrigiuseppe commented on #1069
@Vself can you please share your OS System and Browser?

[2020-04-11 03:19] Vself commented on #1069
@macrigiuseppe
Sorry but as I said I'm using Windows 10 and Microsoft Edge.
Is this the reason why it doesn't work for me?

[2020-04-11 03:33] macrigiuseppe commented on #1069
I was able to reproduce it using windows and ms edge. I will look into this issue.

In the meanwhile, you can use chrome on windows.

[2020-04-11 03:35] Vself commented on #1069
@macrigiuseppe
Thank you very much for the suggestion.
I will try if it works in Chrome. (hopefully)

[2020-04-11 04:20] macrigiuseppe opened #1073 "[Bug] Export image preview not loading"
Windows10/MSEdge

[2020-04-11 06:00] BioBricoleur opened #1075 "[Bug] Carto data not correctly displayed"
**Describe the bug**
After saving and publishing to carto, data laer was renamed (not a problem) but alos scrambled rather than being geolocated to the lat lon, points were in regimented but random grid

**To Reproduce**
Steps to reproduce the behavior:
1. Go to share map
2. Save to carto
3. copy and open shared link
4. See scrambled data, cant get back to original

**Expected behavior**
Be able t

[2020-04-11 06:23] ashydv09 commented on #1012
Screen white out when selecting trip while plotting a linestring geojson, however it is getting plotted when selected polygon
Sample csv data
id,geojson
one,"{""features"": [{""geometry"": {""coordinates"": [[77.590508, 12.932197], [77.590591, 12.932181], [77.590508, 12.93222], [77.590508, 12.932197], [77.59051, 12.932197], [77.590508, 12.932197], [77.588867, 12.928998], [77.60179, 12.866754], [77

[2020-04-11 06:37] ashydv09 opened #1076 "white screen when selecting trip visualisation"
**Describe the bug**
The browser goes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'kepler.gl'
2. Add data
2. Click on 'select Trip visualisation'
4. See error

**Expected behavior**
Trip map

**Desktop (please complete the following information):**
 - OS: [windows]
 - Browser [e.g. chrome]

**Additional context**
Polygon is built with same

[2020-04-11 06:37] ashydv09 commented on #1076
Data

id,geojson
onw,"{""features"": [{""geometry"": {""coordinates"": [[77.590508, 12.932197], [77.590591, 12.932181], [77.590508, 12.93222], [77.590508, 12.932197], [77.59051, 12.932197], [77.590508, 12.932197], [77.588867, 12.928998], [77.60179, 12.866754], [77.590508, 12.932197], [77.590591, 12.932181]], ""type"": ""LineString""}, ""properties"": {""bike_id"": ""43633"", ""user_id"": ""4387310

[2020-04-12 15:55] akelai opened #1078 "Zoom in/out buttons in map"
I'm not sure if this is a feature request or something that I don't know how to achieve.

Zoom in and zoom out buttons on the map are needed: any current way to achieve that (in a Jupyter notebook, in configuration file...), or suggestion/workaround?

[2020-04-13 05:01] macrigiuseppe commented on #1069
@Vself i created a patch, can you try this: https://deploy-preview-1074--keplergl.netlify.com/
and let me know if it works?

[2020-04-13 05:02] macrigiuseppe commented on #1075
hey @VictorVelarde, can you look into this and check whether it's a CARTO issue?

thank you

[2020-04-13 05:26] Vself commented on #1069
@macrigiuseppe
I just tried to save and export my map.
This time 'Share' works, now I can export the maps or the data.
However, 'Save' is still malfunctional... Dropbox shows Error 400, and Cartio pops a new project window like before after I logging in my account.

Thank you very much for your help, at least now I can somehow store the results after all.

[2020-04-13 05:28] macrigiuseppe commented on #1069
@Vself That's good to hear. I will deploy to prod and you can retest it. Dropbox should work once deployed into prod.

[2020-04-13 05:29] #1069 closed

[2020-04-13 18:03] heshan0131 commented on #1076
Hi @ashydv09 looks like your geometry doesn't contain ts, please take a look at the how to link on select trip layer regarding data format

[2020-04-13 23:38] jonsadka opened #1079 "[Bug] Localization changes are unsupported for injected components"
Changes from https://github.com/keplergl/kepler.gl/pull/994 now pass translation keys into injected components instead of the translations themselves.

This is a breaking change because props like `title` in `ModalDialogFactory` are rendering incorrectly. To fix, the following is now required:
- The addition of an external dependency (`react-intl`)
- The host application to be wrapped in `IntlProv

[2020-04-14 04:22] miketsui3a opened #1080 "[QUESTION] It is possible set the strokeColor scale manually?"
let say I have a data represent traffic condition of a road.
I have a congestion index ranges from 0 to 9.
I want 0-2 showing color green,  3-7 showing color yellow and 8-9 showing red.
Is it possible?

[2020-04-14 04:53] miketsui3a commented on #399
Is the value customization still in progress?

[2020-04-14 07:07] tjukanovt commented on #593
Answering my own question here: apparently Kepler is working with the ready components to recognize "layer groups" from MapBox and according to the documentation it is not possible to create custom components: https://docs.mapbox.com/studio-manual/overview/components/#custom-components

So I solved the issue by modifying the built-in label components to filter out the relevant names for my style a

[2020-04-14 07:25] heshan0131 commented on #593
kepler uses regex to filter layers based on `layer.id`. the exact regex is
[code]

so if you name your custom mapbox style layer to be `xx-label` it will be automatically grouped by kepler

[2020-04-14 12:57] VictorVelarde commented on #1075
Hi @BioBricoleur

I'm sorry to hear you had problems with the provider.

I have tested it right now with my account and both public and private maps seemed to work. So I suspect the problem might be related to something in the dataset itself.

It would be very useful to have a copy of the original dataset (.csv) or at least a sample of it. And if it is a public map, would you mind sharing here the

[2020-04-15 14:14] b2kdaman opened #1081 "[Feat] Tooltip formatting"
**Is your feature request related to a problem? Please describe.**
Most of the time data that is shown in tooltip is hard to read. I suggest to add formatting for tooltips per column.

**Describe the solution you'd like**
I would implement tooltip formatting with attached design.(Which is also done by myself)

**Describe alternatives you've considered**
No other alternatives available. Pre-formatt

[2020-04-15 17:28] b2kdaman opened #1082 "[Feat] Geocoder search options"
**Is your feature request related to a problem? Please describe.**
Geocoder search options can have additional options for user to customize

**Describe the solution you'd like**
I provider the design and will do the code implementation of following features:
* Pin color
* Map focus option(place coordinates OR bbox)

**Describe alternatives you've considered**
None

**Additional context**
Figma ac

[2020-04-15 19:16] b2kdaman opened #1083 "[Feat] Tooltip comparsion"
**Is your feature request related to a problem? Please describe.**
Currently user can only see one pinned tooltip. It would be cool to have multiple pinned tooltips and comparsion between them. Main entity can be set as master.

**Describe the solution you'd like**
I want to implement the code part for that and priovided the design.
Multiple tooltips can be opened.
While tooltips are pinned other

[2020-04-16 08:49] alessandro2c opened #1085 "[Bug] Visualization Problem with Firefox75"
**Describe the bug**
With firefox version 75  kepler doesn't show map.

**To Reproduce**
Steps to reproduce the behavior:
0. Firefox 75 - Archlinux - Kernel 5.6.4-arch1-1
1. Go to https://kepler.gl/demo
2. Click on "try sample data"
3. Choose what you want
4. You don't see anything
5. In developer console you see: "Error: AnimationLoop.onCreateContext - illegal context returned"

**Expected behavi

[2020-04-16 09:50] alessandro2c commented on #1085
Sorry, the problem was related to "Cinnamon Desktop Manager" and probably with the driver of my intel uhd 630.  I noticed that was something wrong on my system when i visit mapbox site examples. It displsy me this error
"Mapbox GL unsupported
Mapbox GL requires WebGL support. Please check that you are using a supported browser and that WebGL is enabled." even if webgl was not disable. Strange ff75

[2020-04-16 09:50] #1085 closed

[2020-04-16 17:51] heshan0131 commented on #1080
@miketsui3a what's the format of your data? in geojson layer you can define strokeColor a s property for the feature, which makes apply arbitrary color possible.

https://docs.kepler.gl/docs/user-guides/b-kepler-gl-workflow/a-add-data-to-the-map#2-auto-styling

[2020-04-17 02:01] XinyiHolly opened #1086 "1. Go to Layersclick on new layer"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Layers'
2. Click on 'new layer'
3. Click on 'Data Source'
4. Cannot change the data source

**Expected behavior**
The data source can be changed by selecting from existing data files

**Screenshots**
![image](https://user-images.githubusercontent.com/25182813/795243

[2020-04-17 08:21] b2kdaman commented on #1086
Seen that bug too!

[2020-04-17 09:12] heshan0131 commented on #1082
what's the difference between focus map on selected result `point` and `area`?

[2020-04-17 09:32] b2kdaman commented on #1082
When result contains `bbox` it zooms to it's area
If not it zooms to `center`. (lat, lon)
Selecting a point option always uses center. For most geographical places that have `bbox` center is not in the mathematical center of the area. Not in center of `bbox` in this case.

[2020-04-17 09:50] akelai commented on #1064
@JackKelly your work-around does not take advantage of Kepler.gl feature to render the interactive widget inside the notebook, allowing to edit it, and then save the notebook (taking care of having "Settings -> Save Widget State Automatically") to save the state of the Kepler-gl widget: then use e.g. "map_1.config" to get the saved config from it, that could be saved as a file (that could be used

[2020-04-19 03:36] ringhilterra opened #1088 "Export Image: Export as SVG or TIFF file and / or enable custom resolution selection"
**Is your feature request related to a problem? Please describe.**
I want to export my map as SVG or TIFF file format, or at least be able to set a custom large resolution so that I can print it on a poster (for example 5000 x 5000).

**Describe the solution you'd like**
The ability to export as SVG or TIFF would be really useful since those formats can be scaled to any format or be able to select

[2020-04-20 07:26] djouallah opened #1089 "USA boundary does not render properly using multi polygon geometry"
I am using this file that contain the geometry of all countries,
https://www.dropbox.com/s/qtkrwuhwsn55t89/Countries_Geometry.csv?dl=0

all the countries render fine except the USA, I get this
![image](https://user-images.githubusercontent.com/12554469/79725106-0aba4280-832c-11ea-8acf-7636959d9a89.png)

[2020-04-21 21:22] isaacbrodsky opened #1090 "Close modals with escape"
**Is your feature request related to a problem? Please describe.**
Modal dialogs like the add data and dataset explorer should be closable with the escape key.

**Describe the solution you'd like**
n/a

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2020-04-22 00:02] b2kdaman commented on #1081
@macrigiuseppe

[2020-04-22 00:02] b2kdaman commented on #1082
@macrigiuseppe

[2020-04-22 00:04] b2kdaman commented on #1083
@macrigiuseppe

[2020-04-22 06:42] maartenbreddels commented on #1065
Thanks Giuseppe,

I see a top level yarn.lock, but does that influence the packages in https://github.com/keplergl/kepler.gl/blob/master/bindings/kepler.gl-jupyter/js/package.json ?

How do I do that?

cheers,

Maarten

[2020-04-22 20:52] macrigiuseppe commented on #1081
@b2kdaman this an interesting feature, really useful

I have the following questions:
1) How do we deal with timestamps, people may want to format timestamps/dates using different formats
2) currency and other locale-specific information need to be handled correctly in terms of sign, e.g. $, and position, e.g. $12 vs 12€.

How would we handle those above requirements? keeping in mind, the first on

[2020-04-22 20:57] macrigiuseppe commented on #1083
@b2kdaman I think we can break down this issue into multiple features:
1. Giving users the ability to display more than one tooltip at any given time. Currently, we only display one but we could change it in a way we display any reasonable number. You can imagine a map with multiple areas and I want to visualize tooltip per each area.
2. The user will be able to define the master (or parent) toolt

[2020-04-22 20:58] b2kdaman commented on #1081
@macrigiuseppe well it's just a sample in drop down. It can be expanded. So if we stick to case #2 in the design sheet we'll add **T** option with numerous choices like:
T 12/12/2019
T Mon, 12 Sep, 2019
etc
About second part d3-format should handle it out of the box. User locale can be added as a separate drop-down.

[2020-04-22 21:00] macrigiuseppe commented on #1086
This is not an actual bug. This was created by design.

@b2kdaman @XinyiHolly currently you need to create a layer and map it against a different dataset

[2020-04-22 21:03] b2kdaman commented on #1083
Sounds good to me

[2020-04-22 21:24] quincyonthelam commented on #1081
Here is my input as a user who had a similar want.

Say I had a `\n`-separated list of items as a property value, but because the items were long, I would have them wanted listed one per line. Currently this not possible. The simplest thing would be to have an option that I guess basically wraps the property value in `<pre>`.

[2020-04-22 23:59] b2kdaman commented on #1081
I wonder if formatting would help in this case. But it can be added as additional format...

[2020-04-23 14:38] rogerganga commented on #583
I am getting the following:

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md
KeplerGl(height=600)

[2020-04-23 15:55] rogerganga opened #1091 "Feature to set output location to save map"
**Problem:**
The current save_to_html function does not take in location to store output. Hence I cannot organize my output html files to a specific output folder and need to write more code.

**Solution:**
A paramter in save_to_html to take in relative location of where the html file has to be stored.

**Example Syntax:**
map_1.save_to_html(file_name='first_map.html',output_location='./output/')

[2020-04-23 21:21] b2kdaman commented on #643
Please update the link

[2020-04-24 01:53] cameronkruse commented on #1064
I'm getting this as well. So far no luck with updating or any other trouble shooting.

[2020-04-24 04:01] YinZhaoJie commented on #156
Hi  macrigiuseppe ,  is this tool : "https://www.mapbox.cn/labs/mbxdataexplorer/" from your team or company (Uber and mapbox are the family now, isn't?) ?
Is there any possible that make the tool's map embed into kepler.gl?  As you know,in china,we need map with a map-review-number (审图号) 。

[2020-04-24 08:29] DrSosh commented on #435
This would be very useful. Manipulating data to be able to "simulate" it explodes the size of the data file very quickly and is not practical. Any hint on when this can be expected?

[2020-04-24 08:37] b2kdaman commented on #1083
First iteration:
1. User can only one item
2. However he can hover over other items
3. Delta will be counter accordingly
4. Dropdown with Absolute or Percentage delta selection
@heshan0131

[2020-04-24 08:58] heshan0131 commented on #643
Link has been updated

[2020-04-24 09:10] heshan0131 commented on #1082
Can it be automatic? I feel like it should always search for bbox, and if the result doesn't contain bbox, it should use the center as a fallback. To me the less a user has to manually config, the better.

[2020-04-24 15:12] b2kdaman commented on #1082
@heshan0131 It's automatic, but what if user wants to have pin visible, in some cases it's not
Maybe it should be 'center on pin' toggle

[2020-04-24 15:13] b2kdaman commented on #1081
Started working on this feature

[2020-04-26 00:38] heshan0131 commented on #1081
for the tooltip format to extend to support all field types: `string`. `real`, `timestamp` `date` `integer` etc. here is the suggested implementation detail:

the original tooltipConfig is this
[code]

I suggest we change it to:
[code]
So the config becomes:
[code]

And the format function can be implemented as:
[code]

For your PR, you should only address the `formatNumber` case,

[2020-04-26 05:56] b2kdaman commented on #1081
Cool, thanks

[2020-04-27 19:41] MorganGellert commented on #992
With the merge of 1070 this is resolved

[2020-04-27 19:41] #992 closed

[2020-04-28 03:06] YinZhaoJie opened #1095 "Can I get the Hexbin layer's boundary data?"
# Could Hexbin layer data can be download in any formart (geojson,csv,etc..)?

## I want the boundary of hexagons so that I can use it to do the next caculate in GIS platform. # #

[2020-04-28 03:41] YinZhaoJie opened #1096 "Map addition."
# Is this tool : "https://www.mapbox.cn/labs/mbxdataexplorer/"  developed by your team or company?

## (Uber and mapbox are a family now, isn't it?)

## Is there any possible that you  make the tool's map embed into kepler.gl?  As you know,in China,we need map with a map-review-number (in Chinese: 审图号) 。

![map_review_number](https://user-images.githubusercontent.com/46802408/80444722-fa662100-894

[2020-04-29 01:01] XinyiHolly commented on #1086
Cool, but how can we map it against different datasets? I was describing
the problem there. When I tried to click on the dataset, it didn’t respond.
Where should I click instead?

On Wed, Apr 22, 2020 at 4:00 PM Giuseppe Macrì <notifications@github.com>
wrote:

[2020-04-29 12:08] luckysuman03 commented on #768
Hello, any updates on this?

[2020-04-29 17:12] macrigiuseppe commented on #1086
@XinyiHolly as I mentioned before, you can't change the layer dataset once it was selected. You need to create a new layer and the reason to do so it's because of all properties and attributes of a given layer depend on the mapped dataset, if you were able to switch the current layer dataset you would have to start from scratch and fill out all properties again.

I am gonna close this one since th

[2020-04-29 17:12] #1086 closed

[2020-04-29 18:58] arcrank commented on #1064
I am getting same errors.  This wasn't happening a few weeks ago, I tried with new env and still no luck.

[2020-04-29 21:11] eugenest opened #1097 "How to build demo-app as static?"
hi and thank you for kepler)

my issue is like this https://github.com/keplergl/kepler.gl/issues/354

are there options to run kepler-gl demo-app without node at all (for example, if node isn't available on production server)? i want just to have production webpack build and upload index.html and bundle.js on server with configured nginx

i've tried, but with no success — after webpack -p and depl

[2020-04-30 08:35] ALIRAZA705 commented on #743
hi sir .... i have a question si can we control all the setting of kepler.gl through code .... like if i want to filter my data through code instead of kepler pannel that appears on the left side of the browser .... can we do that if yes then how can i fix this ?

[2020-04-30 09:17] ALIRAZA705 opened #1098 "Not able to apply filters on my data through code in React"
can i add filter or time visualization through code instead of kepler.gl panel that appears on the right side of the browser... if yes then please help me how can i fix this

[2020-04-30 13:20] rogerganga commented on #1095
Hi do you mean adding hexbin layer into kepler or into GIS?

Where do you want the hexbin layer to be downloaded from?

Possible to add any image?

[2020-04-30 14:31] YinZhaoJie commented on #1095
Hi rogerganga, I want  to download the Hexbin layer vector data (maybe in pixel xys )  from kepler.gl, and   it would be great helpful that   it could be downloaded in geographic coordinates.
Beacuse I can get where my hot place is  in kepler.gl 's Hexbin layer ,and  I  need the boundary of each  hexagons to get (ST_intersects)  other data in my PostgreSQL.

[2020-04-30 18:47] isaacbrodsky opened #1099 "Support GPX and NMEA files"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to load GPS trace files into kepler.gl.

**Describe the solution you'd like**
Would be nice to be able to directly load GPX and NMEA log files in Kepler.

**Describe alternatives you've considered**
It's very possible to use other OSS tools to process these files into other formats (like lat/lng CSV), but this r

[2020-04-30 19:05] heshan0131 commented on #1082
if the result only contains a bounding box, can we show an actual polygon? or just put a pin in the center?

[2020-05-01 17:15] b2kdaman commented on #1082
@heshan0131 right now we are zooming in on bounding box pin center. In most cases pin position is not in the center of bbox if it's provided.

[2020-05-01 22:28] #1080 closed

[2020-05-02 04:42] rogerganga commented on #1095
Hi @YinZhaoJie ! If you mean exporting the below hexbin layer, then I am not sure if there is a way to do it. A possible solution that I can think of is it pragmatically convert your coordinates into a hexbin structure and export it as shapefile or geojson and import in your GIS software. I am not sure if you can directly export the below structure as a shapefile.

![image](https://user-images.git

[2020-05-02 05:23] macrigiuseppe commented on #768
@luckysuman03 this feature is currently on hold. I will post updates as soon as we resume working on it

[2020-05-02 17:56] UnityEQ opened #1100 "How to load a 1.2gb file?"
I'm plotting national zipcodes in a geojson and importing it into Kepler, although chrome has been saying "loading" for the past 10hours. Is there any technique to make this quicker or have a successful import with a file of this size?

[2020-05-02 18:27] UnityEQ commented on #410
Any updates on this!! Can't map national zips because the geojson is too big. (1.2gb). National Zip boundaries are about 450mb without appended data.

[2020-05-03 01:15] macrigiuseppe commented on #1098
@ALIRAZA705 thank. you for using Kepler.gl.

You can always interact with Kepler.gl programmatically through Kepler.gl API: https://docs.kepler.gl/docs/api-reference.
For your scenario you want to look at two APIs:
- https://docs.kepler.gl/docs/api-reference/reducers/vis-state#addfilterupdater
- https://docs.kepler.gl/docs/api-reference/reducers/vis-state#setfilterupdater

In Kepler.gl, we first c

[2020-05-03 01:19] macrigiuseppe commented on #1100
@UnityEQ Chrome has a limitation when uploading a file so you have two options:
- try a different browser, e.g. safari
- upload your file into a CDN or google drive or dropbox, basically where you can have a URL that can point to the file. Using the generated file URL you can use it into kepler to load your data.

Please let me know if it works.

[2020-05-03 01:24] macrigiuseppe commented on #1097
@eugenest in order to compile the demo app into a single file, you need to create a build step in package.json.
You can look at the website folder to find out the build step you require, here: https://github.com/keplergl/kepler.gl/blob/master/website/package.json#L19

[2020-05-03 01:26] macrigiuseppe commented on #1096
@YinZhaoJie we didn't build the above tool and as far as Uber and Mapbox, we have a running collaboration but we are not "family" as you mentioned.

Incorporating this tool is not part of Kepler.gl roadmap

[2020-05-03 01:26] #1096 closed

[2020-05-03 09:29] jvanlier opened #1101 "Ability to aggregate (sum) over time range in order to map Covid-19 data"
**Is your feature request related to a problem? Please describe.**
I've been looking into using Kepler.gl for the typical Covid-19 data: daily case counts, aggregated per region (Lat/Lon coordinate of centroid), with a time-based filter to visualize development over time.
The problem I ran into is: with daily data on a fixed set of coordinates, using simple Points (circles) per Lat/Lon, the only s

[2020-05-04 10:07] jvanlier opened #1103 "Binning for Hexbin changes when using timeline playback while moving the map around."
**Describe the bug**
When using the Hexbin, and the timeline playback feature, the bins shift around when the map is moved. They do not shift around when moving the map while on pause. This makes it quite awkward to investigate and compare locations while the timeline is progressing.

See attached video (in the attached zip).

**To Reproduce**
I attached a couple of files in the .zip:
- CSV with s

[2020-05-05 19:45] heshan0131 opened #1104 "Update Jupyter Widget to kepler.gl@v2"

[2020-05-05 19:46] heshan0131 commented on #1103
https://github.com/keplergl/kepler.gl/issues/1104

[2020-05-05 19:55] heshan0131 commented on #1095
export directive layer data is not possible right now, however, it is a necessary feature to add

[2020-05-06 03:07] YinZhaoJie commented on #1095
Yes, it will be a great tool  if it can export directive layer data. Best wishes to kepler.gl .

[2020-05-06 07:33] eugenest commented on #1097
cannot check it right now, but looks like what i need

thank you!

[2020-05-06 07:33] #1097 closed

[2020-05-07 02:33] NhuNguyenThao opened #1105 "[Bug][Jupyter Widget] Can not show the map"
**Describe the bug**
I currently use Jupyter Notebook to query and add data to the Kepler map. After a few times successfully showing, then it just shows the config of the map as in the attached below.

![Screen Shot 2020-05-07 at 9 25 46 AM](https://user-images.githubusercontent.com/41143727/81247684-d55c6700-9044-11ea-894b-7f6f967d3f51.png)

**Environment (please complete the following informati

[2020-05-07 02:57] NhuNguyenThao opened #1106 "[Bug][Jupyter widget] Can not save map to html"
**Describe the bug**
I cannot save my map to html (nearly 200MB). The error is showed in the screenshot below.

**Environment (please complete the following information):**
 - Python version: Python 3.8.1
 - keplergl Widget version [e.g. 0.1.0]

![Screen Shot 2020-05-07 at 9 53 27 AM](https://user-images.githubusercontent.com/41143727/81249520-063e9b00-9049-11ea-8a34-e4d981c99126.png)
![Screen Sho

[2020-05-07 09:31] alessiocamillo commented on #351
Hi,
I am newbie in Superset and Kepler, can you help me?
I tried to integrate Kepler (v1.1.3) in Superset (v036) and I have this error:

An error occurred while rendering the visualization: Error: Could not find "store" in the context of "Connect(Container)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the corresponding React context co

[2020-05-07 13:08] ashishyadav23 commented on #793
@qxlsz I render hex_id dataset in Kepler and  when I click on any hex I want to get that hex id object

[2020-05-07 16:34] macrigiuseppe commented on #351
@alessiocamillo please upgrade to the latest version of kepler.gl. The problem has been fixed

[2020-05-07 16:34] #351 closed

[2020-05-07 20:39] macrigiuseppe commented on #1076
@ashydv09 you can take a look at the doc: https://docs.kepler.gl/docs/user-guides/c-types-of-layers/k-trip

[2020-05-07 20:39] #1076 closed

[2020-05-07 20:40] macrigiuseppe commented on #1075
closing this one because inactive

[2020-05-07 20:40] #1075 closed

[2020-05-07 20:40] macrigiuseppe commented on #1062
this is implemented

[2020-05-07 20:40] #1062 closed

[2020-05-07 20:41] #1039 closed

[2020-05-07 20:41] #1060 closed

[2020-05-07 20:43] macrigiuseppe commented on #1032
gonna close this because inactive

[2020-05-07 20:43] #1032 closed

[2020-05-07 20:44] macrigiuseppe commented on #1030
gonna close this because inactive

[2020-05-07 20:44] #1030 closed

[2020-05-07 20:46] macrigiuseppe commented on #1028
@jaronimoe this is currently not supported in Kepler. You may refer to #1014

[2020-05-07 20:47] macrigiuseppe commented on #1015
closing because inactive

[2020-05-07 20:47] #1015 closed

[2020-05-07 20:50] macrigiuseppe commented on #902
@Joonalai thank you for sharing this, mobile devices are not our highest priority right now. Also, I tried nyctrips demo on my iPhone 11 and it works

[2020-05-07 20:50] #902 closed

[2020-05-07 20:51] macrigiuseppe commented on #895
@heshan0131 this is completed, correct?

[2020-05-07 20:52] macrigiuseppe commented on #881
@hkt999 thank you for sharing this but mobile device support is not part of our high priorities tasks

[2020-05-07 23:29] elaineleeworld opened #1107 "Question about Y axis in timeline bar"
I successfully created a Kepler.gl map to use for my data.  Just a question as to what data the default Y axis is displaying?  When I choose filters for the timeline bar, it correctly displays corresponding data, ie Latitude etc.  The default Y axis, however, appears to display spikes in data I am not sure why.   I have attached a screenshot of a spike example.  There is no default pop up when I h

[2020-05-08 01:17] heshan0131 commented on #1107
it's a time histogram, with a fix number of bins set to 100

[2020-05-08 15:51] elaineleeworld commented on #1107
ah I see.  thanks, @heshan0131 for your quick response. can you direct me to where in the Kepler codebase is doing this aggregation of bins to 100?

[2020-05-08 22:49] mayteio commented on #981
Any movement here? Can you outline what needs to be done and I can have a crack at it?

[2020-05-09 04:59] firasm commented on #1064
Any updates on this? perhaps the best way is to downgrade Jupyterlab versions? Can anyone let me know the last jupyterlab version that this worked with?

[2020-05-09 05:08] firasm commented on #1105
I think this is the same bug as #1064

[2020-05-09 08:49] PraAnj commented on #795
Any progress on this? Badly need this.

[2020-05-09 09:19] bskrt opened #1108 "Manual color scale"
_I would like to manually set the color of specific points from timeseries data._

I'm working with a large timeseries dataset with a basic point layer. The issue I have, is that when I set a color range based on a certain value, the color is set based on the entire dataset.
So on day 1, all my values are light blue , and on the final day, every single value on the map is bright red because of the

[2020-05-10 00:57] heshan0131 commented on #1108
@bskrt I understand completely your usecase. To me, option 2 makes more sense. Color scale is designed to use the entire dataset when it comes to time.  It makes sense for time animation where the goal of the animation is to display value change over time.

However, when it comes to filter data based on time, the persist in color scale doesn't make much sense.

We have work in progress for the man

[2020-05-10 22:14] bskrt commented on #1108
@heshan0131 I hacked together a working version of option 2.
In short, I'm just checking the data field names for a certain value (e.g. fillColor) and if it exists, it grabs that value as the fill color. Only annoyance is that if that column exists all other color functionalities obviously don't work but that's good enough for now.
If anyone is interested I'll put it up somewhere.

I guess that mo

[2020-05-11 03:50] rdhara commented on #1107
@elaineleeworld Here you go: https://github.com/keplergl/kepler.gl/blob/ee9e460f6aacd06ef976968f04b79f0b3479bc96/src/utils/filter-utils.js#L774

[2020-05-11 03:55] rdhara commented on #1090
@isaacbrodsky If you are working with Kepler in a React app you can listen for the keydown/keyup event in a component and dispatch appropriate toggle actions:
[code]
You can read more about actions [here](https://github.com/keplergl/kepler.gl/blob/master/docs/api-reference/actions/actions.md)

[2020-05-11 16:18] kindjacket commented on #1067
This is a great feature. The pin is wrong though. It is anchored by its center rather than the base. This makes it confusing as the user zooms out.
<img width="1205" alt="Screen Shot 2020-05-11 at 09 16 30" src="https://user-images.githubusercontent.com/7778402/81584975-59299280-9368-11ea-9daf-f012211236eb.png">
<img width="1207" alt="Screen Shot 2020-05-11 at 09 16 40" src="https://user-images.gi

[2020-05-11 16:46] elaineleeworld commented on #1107
thank you!  @rdhara

[2020-05-12 00:01] b2kdaman commented on #1067
This is how icon layer is rendered. @heshan0131 any suggestions?

[2020-05-12 19:23] isaacbrodsky commented on #1099
One source of test data is OSM: https://www.openstreetmap.org/traces
Their wiki has some more information on the formats: https://wiki.openstreetmap.org/wiki/GPX https://wiki.openstreetmap.org/wiki/NMEA

[2020-05-12 19:27] ibgreen commented on #1099
See discussion in loaders.gl ticket https://github.com/visgl/loaders.gl/issues/701.

Suggest creating dedicated loaders.gl ticket.

[2020-05-12 19:34] kylebarron commented on #1099
I think GPX is much more widely used than NMEA, so I would suggest putting effort in GPX first. To be discussed further in loaders.gl, but GPX is a broad specification (closer to KML in my opinion), so loading it to GeoJSON might lose some information, and a GPX -> GeoJSON -> GPX roundtrip might in general be hard to create the same GPX file.

[2020-05-12 19:34] isaacbrodsky commented on #1099
See also visgl/loaders.gl#737

[2020-05-12 19:37] kylebarron commented on #1099
I made a separate issue in loaders.gl just for GPX: https://github.com/visgl/loaders.gl/issues/738

[2020-05-12 19:39] isaacbrodsky commented on #1099
I agree, GPX is probably much more widely used for interchange. Converting out of GPX might lose the concept of tracks/routes/waypoints that GPX has. It also has data specific to the GPS use case like dilution of precision, number of satellites visible, graphical symbol, and so on.

[2020-05-12 19:43] ibgreen commented on #1099
In general I would personally prefer to offer such loaders with two modes / output format - a mode that is not lossy, and a mode that converts to geojson (`options.gpx.geojson: true`).

What the non-geojson output format should be is up for discussion. It could be custom for each loader (whatever the underlying loaders return), lightly normalized, or geojson with extensions, etc.

[2020-05-13 08:33] heshan0131 commented on #1106
Please convert the Timestamp in your DataFrame to a unix time string and try again

[2020-05-13 08:34] heshan0131 commented on #1064
Upgrade widget to kepler.gl@^2 and supporting JupyterLab 2
https://github.com/keplergl/kepler.gl/pull/1110

[2020-05-13 08:34] heshan0131 commented on #1064
https://github.com/keplergl/kepler.gl/pull/1110

[2020-05-13 08:35] heshan0131 commented on #1065
https://github.com/keplergl/kepler.gl/pull/1110

[2020-05-13 08:36] #833 closed

[2020-05-13 08:58] heshan0131 commented on #1064
just published `keplergl==0.2.0` with support for JupyterLab 2.0

[2020-05-13 19:02] heshan0131 commented on #1065
@maartenbreddels Can you upgrade to keplergl==0.2.0, it should fix it

[2020-05-13 19:03] heshan0131 commented on #1103
#1110

Please upgrade to keplergl==0.2.0, it should fix this

[2020-05-13 19:04] heshan0131 commented on #1100
@ibgreen A good test case for loaders.gl integration

[2020-05-13 19:08] firasm commented on #1064
I am now able to get this working in jupyter lab 2.1.2!! Hooray! Thanks @heshan0131

For future reference here are my versions:

`jupyter --version`

[code]

Node version:
`node v10.20.1`

[2020-05-13 19:15] jvanlier commented on #1103
Confirmed! Works now, thanks!

[2020-05-13 19:15] #1103 closed

[2020-05-13 19:17] firasm opened #1115 "[Bug][Jupyter Widget] Error messages related to npm in the command line"
**Describe the bug**
Things are working fine, but I am getting a strange error in my terminal after starting jupyter lab

**To Reproduce**
Steps to reproduce the behavior:
1. load kepler
2. Display map

**Expected behavior**

No errors in the console related to jupyterlab widget

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screen Shot 2020-05-13 at 12 16 03 PM](

[2020-05-13 20:29] #1064 closed

[2020-05-13 21:35] akelai commented on #1064
No success here.
Here's what I've done:
[code]
After this command, the automatic build of JupyterLab started and failed, so I've done:
[code]
...and the build completed successfully.
Then in JupyterLab I've tried with:
[code]
...but I've got the same behavior as before (the "Loading widget..." message, without actually showing the widget).

These are my versions:
```jupyter --version```
[code]

[2020-05-13 23:23] firasm commented on #1064
You can try my instructions here: https://github.com/firasm/keplergl_tutorial/blob/master/1%20-%20Install/Installation%20instructions.ipynb.

You may need to also run

`jupyter labextension install keplergl-jupyter`
and
`jupyter labextension enable keplergl-jupyter`

P.S. I'd also encourage you to update jupyter to 2.1.2 (`pip install jupyter --upgrade`) just in case something changed on their sid

[2020-05-14 09:00] akelai commented on #1064
Thank you for your kind help @firasm
Though, I haven't solved the problem.
I've done the following:
[code]

So now I have:
```jupyter --version```
[code]

Oh, maybe this is useful to highlight: I see from Chrome developer console this problem when I open a .ipynb file that uses Kepler.gl:
[code]

[2020-05-14 10:38] firasm commented on #1064
Ah, it seems your keplergl widget version is old. You’ll need the latest one that was released yesterday:

`pip install keplergl —upgrade`

[2020-05-14 11:43] akelai commented on #1064
Thanks @firasm, I thought I had upgraded to the latest one relased yesterday, but probably I did it in a wrong way... because well, after a `pip install keplergl --upgrade`, **now it is working**, the keplergl map is shown into JupyterLab.

Though, in Chrome developer console, I still get that error:
[code]
I'm curious if I'm the only one now with a working keplergl widget in JupyterLab 2, who get

[2020-05-14 13:51] tanveer21 commented on #647
is there any update on **getMapImage** ?  it would be a great help if this helps me to export the image of the map.

[2020-05-14 19:53] heshan0131 commented on #399
This got put away for a little while, we just resumed the work. Should come out in the next month or so

[2020-05-15 05:08] johnathanchen commented on #1076
Hi, I keep getting the same problem too, and I spent the last 5 hours trying to figure out why it's crashing. Here's an example snippet:

[code]

Is there anything wrong with the format structure above? This is driving me crazy, and I read the docs multiple times. Love Kepler though; appreciate all the work you've put into it.

[2020-05-15 05:12] johnathanchen opened #1117 "[Bug]"
**Describe the bug**
Crashes when I try and load trip information that has been formatted.

**To Reproduce**
Using Jupyter, everything works except for the Trip layer. Here's an example of my data node:
`Hi, I keep getting the same problem too, and I spent the last 5 hours trying to figure out why it's crashing. Here's an example snippet:

{'type': 'FeatureCollection',
 'features': [{'type': 'Feat

[2020-05-15 07:25] heshan0131 commented on #1076
@johnathanchen the data format looks right. Can you open your chrome js console (cmd+shift+I) and take a screenshot of the red error message after the crash?

[2020-05-15 08:28] #1107 closed

[2020-05-15 13:41] tanveer21 commented on #981
Any Update on generating an image of the map?

[2020-05-15 20:01] johnathanchen commented on #1076
@heshan0131 I figured it out a few hours after I posted. For some reason, Kepler doens't play well with floating point values when dealing in ms units. Forcing them into integers seemed to do the trick. I'll keep you posted if I discover anything else! Thanks for building this.

[2020-05-15 20:43] heshan0131 commented on #1117
Do you only have 1 feature in your feature collection?

Can you send us a screenshot of the js console error? (cmd+shift+I)

[2020-05-15 21:06] johnathanchen commented on #1117
I had over 60,000 points. The problem was solved when forcing into ints on Jupyter notebook, but loading the same thing into the kepler.gl web for screenshot purposes fails. The console doesn't show anything significant... Very strange how the dataframe in Jupyter works fine (when forced from a string to geojson object), but fails on browser.

Any ideas? Polygons also fail to load properly.

![ima

[2020-05-18 13:15] cperbost commented on #393
@heshan0131 what about the count of points in the polygon? I saw it was available in version 1.1.3

[2020-05-18 21:58] ALIRAZA705 commented on #406
map i have a question from this one ? i am looking fro this from 2 days thanks alot for this one ... .. map my question is i want to use my own map layer in kepler . its working fine when i do this with keppler pannel but i don't want to show keppler pannel  so i want to use map styles through code how can i do that

[2020-05-19 06:53] tanveer21 commented on #974
Any update on generateMapImage ?
If i use this it gives me a error of
TypeError: Object(...) is not a function
Any help would be appreciated!

[2020-05-19 10:48] ianshuman commented on #200
@heshan0131 kindly answer this question.

[2020-05-19 21:14] b2kdaman commented on #1082
1. Focus on bbox and then pin. Or use existing bbox generation
2. Color selector stays.
3. Move geocoder layer to mapbox

[2020-05-24 01:25] jcfbeardsley opened #1119 "Continuous Color Gradients"
**Is your feature request related to a problem? Please describe.**
I often work with graduated datasets (e.g. ocean temperature) and Kepler.gl has been a great WebGL platform for quickly visualising a lot of these sorts of variables, so first and foremost, thanks for putting together a great platform!

By default, Kepler 'bins' the color variables according to the chosen spectrum and/or manually c

[2020-05-24 03:21] jcfbeardsley opened #1120 "Representation of vector (i.e. magnitude and direction) datasets"
**Is your feature request related to a problem? Please describe.**
Kepler currently features a range of techniques for visualising data (e.g. arcs, lines, heatmaps etc.), however none of these are ideally suited to rendering vector data (i.e. datasets with a magnitude and direction component). For the purposes of this discussion, [vector data](https://en.wikipedia.org/wiki/Euclidean_vector) refers

[2020-05-24 03:30] jcfbeardsley opened #1121 "Color transparency for line and arc datasets"
**Is your feature request related to a problem? Please describe.**
Currently the line and arc datasets allow you to specify differing start and end colours for the lat/long pairs, however it doesn't seem to be possible to specify an alpha/transparency value. Being able to scale transparency along the length of the line (e.g. alpha = 0.3 at the source and 1 at the target) would be a neat feature fo

[2020-05-24 03:46] jcfbeardsley opened #1122 "'Units' text field for column data values"
**Is your feature request related to a problem? Please describe.**
Currently there is no way for Kepler to inform the user of the units of the variable they are exploring. Although this is not required for Kepler to function, it would be really useful if these could be defined and displayed when the user is viewing tooltips, labels, legends etc.

**Describe the solution you'd like**
Once a dataset

[2020-05-24 05:09] heshan0131 commented on #1122
There is been worked on, @b2kdaman is working on the tooltip formatting functionality

[2020-05-24 05:23] b2kdaman commented on #1122
Check this feature request https://github.com/keplergl/kepler.gl/issues/1081

[2020-05-24 10:29] akelai opened #1123 "Jupyter widget: custom UI possible?"
I'm using Kepler.gl for Jupyter, i.e. I use the widget from a notebook, saving/loading JSON config, and save the result to an .html file with the readonly option set to False.

Say I have e.g. 3 layers (they may be more).
From the normal UI, one can manually hide layers and show the interesting one, using their "eye" icon.

But I would like to provide a better way to explore the work, by proposing

[2020-05-24 21:25] vertuli opened #1124 "[Bug] Crash when uploading Trip-formatted GeoJSON with less than two coordinates."
**Describe the bug**
When uploading a .geojson or .json file with Features defined in the format specified [in the documentation for a Trip](https://docs.kepler.gl/docs/user-guides/c-types-of-layers/k-trip), the UI crashes to a white screen when there are less than three coordinates.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a .geojson or .json file using the [sample data](https

[2020-05-25 05:54] NikkiLoveGod commented on #643
Just missed the window for the invite. Could we get a new invite link please? :)

[2020-05-25 06:00] mkorpela commented on #643
@heshan0131 You could also use https://elements.heroku.com/buttons/outsideris/slack-invite-automation to make a permanent solution for this invite link expiration.
It is easy to setup and has worked for many years in an open source project that I'm involved with.
![example image](https://camo.githubusercontent.com/3d39ea2a4ee53c67c7a3264299a42de8ef9ca2ca/68747470733a2f2f7261772e6769746875622e636f6

[2020-05-25 08:03] heshan0131 commented on #643
invited has been updated. I will take a look at the automation process.
Thanks!

[2020-05-25 10:01] jcfbeardsley opened #1125 "Trigger manual refresh of color and table values?"
Hi team,

I'm currently playing around with Kepler in a Jupyter notebook and getting a feel for the data structures and functions that make this thing tick. For interests sake, I've been trying to manually update the data values in a pre-loaded data variable through the Javascript console. In this example, the dataset I've loaded is called `Temperature_0` and I'm able to update its value (to 50 in